extends ../layout/main

block variables
	- var title = "Shuffle"

block content
	header.header
		.container
			span.logo shuffle
			//- a(href="#").header__login
			//- 	+icon('user')
	main
		
		section.color-cards
			.container
				.color-card.color-card_yellow 
					span.color-card__h Leisure
					+lazyPicture('img/Leisure', ['webp','png'], ['1001px','768px','486px'], ['1x', '2x'])
				.color-card.color-card_pink 
					span.color-card__h Business
					+lazyPicture('img/Business', ['webp','png'], ['1001px','768px','486px'], ['1x', '2x'])
				.color-card.color-card_long
					span.color-card__h The world's first generation and navigation system of city business content
					+lazyPicture('img/dubai', ['webp','png'], ['1001px','768px','486px'], ['1x', '2x'])
		section.download
			.container
				div(id="shuffle-logo")
				.float-img-block
					.text
						h2.download__header Download 
						span.download__slogan.text-gradient Palette yourself
						//This only mobile
						.phglr.swiper 
							.swiper-wrapper 
								.swiper-slide
									span.phglr__header Guess your mood and suggest
										br
										| where to go
									+lazyPicture('img/ph1', ['webp','png'], ['1001px','768px','486px'], ['1x', '2x'])
								.swiper-slide
									span.phglr__header Shuffle, find out
										br
										| what you like
									+lazyPicture('img/ph2', ['webp','png'], ['1001px','768px','486px'], ['1x', '2x'])
								.swiper-slide
									span.phglr__header Lovely-touch amazing
										br
										| interaction 
									+lazyPicture('img/ph3', ['webp','png'], ['1001px','768px','486px'], ['1x', '2x'])
								.swiper-slide
									span.phglr__header Look for yours without a
										br
										| selection algorithm
									+lazyPicture('img/ph4', ['webp','png'], ['1001px','768px','486px'], ['1x', '2x'])
						.better-descktop
							.text-gradient You'd better check out desktop version


						span.download__lead Smart leisure selection for everyone, everywhere
						.apps 
							span.apps__header Download app
							.apps__links
								a(href="https://play.google.com/store/apps/details?id=tech.azart.shuffle")
									img(src="img/google-play.svg" alt="google play")
								a(href="https://apps.apple.com/us/app/shuffle-your-evening/id6449493932")
									img(src="img/app-store.svg" alt="app store")
								a(href="#")
									img(src="img/app-gallery.svg" alt="app gallery")
					//This only desktop
					//- +lazyPicture('img/ph1', ['webp','png'], ['1001px','768px','486px'], ['1x', '2x']).img
					img.img(src="img/ph1.png", alt="")
				
				.features.swiper
					.swiper-wrapper
						.item
							+lazyPicture('img/features/unique-content', ['webp','png'], ['1001px','768px','486px'], ['1x', '2x'])
							| A unique content recommendation system
						.item
							+lazyPicture('img/features/no-ads', ['webp','png'], ['1001px','768px','486px'], ['1x', '2x'])
							| No third-party intrusive ads
						.item 
							+lazyPicture('img/features/no-aggregator', ['webp','png'], ['1001px','768px','486px'], ['1x', '2x'])
							| Not an aggregator. Any solution in 2 taps
						.item 
							+lazyPicture('img/features/create-city', ['webp','png'], ['1001px','768px','486px'], ['1x', '2x'])
							| Create a city yourself, register your places and events
		section.why 
			.container 
				h2 Why Shuffle?
				.why__grid 
					.why__item.a-hidden.animate
						.text 
							p Overcome loneliness and find friends (entertainment and networking)
					.why__item.a-hidden.animate
						.text
							p Quick selections of content for the current activity format
					.why__item.a-hidden.animate
						.text
							p You can take part in the dynamics of the city (create events, suggest places, influence ratings)
					.why__item.a-hidden.animate
						.text 
							p All basic functionality is free
					.why__item.a-hidden.animate
						.text
							p Not looking for places and events, you are connected to a unique content generation system - everything is already found
					.why__item.a-hidden.animate
						.text
							p Determine your moods and feelings and offer relevant content, here and now
					.why__item.a-hidden.animate
						.text 
							p You will always be aware of the entertainment and business life of Dubai and other major cities
					.why__item.a-hidden.animate
						.text
							p The opportunity to become a popular influencer on a new platform
					.why__item.a-hidden.animate
						.text
							p Don't need to plan anything, everything is already planned and sorted for you. Choose
					.why__item.a-hidden.animate
						.text
							p Interactive and unique interface based on simplicity and interaction
		section.aggregator 
			.container
				.aggregator-row 
					.text
						p 
							b Toooo many steps
							|  to reach the goal
					.ac-gal.ac-gal_l
						span.ac-gal__tittle Aggregator
						.accordion-gallery.accordion-gallery_shadow
							.item.active
								img(src='img/aggregator/1.svg')
								span.slogan Web search in a search engine
								span.num 1.
							.item
								img(src='img/aggregator/2.svg')
								span.slogan Filter out adverts and paid non-core adverts
								span.num 2.
							.item
								img(src='img/aggregator/3.svg')
								span.slogan Go to the site
								span.num 3.
							.item
								img(src='img/aggregator/4.svg')
								span.slogan Filter again
								span.num 4.
							.item
								img(src='img/aggregator/5.svg')
								span.slogan Search on the site
								span.num 5.
							.item
								img(src='img/aggregator/6.svg')
								span.slogan Search among the result and similar adverts, very suitable for us
								span.num 6.
							.item
								img(src='img/aggregator/7.svg')
								span.slogan The result could quite possibly be negative
								span.num 7.
				.aggregator-row 
					.text
						p Just 
							b.text-gradient two steps 
							|  with love
					.ac-gal
						span.ac-gal__tittle.text-gradient shuffle
						.accordion-gallery.accordion-gallery_s
							.item.active
								img(src='img/aggregator/p1.png')
								span.slogan Open Shuffle app
								span.num 1.
							.item
								img(src='img/aggregator/p2.png')
								span.slogan Select the desired section - get the result (just for you, just now, moderated by quality)
								span.num 2.
					.add-text Take advantage of unique opportunities
							
		section.bubbles
			.container
				h2 Extraordinary unique system of psycho / physical analysis, recommendations and generation of various scenarios for users
				div(id="bubbles")
					svg#bubbles_svg(viewBox='0 0 100 100' preserveAspectRatio='none')
						//- defs
						//- 	linearGradient#path_gradient
						//- 		stop(offset='0%' stop-opacity='0.5' stop-color='#C6E216')
						//- 		stop(offset='45%' stop-color='#C6E216' stop-opacity='.8')
						//- 		stop(offset='50%' stop-opacity='1' stop-color='#E32900')
						//- 		stop(offset='55%' stop-opacity='.8' stop-color='#C6E216')
						//- 		stop(offset='100%' stop-opacity='0.5' stop-color='#C6E216')
						//- 		animate(attributeName="fy" dur="700ms" from="90%" to="0%" repeatCount="indefinite")
						defs
							lineargradient#path_gradient1
								stop(offset='0%' stop-color='#949393')
								stop(offset='33%' stop-color='#949393')
								stop(offset='50%' stop-color='#f2f2f2')
								stop(offset='67%' stop-color='#949393')
								stop(offset='100%' stop-color='#949393')
								animateTransform(attributename='gradientTransform' type='translate' from='-1 0' to='1 0' begin='1s' dur='2.5s' repeatcount='indefinite')
							lineargradient#path_gradient2
								stop(offset='0%' stop-color='#949393')
								stop(offset='33%' stop-color='#949393')
								stop(offset='50%' stop-color='#f2f2f2')
								stop(offset='67%' stop-color='#949393')
								stop(offset='100%' stop-color='#949393')
								animateTransform(attributename='gradientTransform' type='translate' from='-1 0' to='1 0' begin='0s' dur='2s' repeatcount='indefinite')
							lineargradient#path_gradient3
								stop(offset='0%' stop-color='#949393')
								stop(offset='33%' stop-color='#949393')
								stop(offset='50%' stop-color='#f2f2f2')
								stop(offset='67%' stop-color='#949393')
								stop(offset='100%' stop-color='#949393')
								animateTransform(attributename='gradientTransform' type='translate' from='-1 0' to='1 0' begin='0.7s' dur='2s' repeatcount='indefinite')
							lineargradient#path_gradient4
								stop(offset='0%' stop-color='#949393')
								stop(offset='33%' stop-color='#949393')
								stop(offset='50%' stop-color='#f2f2f2')
								stop(offset='67%' stop-color='#949393')
								stop(offset='100%' stop-color='#949393')
								animateTransform(attributename='gradientTransform' type='translate' from='-1 0' to='1 0' begin='0.3s' dur='1.5s' repeatcount='indefinite')

						
					.dot(style='top: 3%;left: 3%;width: 146px;z-index:3' id="dot_d1" data-target="dot_d24") Like beautiful photos
					.dot(style='top: 6%;left: 25.4%;' id="dot_d2" data-target="dot_d20").dot_s Like extreme
					.dot(style='top: 12%;left: 12%;width: 179px;z-index:2' id="dot_d3").dot_icon 
						img(src="img/tiger.svg")
						| Active tiger
					.dot(style='top: 28.5%;left: 6%;width: 90px;padding-inline: 5px;' id="dot_d4" data-target="dot_d15") Love blues
					.dot(style='top: 25%;left: 22%;width: 134px;' id="dot_d5" data-target="dot_d23") Hedonist

					.dot(style='top: 10%;left: 41%;' id="dot_d6" data-target="dot_d25").dot_ss Have a pet
					.dot(style='top: 20%;left: 56%;' id="dot_d7" data-target="dot_d19").dot_ss With children
					.dot(style='top: 22%;left: 41%; width: 204px;padding-left:86px' id="dot_d8").dot_icon 
						img(src="img/family.svg"  style="top:47px;left:13px;")
						|Family fan
					.dot(style='top: 39%;left: 37%; width: 130px;' id="dot_d9" data-target="dot_d24") Like beautiful photos
					.dot(style='top: 38%;left: 54.5%;' id="dot_d10").dot_ss Loving spouses

					.dot(style='top: 4.5%;left: 63.5%; width: 110px;z-index:1' id="dot_d11") Researcher
					.dot(style='top: 8%;left: 69%; width: 191px;' id="dot_d12").dot_icon 
						img(src="img/adventure.svg" style="top:45px")
						| Interested adventurer
					.dot(style='top: 8%;left: 86%; width: 152px;' id="dot_d13" data-target="dot_d25") Like animals
					.dot(style='top: 32%;left: 80%;' id="dot_d14" data-target="dot_d22").dot_ss  Love nature

					.dot(style='top: 54%;left: 24.5%; width: 106px;padding-inline: 13px;' id="dot_d15") Live music
					.dot(style='top: 59%;left: 3%;' id="dot_d16").dot_s Tasty coffee
					.dot(style='top: 59%;left: 12%; width: 190px;' id="dot_d17").dot_icon 
						img(src="img/cutlery.svg"  style="top:45px")
						|Restaur
						br
						|ant
					.dot(style='top: 75%;left: 27%;' id="dot_d18").dot_ss Wine list
					.dot(style='top: 77%;left: 7%; width: 133px;' id="dot_d19") Children menu

					.dot(style='top: 52%;left: 59.5%; width: 139px;' id="dot_d20") 
						p 
							| Amusement 
							br 
							| rides 
							br 
							| for kids and
							br 
							| adults
					.dot(style='top: 54%;left: 69%; width: 252px;' id="dot_d21").dot_icon 
						img(src="img/trees.svg"  style="top:80px;left:26px")
						| City park
					.dot(style='top: 57%;left: 84%;' id="dot_d22").dot_s Body of water
					.dot(style='top: 78%;left: 63%; width: 116px;padding-inline: 17px;' id="dot_d23") BBQ and picnic areas
					.dot(style='top: 82%;left: 78%;' id="dot_d24").dot_ss Photo zones
					.dot(style='top: 70%;left: 88%; width: 116px;' id="dot_d25") Pets friendly

		section.functions 
			.container 
				.functions__text 
					h2 Functions & Usability
					p After conducting a thorough analysis of user experience in other apps and services, we were able to find the perfect formula for our interface. We found the golden mean where design can impress and delight the eye, while also being user-friendly and easy to use.
				.functions__schema 
					a(href="#" data-target="func_connections" style="top: 21%;left: -3%;").open-modal connections
					a(href="#" data-target="func_favorites" style="top: 30%;left: 34%;").open-modal Favorites
					a(href="#" data-target="func_properties" style="top: 13%;left: 72%;").open-modal Unique properties
					a(href="#" data-target="func_business" style="top: 38%;left: 5%;").open-modal Business content
					a(href="#" data-target="func_shuffle" style="top: 42%;left: 50%;").open-modal shuffle
					a(href="#" data-target="func_feelings" style="top: 50%;left: 67%;").open-modal your feelings
					a(href="#" data-target="func_spinner" style="top: 59%;left: 29%;").open-modal spinner
					a(href="#" data-target="func_points" style="top: 70%;left: 10%;").open-modal points system
					a(href="#" data-target="func_profile" style="top: 76%;left: 60%;").open-modal Unique member profile
		section.challenges 
			.container 
				h2 
					span Dubai's Challenges and 
					span  Solutions
				+lazyPicture('img/dubaiv2', ['webp','jpg'], ['1001px','768px','486px'], ['1x', '2x']).challenges__bg
		section.inf-list 
			.inf-list__wrapper
				.item.r-card.r-card_ext
					span.r-card__header A difficult adjustment to holidaying in Dubai
					.r-card__text
						p  The social environment seems unfriendly and overloaded with irrelevant offers. Instead of experiencing positive emotions, a person gets stuck in problems of search, socialization and everyday life, instead of resting or pursuing their goals.
				.item.r-card.r-card_ext
					span.r-card__header Stagnation of the entertainment market
					.r-card__text
						p  Small companies, being overshadowed by big brands, go unnoticed by their customers. Similarly, consumers with modest income levels do not find suitable offers. The quality of the market suffers from significant competitive inequality and lack of choices in the information field.
				.item.r-card.r-card_ext
					span.r-card__header Hidden threat to society
					.r-card__text
						p  WHO experts predict that depression will become a key cause of disability, ranking second after cardiovascular pathology. The problem of loneliness is relevant worldwide, for example, according to the ONS, 29% of Britons spend their leisure time alone.
				.item.r-card.r-card_ext
					span.r-card__header Large quantity does not mean quality
					.r-card__text
						p  A large number of places and events does not mean the quality of each of them. 
							br
							| According to DET, only 3 % of restaurants meet high quality standards. The same can be assumed for other types of places or leisure activities. There may be enough human traffic for everyone, but it does not mean that people will be satisfied.

		section.inf-list 
			.inf-list__wrapper.inf-list__wrapper_right
				.item.r-card.r-card_check
					span.r-card__header Healthy competition
					.r-card__text 
						p Healthy competition - collective progress
						p Shuffle brings a breath of fresh air to small companies, promoting their development and market presence.
						p By stimulating traffic and moderating establishments and events, it will increase demand and most importantly, the reach of visits, encourage the growth in the level and quality of offerings.
				.item.r-card.r-card_check
					span.r-card__header Get the most out of leisure and business events
					.r-card__text 
						p Get the most out of leisure and business events
						p Shuffle is a smart pocket guide that doesn't burden the user, but thinks for them. Sequentially providing a narrow selection of places, events, activities based on: location; mood; interests; weather conditions; budget level, and many other unique features
				.item.r-card.r-card_check
					span.r-card__header Friends and networking everywhere
					.r-card__text 
						p Friends and networking everywhere
						p Shuffle doesn't provoke depression, but breaks it down by considering your emotions. Finding company with similar interests for a specific event or place is not a problem. Finding business events, partners, or communities - however you want
				.item.r-card.r-card_check
					span.r-card__header Volume and quality
					.r-card__text 
						p Attracting large international traffic; strengthening user interaction through various social solutions; a strict and fair system of content moderation, rules that allow everyone to have equal rights, user feedback that is not influenced by commerce; all this creates an infrastructure in which it is interesting to exist and one must strive to ensure quality in order to be in. This approach will distribute traffic to all the quality content that the Emirate provides and will provoke the services quality increase.

		section.slider-panel 
			.container 
				h2 Shuffle as the city's control panel
				p.lead Not only observe, but can control
			.panel-slider.swiper
				.swiper-wrapper
					.swiper-slide 
						.text
							p Different types of traffic on the map. Determine low traffic and improve it. Determine low quality of  entire regions dynamics and improve it
						+lazyPicture('img/panel/p1', ['png'], ['1001px','768px','486px'], ['1x', '2x'])
					.swiper-slide 
						.text
							p Detailed activity statistics,  of offers conversion percentage and attractiveness of each region
						+lazyPicture('img/panel/p2', ['png'], ['1001px','768px','486px'], ['1x', '2x'])
					.swiper-slide 
						.text
							p Phenomenal psychological profiles users statistics and types of content of the entire Emirate
						+lazyPicture('img/panel/p3', ['png'], ['1001px','768px','486px'], ['1x', '2x'])
					.swiper-slide 
						.text
							p You know exactly the general social statistics. Do you know the exact statistics of the people, form leisure consumption and create the dynamics of the entire Emirate on the international stage? We know
						+lazyPicture('img/panel/p4', ['png'], ['1001px','768px','486px'], ['1x', '2x'])
				.swiper-pagination
			
		section.pre-footer
			.container 
				a.btn(href="#").btn_l download app
	footer.footer
		.container 
			div.menu-container
				div
					span.logo.logo_footer

				ul.footer__menu 
					li 
						a(href="/privacy.html") Privacy Policy
					li
						a(href="/terms.html") Terms of service

				div.footer__info
					div 
						span Shuffle 
						span.text-gradient palette yourself
					div 
						| azart technologies fzco
						span 
							| • 2024
					div 
						span.muted
							| Dubai Silicon Oasis


			ul.social-list
				//- li 
				//- 	a(href="#")
				//- 		+icon('instagram') 
				//- li 
				//- 	a(href="#")
				//- 		+icon('telegram') 
				//- li 
				//- 	a(href="#")
				//- 		+icon('fb') 
			.footer__copyright 
				p © Shuffle • azart technologies fzco • 2024 
				//- a(href="") Privacy policy
	.overlay 
	.modal(id="func_profile")
		.modal__close 
			+icon('x')
		span.modal__header Unique member profile
		.modal__body 
			img(src="img/modal1.png" alt="")
			p Choose your interests
				br
				| Personalize your Shuffle account. In the future, it will become your personal or media diary of a traveler in the world of leisure and entertainment.
	
	.modal(id="func_favorites")
		.modal__close 
			+icon('x')
		span.modal__header Favorites
		.modal__body 
			img(src="img/modal2.png" alt="")
			p The best places and events will not be lost, add them to your favorites
	.modal(id="func_properties")
		.modal__close 
			+icon('x')
		span.modal__header Unique properties
		.modal__body 
			img(src="img/modal3.png" alt="")
			p Scroll through the unique properties the place has to offer and find the best for you
	.modal(id="func_business")
		.modal__close 
			+icon('x')
		span.modal__header Business content
		.modal__body 
			img(src="img/modal4.png" alt="")
			p Choose your favorite business niche and get relevant content quickly and easily
	.modal(id="func_shuffle")
		.modal__close 
			+icon('x')
		span.modal__header Shuffle
		.modal__body 
			span.modal__h2 Try yourself
			img(src="img/modal5.png" alt="")
			p Choose your favorite places
				br
				| Game system for filtering places, no routine or tediousness
	.modal(id="func_feelings")
		.modal__close 
			+icon('x')
		span.modal__header Your feelings
		.modal__body 
			img(src="img/modal6.png" alt="")
			p The smart system will automatically determine your condition, weather outside the window, location to offer the best source of emotional sensations 
	.modal(id="func_spinner")
		.modal__close 
			+icon('x')
		span.modal__header Spinner
		.modal__body 
			p Game event filtering system, no routine or tediousness
			img(src="img/modal7.png" alt="")
	.modal(id="func_points")
		.modal__close 
			+icon('x')
		span.modal__header Points system
		.modal__body 
			img(src="img/modal8.png" alt="")
			p Perform mini actions accumulating points inside the Shuffle, thereby increasing your status and exchanging points for bonuses
	.modal(id="func_connections")
		.modal__close 
			+icon('x')
		span.modal__header Connections
		.modal__body 
			img(src="img/modal9.png" alt="")
			p Find a company to visit a place or event to make the emotions even richer


			
				