extends ../layout/main

block variables
    - var title = "Terms of service | Shuffle"

block content
    main(style="padding: 2em")
        h1 Shuffle
        h2 TERMS OF SERVICE
        h2 AGREEMENT TO OUR LEGAL TERMS
        p Dubai Silicon Oasis, UAE
        p azart technologies fzco
        p
            a(href="official@shuffle.city") official@shuffle.city
            |&nbsp;general questions about services
        p
            a(href="hugs@shuffle.city") hugs@shuffle.city
            |&nbsp;support service
        p Shuffle is a mobile app in Dubai and around the world, connected to events and places that shape the dynamics of social and business life in megacities. It is a sophisticated system of recommendations and customized content. It is an impressive set of social and business tools. It is a significant emphasis on the interactivity of the mobile application itself, to get a positive experience, pleasure from the very process of using the service. This is sometimes paranoid attention to design details. We created and develop the Shuffle project to make it convenient and useful for you. In today's world of aggressive marketing - this is important.
        p These Legal Terms constitute a legally binding agreement between you personally or on behalf of the entity and azart technologies fzco, regarding your access to and use of the Services. You agree that by accessing the Services, you have read, understood and agreed to be bound by all of these Legal Terms. IF YOU DO NOT AGREE TO ALL OF THESE LEGAL TERMS, YOU ARE STRICTLY PROHIBITED FROM USING THE SERVICES AND MUST CEASE USE IMMEDIATELY.
        p If we make material changes to these Terms of Use and we have your email address, we will send you notice of the changes. By continuing to use the Services after the effective date of any changes, you agree to be bound by the modified terms.
        p We recommend that you print a copy of these Legal Terms and Conditions for your safekeeping.
        h3 TABLE OF CONTENTS
        p 1. THIS IS US
        p 1.1. SERVICES
        p 1.2. CONTENT
        p 1.3. USERS
        p 1.3.1. ACCOUNTS
        p 1.3.2 SUBSCRIPTIONS
        p 2. TERMS OF USE
        p 2.1. APPLICATION
        p 2.2. AGREEMENT
        p 3. YOUR USE OF THE SERVICES
        p 3.1. OUR SERVICES
        p 4. INTELLECTUAL PROPERTY RIGHTS
        p 5. USER SUBMISSIONS
        p 6. USER REGISTRATION
        p 7. PURCHASE AND PAYMENT
        p 8. POLITICS
        p 9. PROHIBITED ACTIVITIES
        p 10. USER CONTRIBUTION
        p 11. CONTRIBUTION LICENSE
        p 12. GUIDELINES FOR REVIEWS
        p 13. MOBILE APPLICATION LICENSE
        p 14. SOCIAL NETWORKS
        p 15. THIRD-PARTY WEBSITES AND CONTENT
        p 16. ADVERTISERS
        p 17. SERVICE MANAGEMENT
        p 18. PRIVACY POLICY
        p 19. TERM AND TERMINATION
        p 20. MODIFICATIONS AND INTERRUPTIONS
        p 21. APPLICABLE LAW
        p 22. DISPUTE RESOLUTION
        p 23. CORRECTIONS
        p 24. DISCLAIMER
        p 25. LIMITATIONS OF LIABILITY
        p 26. COMPENSATION OF DAMAGES
        p 27. USER DATA
        p 28. ELECTRONIC COMMUNICATIONS, TRANSACTIONS AND SIGNATURES
        p 29. MISCELLANEOUS
        p 30. CONTACT US
        h3 1. THIS IS US
        p  azart technologies fzco is a company duly organized and existing under the laws of Dubai, United Arab Emirates, license number 23963
        p Activities:
        ul
            li Social media applications development & management
            li Computer systems & communication equipment software design
            li Marketing services via social media
        p We own azarties.com and shuffle.city.
        p We own the mobile application (c) Shuffle (pallete yourself) on IOS and Android on all public market platforms.
        h3 1.1. SERVICES 
        p  (c) Shuffle Mobile Application, the websites and domains azarties.com and shuffle.city, and all of their web pages, subdomains, domain variants and portions of those websites, all services available on or through them or otherwise provided by us are offered, supported and provided by azart technologies fzco. We call these "Services".
        h3 1.2. CONTENT
        p  Everything that is inside the Shuffle application - place cards, event cards, public user profiles or part of their data, any interactive information (reviews, ratings, chats, etc.) that can be added using the integrated functionality/ Shuffle toolkit.
        h3 1.3. USERS
        p We provide our registered users, place owners, event organizers with simple and fast tools to view, use, create, manage, promote place and event cards. We provide the opportunity to use the Shuffle ticket booking system or partner booking systems, as well as sell tickets and registrations, sell upsales related to these events and places; use social ("Connects”, "FulFill the dream”, "Social”) and interactive ("Feelings”, "Randomizer”) functions.
        p We call place card holders, event organizers, and any users of the Services "Users” and address them as "You.”
        h3 1.3.1. ACCOUNTS
        p All users of the Shuffle application are identified by an account type, which they select when registering for the application and, if desired, modify during the process of using the application. The following types of accounts are distinguished:
        li Regular account
        li Organization account
        li PRO account
        li Premium account
        li Influencer account
        h3 1.3.2. SUBSCRIPTIONS 
        p
            strong Paid Shuffle Subscriptions

        p All basic application functionality is free. There are several types of paid subscriptions, which, on the one hand, increase the comfort of using the service, and on the other hand, provide new opportunities, radically updating the functionality.

        p All subscriptions are issued through the platform on which the application is hosted. Direct integration of the purchase of subscriptions with marketplaces has been developed; payment is made using a method that is linked to the operating system of the user’s mobile device and which is used on the corresponding application marketplace.

        p Any third-party methods of purchasing subscriptions made through third parties are illegal and will result in account blocking.

        p The subscription price is indicated in accordance with the region in which the user ID is registered in the operating system of the mobile device.


        p
            strong Premium account (Yearly Premium Account Monthly Premium Account subscriptions)

        p There is a 7-day trial period available when purchasing a monthly subscription and a 14-day trial period when purchasing an annual subscription.

        p It is possible to subscribe for a month or a year. Subscription for a year is issued with a 30% discount. Subscription payment monthly is $8.90, if you pay for the year, then a 30% discount is $6.23. The account will be updated, a badge and avatar outline will appear, and new features will become available.

        p It is an improvement to a regular user account, expanding its capabilities and providing a unique opportunity to further upgrade the account to an influencer.


        p Non-public profile


        li Connections

        li Special badge and logo outline

        li Ability to create stacks of favorites and share them

        li Ability to leave reviews (forming ratings) and video reactions

        li Ability to suggest favorite places

        li Light theme

        li Opportunity to become an influencer


        p
            strong Influencer account (free)

        p A free upgrade to your premium account, which can significantly expand the existing functionality. Allows you to accumulate an audience and interact with it, create your own content and share it; increase and prove your expertise in your chosen field.

        p Public profile


        li Possibility to choose specialization

        li The ability to assign personal respect to content

        li The ability to use a unique set of influencer tools and post in a common feed (mini-voices, personal tops, ideal routes, your own chat, interviews, NFT character, participation in tasks, videos)

        li Possibility to place links to external social networks

        li Monetization of activities


        p
            strong PRO account (Monthly Pro Account, Monthly Pro+ Account, Yearly Pro Account subscriptions)

        p There is a 7-day trial period available when purchasing a monthly subscription and a 14-day trial period when purchasing an annual subscription.

        p It is possible to subscribe for a month or a year. Subscription for a year is issued with a 30% discount. With a standard Monthly Pro Account subscription for $18.9/month, the user gets the opportunity to create 3 Events at a time. If you need additional Events, you can change your subscription to a Monthly Pro+ Account, where 6 Events are available for $30/month. When paying annually, there is a 30% discount - $21/month.

        p It is an improvement to a regular user account, expanding its capabilities - it makes it possible to create, manage and promote your events.

        p PRO+ functionality is similar to that of a PRO account, but with an additional amount of content to create.


        p Public profile


        li Ability to create, manage and promote events

        li Using the application's motivational system through the point system

        li Possibility to sell services through the Shuffle booking system

        li Up sales

        li Targeted event promotion system

        li User motivational notification systems

        li Connections

        li Special badge and logo outline

        li Ability to create stacks of favorites and share them

        li Light theme


        p
            strong Organization account (small pack, small pack monthly, medium pack, large pack subscriptions)

        p There is a 7-day trial period available when purchasing a monthly subscription and a 14-day trial period when purchasing an annual subscription.

        p An account that is available at the beginning of registration in the application. Is not a user of the application content and all its functions. Provides the ability to create, manage and promote places (and networks of places) and events created in places. Provides additional analytics and document processing capabilities. It also allows you to confirm your rights to places already created in the application.

        p On the Company's standard Small pack subscription for $58.9/month, the user gets the opportunity to create 3 Places and 3 Events in each Place (3 Places, 9 Events). If you need additional Places/Events, you can change your subscription.
        p When creating Places, the user will see how many are still available for creation on the current subscription.

        p Changing the Small pack subscription to Subscription+ (Medium pack) allows you to have 3 Places with 5 Events each at a time (3 Places, 15 Events) for $75/month. If you pay annually there will be a 20% discount - $60.If there is a need to increase the number of Places rather than Events, that is, Subscription++ (Large pack), it makes it possible to create 5 Places at the same time with 3 Events in each (5 Places, 15 Events) for $90. If you pay annually there will be a 20% discount - $72.

        p Non-public Profile

        h3 2. TERMS OF USE
        h3 2.1. APPLICATION
        p This Terms of Use document sets forth the terms and conditions under which Users may use the Services. If you use the Services in any way, these Terms of Use apply to you. By accepting the Terms of Use and using the Services in any way, you agree to these Terms of Use without modification and enter into an Agreement with azart technologies fzco.
        h3 2.2. AGREEMENT
        p These Terms of Use, as well as the rights and obligations contained in these Terms of Use, are deemed accepted from the moment you begin using any Services, as well as at the time of registration in the Shuffle mobile application.
        
        h3 3. YOUR USE OF THE SERVICES
        h3 3.1 OUR SERVICES
        p azart technologies fzco hereby grants a personal, non-exclusive, non-transferable, non-sublicensable, revocable, limited right to access and use the Services solely for the purposes of: (a) viewing the Services and searching, viewing, registering or purchasing tickets; and/or (b) use of social ("Connects”, "FulFill the dream”, "Social”) and interactive ("Feelings”, "Randomizer”) functions; and/or (c) if you are an event organizer or venue owner (and associated account types), - creating Content, creating event registrations, event upsales, as well as promoting, managing Content, tracking and collecting revenue from ticket sales and additional sales products.
        p
        p Subject to these Terms of Use, Privacy Policy, to the extent permitted by all applicable local, state, provincial, national and other laws, rules and regulations.
        p
        p You must not allow anyone, directly or indirectly:
        p (a) copy, modify, reproduce, translate, localize, port or otherwise create derivative works of any portion of the Services; (b) reverse engineer, disassemble, decompile or otherwise attempt to discover the source code or structure, sequence or organization of all or any part of the Services; (c) rent, lease, resell, distribute, use the Services to supplement your third-party business activities or for other commercial purposes not contemplated by this Agreement, or otherwise use the Services in any unauthorized or unintended manner; (d) remove or alter any proprietary rights notices or labels on or in the Services; or (e) engage in any activity that interferes with or disrupts the Services. Any rights not expressly granted in this paragraph are reserved.
        p The information provided through the Services is not intended for distribution to or use by any person or entity in any jurisdiction or country where such distribution or use would be contrary to law or regulation or which would require us to have any registration requirements in such jurisdiction or country. Accordingly, those persons who choose to access the Services from other locations do so on their own initiative and are solely responsible for compliance with local laws, if and to the extent local laws are applicable.
        
        h3 4. INTELLECTUAL PROPERTY RIGHTS Our intellectual property
        p
            strong Our intellectual property
        p We are the owner or licensee of all intellectual property rights in our Services, including all source code, databases, functionality, software, website design, audio, video, text, photos and graphics in the Services, as well as the trademarks, service marks and logos contained therein.
        p Our Content and Marks are protected by copyright and trademark laws (as well as various other intellectual property rights and unfair competition laws).
        p The Content and Marks are provided on the Services for your personal, non-commercial use or internal business purposes only.
        p
            strong Your use of our Services
        p Subject to your compliance with these Legal Terms, including the "FORBIDDEN ACTIVITIES" section below, we grant you a non-exclusive, non-transferable and revocable license to:
        ul
            li gaining access to the Services;
            li downloading or printing a copy of any portion of the Content to which you have properly gained access solely for your personal, non-commercial use or internal business purposes.
        p Except as set forth in this section or elsewhere in our Legal Terms, no part of the Services or the Content or Marks may be copied, reproduced, aggregated, republished, uploaded, posted, publicly displayed, encoded, translated, transmitted, distributed, sold, licensed or otherwise exploited for any commercial purpose without our prior written permission.
        p If you want to use the Services, Content or Marks differently than described in this section or elsewhere in our Legal Terms, send your request to: official@shuffle.city. If we ever grant you permission to publish, reproduce or publicly display any part of our Services or Content, you must identify us as the owner or licensor of the Services, Content or Marks and ensure that any copyright or proprietary notices appear or are prominently displayed when publishing, reproducing or displaying our Content.
        p We reserve all rights not expressly granted to you with respect to the Services, Content and Marks.
        p Any infringement of these Intellectual Property Rights will constitute a material breach of our Legal Terms and your right to use our Services will be terminated immediately.
        
        p
            strong Your materials and contributions
        p Please review this section and the "FORBIDDEN ACTIVITIES" section carefully before using our Services to understand the rights you grant us and the obligations you have when posting or uploading any content through the Services.
        p Materials: by sending us directly any questions, comments, suggestions, ideas, feedback or other information about the Services ("Materials"), you agree to assign to us all intellectual property rights in such Materials. You agree that we will own the Publication and have the right to use and distribute it unrestricted for any lawful purpose, commercial or otherwise, without your consent or compensation.
        p Contributions: the Services may invite you to communicate, contribute to, or participate in blogs, message boards, online forums, and other features where you may create, submit, post, display, transmit, publish, distribute, or broadcast content and materials to or through the Services, including but not limited to text, articles, video, audio, photos, music, graphics, comments, reviews, rating suggestions, personal information, or other materials.
        p 
        p You understand that Contributions may be viewable by other users of the Services and possibly through third-party websites.
        p By posting Contributions, you grant us a license (including the use of your name, trademarks and logos): by posting any Contributions, you grant us an unlimited, irrevocable, perpetual, non-exclusive, transferable, royaltyfree, fully paid-up, worldwide right and license to: use, copy, reproduce, distribute, sell, resell, publish, broadcast, rename, store, publicly perform, publicly display, reformat, translate, excerpt (in whole or in part), and to use your Contributions (including but not limited to your image, name and voice) for any purpose whatsoever, commercially, promotionally or otherwise. Our use and distribution may be in any media formats and through any media channels.
        p This license includes our use of your name, company name and franchise name, if applicable, as well as any trademarks, service marks, trade names, logos, and personal and commercial images you provide.
        p You are responsible for what you post or upload: By submitting Materials to us and/or posting Contributions through any part of the Services or by making Contributions available through the Services by linking your account through the Services to any of your social media accounts, you:
        ul
            li confirm that you have read and agree to our "FORBIDDEN ACTIVITIES" and will not send, publish, upload or transmit through the Services any material, or post any material that is unlawful, abusive, hateful, harmful, defamatory, obscene or intimidating, offensive, discriminatory, threatening to any person or group, sexually explicit, false, inaccurate, deceptive or misleading;
            li to the extent permitted by applicable law, waive any moral rights in any such Materials and/or Contributions;
            li warrant that any such Materials and/or Contributions are original to you or that you have the necessary rights and licenses to submit such Materials and/or Contributions and that you have full authority to grant us the foregoing rights with respect to your Materials and/or Contributions;
            li warrant and represent that your Materials and/or Contributions do not constitute confidential information.
        p You are solely responsible for your Materials and/or Contributions, and you expressly agree to indemnify us for all losses we may incur due to your violation of this Section, any third party's intellectual property rights or applicable law.
        p We may remove or edit your Content: although we are not required to monitor any Contributions, we have the right to remove or edit any Contributions at any time without prior notice if, in our reasonable judgment, we believe such Contributions are harmful or in violation of these Terms of Use. If we delete or edit any such information, we may also suspend or disable your account and report you to the authorities.
        
        h3 5. USER SUBMISSIONS
        p By using the Services, you represent and warrant that: 1. all registration information you provide will be true, accurate, current and complete; 2. you will maintain the accuracy of such information and promptly update such registration information as necessary; 3. you have the legal capacity and agree to comply with these Legal Terms; 4. you are not a minor in the jurisdiction in which you reside or, if you are a minor, you have obtained parental permission to use the Services; 5. you will not access the Services through automated or non-human means, whether through a bot, script or otherwise; 6. you will not use the Services for any illegal or unauthorized purpose; 7. your use of the Services will not violate any applicable laws or regulations.
        p If you provide any information that is incorrect, inaccurate, outdated or incomplete, we have the right to suspend or terminate your account and refuse any current or future use of the Services (or any part thereof).
        h3 6. USER REGISTRATION
        p To use the Services, you need to register. You agree to keep your password confidential and are responsible for any use of your account and password. We reserve the right to remove, return or change your chosen username if we determine, in our sole discretion, that such username is inappropriate, obscene or otherwise objectionable.
        h3 7. PURCHASE AND PAYMENT
        p You agree to provide current, complete and accurate purchase and account information for all purchases made through the Services. You also agree to promptly update your account and payment information, including your email address, payment method, and payment card expiration date, so that we can complete your transactions and contact you if necessary.
        p If your order is subject to recurring charges, you agree to us regularly charging your payment method without requiring your prior approval for each recurring charge until you cancel the applicable order. We reserve the right to correct any errors or mistakes in pricing, even if we have already requested or received payment.

        h3 8. POLITICS
        p All sales are final and no refunds will be given.
        h3 9. PROHIBITED ACTIVITIES
        p You may not access or use the Services for any purpose other than that for which we provide the Services. The Services may not be used for any commercial purpose except as specifically authorized or approved by us.
        p As a user of the Services, you agree not to:
        ul
            li obtain data or other content from the Services systematically to create or compile, directly or indirectly, a collection, compilation, database or catalog without our written permission;
            li deceive or mislead us and other users, especially in any attempt to learn sensitive account information, such as user passwords;
            li bypass, disable or otherwise interfere with the security features of the Services, including features that prevent or restrict the use or copying of any Content or impose restrictions on the use of the Services and/or the Content contained therein;
            li disparage, tarnish or otherwise harm us and/or the Services;
            li use any information obtained through the Services to harass, abuse or harm another person;
            li misuse our support services or send false reports of abuse or misconduct;
            li use the Services in ways that are inconsistent with any applicable laws or regulations;
            li engage in unauthorized framing or linking to the Services;
            li upload or transmit (or attempt to upload or transmit) viruses, Trojan horses or other material, including excessive use of capitalization and spam (continuous publication of repetitive text) that interferes with the uninterrupted use of the Services by any party or modifies, impairs, disrupts, alters or interferes with the use, function, operation or maintenance of the Services;
            li participate in any automated use of the system, such as using scripts to post comments or messages or utilizing any data mining, robots or similar data collection and extraction tools;
            li remove any copyright or other proprietary rights notice from any Content;
            li impersonate another user or person or use another user's name;
            li upload or transmit (or attempt to upload or transmit) any material that acts as a passive or active mechanism to collect or transmit information, including, but not limited to, clear graphic sharing formats ("gifs"), 1×1 pixels, web errors, cookies. or other similar devices (sometimes referred to as "spyware," "passive collection mechanisms," or "PKMs");
            li interfere with, disrupt or cause undue strain on the Services or the networks associated with the Services;
            li harass, annoy, intimidate or threaten any of our employees or agents involved in providing any part of the Services to you;
            li attempt to circumvent any measures of the Services designed to prevent or restrict access to the Services or any part thereof;
            li copy or adapt the Services' software, including but not limited to Flash, PHP, HTML, JavaScript or other code;
            li decipher, decompile, disassemble or reverse engineer any of the software comprising or in any way making up a part of the Services except to the extent permitted by applicable law;
            li use, launch, develop, or distribute any automated system, including, without limitation, any robot, cheat utility, scraper, or offline reader that accesses the Services, or use or launch any unauthorized script or other software, unless when this may be the result of standard use of a search engine or internet browser;
            li use a purchasing agent to make purchases from the Services;
            li use unauthorized Services, including collecting usernames and/or email addresses of users by electronic or other means for the purpose of sending unsolicited email, or creating user accounts by automated means or under false pretenses;
            li use the Services in any attempt to compete with us or otherwise use the Services and/or Content for any revenue generating purpose;
            li sell or otherwise transfer your profile.
        h3 10. USER CONTRIBUTION
        p The Services may invite you to communicate, contribute to, or participate in blogs, message boards, online forums, and other features, and may provide you with the ability to create, submit, post, display, transmit, perform, publish, publish, distribute, or broadcast content and materials to us or on the Services, including but not limited to text, text, video, audio, photos, graphics, comments, suggestions, or personal information or other materials (collectively, "Contributions"). Contributions may be viewed by other users of the Services and through third-party websites. Therefore, any Contributions you transmit may be treated as non-confidential and non-proprietary. When you create or provide access to any Contributions, you hereby represent and warrant that:
        ul
            li the creation, distribution, transmission, public display or performance of, or access, downloading or copying of your Contributions does not and will not infringe any proprietary rights, including but not limited to copyrights, patents, trademarks, trade secrets or moral rights of any third party;
            li you are the creator and owner of or have the necessary licenses, rights, consents, releases and permissions for us, the Services, and other users of the Services to use your Contributions in any manner contemplated by the Services and these Terms of Use;
            li your submissions are not false, inaccurate or misleading;
            li your Contributions are not unsolicited or unauthorized advertising, promotional materials, pyramid schemes, chain letters, spam, mass mailings or other forms of solicitation;
            li your materials are not obscene, lascivious, filthy, violent, offensive, libelous, or otherwise objectionable (as determined by us);
            li your materials do not ridicule, demean, intimidate or insult anyone;
            li your material is not used to harass or threaten (in the legal sense of those terms) any other person, or to advocate violence against a particular person or class of people;
            li your contributions do not violate any applicable laws, ordinances or regulations;
            li your contributions do not violate the privacy or advertising rights of any third party;
            li your material does not violate any applicable laws relating to child pornography or otherwise seek to protect the health or welfare of minors;
            li your content does not contain offensive comments related to race, national origin, gender, sexual preference or physical disability;
            li your Contributions do not otherwise violate or link to material that violates any provision of these Legal Terms or any applicable law or regulation.
        p Any use of the Services in violation of the foregoing violates these Legal Terms and may result in, among other things, termination or suspension of your rights to use the Services.
        h3 11. CONTRIBUTION LICENSE
        p By posting your Contributions to any part of the Services or by making Contributions available on the Services by linking your account on the Services to any of your social media accounts, you automatically grant, and represent and warrant that you have the right to grant us an unlimited, irrevocable, perpetual, non-exclusive, transferable, royalty- free, fully paid-up, worldwide right and license to post, use, copy, reproduce, disclose, sell, resell, publish, broadcast, rename, archive, store, cache, publicly perform, publicly display, reformat, translate, transmit, excerpt (in whole or in part), and distribute such Contributions (including but not limited to your image and voice) for any purpose, commercial, promotional, or otherwise, and to prepare derivative works of or incorporate into other works such Contributions, and to grant and authorize sublicenses of the foregoing. Use and distribution may be in any media formats and through any media channels.

        p This license will apply to any form, media or technology now known or hereafter developed and includes our use of your name, company name and franchise name, if applicable, as well as any trademarks, service marks, trade names, logos, and personal and commercial images you provide. You waive all moral rights in your Contributions and warrant that moral rights have not been otherwise asserted in your Contributions.
        p We do not claim ownership of your Contributions. You retain full title to all of your Contributions and any intellectual property or other proprietary rights associated with your Contributions. We are not responsible for any statements or representations in your Contributions made by you in any area of the Services. You are solely responsible for your Contributions to the Services and expressly agree to release us from any liability and to refrain from any legal action against us with respect to your Contributions.
        p We have the right, in our sole and absolute discretion, to: 1. edit or otherwise modify any Materials; 2. reclassify any Contributions to place them in more appropriate locations on the Services; 3. pre-screen or remove any Materials at any time and for any reason without notice. We have no obligation to track your Contributions.
        h3 12. GUIDELINES FOR REVIEWS
        p We may provide you with areas on the Services where you can leave reviews or ratings. When posting a review, you must comply with the following criteria: 1. you must have direct experience with the person/entity being reviewed; 2. your reviews should not contain offensive profanity or racist, hateful language; 3. Your reviews should not contain discriminatory references based on religion, race, gender, national origin, age, marital status, sexual orientation or disability; 4. your reviews should not contain references to illegal activities; 5. you must not be associated with competitors if you publish negative reviews; 6. you must not draw any conclusions regarding the legality of the conduct; 7. You may not post false or misleading statements; 8. You may not organize a campaign that encourages others to post reviews, whether positive or negative.
        p We may accept, reject or remove reviews at our discretion. We have absolutely no obligation to verify or remove reviews, even if someone finds them objectionable or inaccurate. Reviews are not endorsed by us and do not necessarily reflect our opinions or the views of any of our affiliates or partners. We are not responsible for any review or for any claims, liabilities or damages arising from any review. By posting a review, you hereby grant us a perpetual, non-exclusive, worldwide, royalty-free, fully paid, assignable, and sublicensable right and license to reproduce, modify, translate, transmit by any means, display, perform and/or distribute all content related to the review.
        h3 13. MOBILE APPLICATION LICENSE
        h3 Use of license
        p If you access the Services via the App, then we grant you a revocable, non-exclusive, non-transferable, limited right to install and use the App on wireless electronic devices owned or controlled by you, and to access and use the App on such devices strictly in accordance with terms and conditions of this mobile application license contained in these Legal Terms. You may not: 1. except as permitted by applicable law, decompile, reverse engineer, disassemble, attempt to derive the source code of, or decipher the Application; 2. make any changes, adaptations, improvements, additions, translations or derivative works from the Application; 3. violate any applicable laws, rules or regulations in connection with your access or use of the Application; 4. remove, alter, or obscure any proprietary notices (including any copyright or trademark notices) posted by us or the App's licensors; 5. use the App for any revenue generating endeavor, commercial enterprise, or other purpose for which it is not intended; 6. make the Application available over a network or other environment permitting access or use by multiple devices or users at the same time; 7. use the App for creating a product, service, or software that is, directly or indirectly, competitive with or in any way a substitute for the App; 8. use the App to send automated queries to any website or to send unsolicited commercial e-mail; 9. use any proprietary information or any of our interfaces or our other intellectual property in the design, development, manufacture, licensing, or distribution of any applications, accessories, or devices for use with the App.
        h3 Apple and Android devices
        p The following terms apply when you use an App obtained from the Apple Store or Google Play (each an "App Distributor”) to access the Services: 1. the license granted to you for our App is limited to a non-transferable license. Use the application on a device using the Apple iOS or Android operating systems, as applicable, and in accordance with the usage rules set forth in the applicable Application Distributor's terms of service; 2. We are responsible for providing any maintenance and support services with respect to the Application as set forth in the terms and conditions of this mobile application license contained in these Legal Terms or as otherwise required under applicable law, and you acknowledge that each The Application Distributor has no obligation to provide any maintenance or support services for the Application; 3. In the event of any failure of the App to conform to any applicable warranty, you may notify the applicable App Distributor, and the App Distributor, subject to its terms and policies, may refund the purchase price, if any, paid. With respect to the Application, and to the maximum extent permitted by applicable law, Application Distributor will have no other warranty obligation whatsoever with respect to the Application; 4. you represent and warrant that you are not located in a country that is subject to a U.S. Government embargo, or that has been designated by the U.S. Government as a "terrorist supporting” country and you are not listed on any U.S. Government list of prohibited or restricted parties; 5. You must comply with applicable third party terms of agreement when using the Application; 6. You acknowledge and agree that App Distributors are third¬party beneficiaries of the terms and conditions in this mobile application license contained in these Legal Terms, and that each App Distributor will have the right (and will be deemed to have accepted the right) to enforce the terms and conditions in this mobile application license. contained in these Legal Terms are against you as a third-party beneficiary.
        h3 14. SOCIAL NETWORKS
        p As part of the functionality of the Services, you may link your account with online accounts you have with third-party service providers (each such account, a "Third-Party Account”) by either: 1. providing your Third-Party Account, login information through the Services; or 2. providing us with access to your Third-Party Account, as permitted by the applicable terms and conditions that govern your use of each Third-Party Account. You represent and warrant that you are entitled to disclose your Third-Party Account login information to us and/or grant us access to your Third- Party Account, without breach by you of any of the terms and conditions that govern your use of the applicable Third- Party Account, and we are not obligated to pay any fees and are not subject to any usage restrictions imposed by the third-party service provider of the Third-Party Account. By granting us access to any Third Party Accounts, you understand that: 1. we may access, share, and store (if applicable) any content that you have provided and stored in your Third Party Account ("Social Network”) to it was made available on the Services and through your account, including, without limitation, any friends lists; 2. We may send and receive additional information from your Third- Party Account to the extent notified to you when you click on a link to your account from the Third-Party Account. Depending on the Third-Party Accounts you choose and subject to the privacy settings that you have set in such Third-Party Accounts, personal information that you post to your Third-Party Accounts may be available on and through your account on the Services. Please note that if a Third-Party Account or associated service becomes unavailable or our access to such Third-Party Account is terminated by the third-party service provider, then Social Network Content may no longer be available on and through the Services. You will have the ability to disable the connection between your account on the Services and third-party accounts at any time. PLEASE NOTE THAT YOUR RELATIONSHIP WITH THE THIRD-PARTY SERVICE PROVIDERS ASSOCIATED WITH YOUR THIRD-PARTY ACCOUNTS IS GOVERNED SOLELY BY YOUR AGREEMENT WITH THE THIRD-PARTY SERVICE PROVIDERS. We make no effort to review any Social Network Content for any purpose, including, but not limited to, accuracy, legality, or non-infringement, and we are not responsible for any Social Network Content. You acknowledge and agree that we may access your email address book associated with a Third-Party Account and your contacts list stored on your mobile device or tablet computer solely for the purpose of identifying and informing you of those contacts. who have also registered to use the Services. You may deactivate the connection between the Services and your Third-Party Account by contacting us using the contact information below or through your account settings (if applicable). We will attempt to delete any information stored on our servers that was received through such Third- Party Account, except for the username and profile picture that become associated with your account.
        h3 15. THIRD-PARTY WEBSITES AND CONTENT
        p The Services may contain (or may be sent to you through the Site or App) links to other websites ("Third Party Websites"), as well as articles, photographs, text, text, graphics, images, designs, music, sound, video, information, applications, software and other content or items owned by or originating from third parties ("Third Party Content"). Such Third-Party Websites and Third-Party Content are not investigated, monitored or reviewed for accuracy, appropriateness or completeness by us, and we are not responsible for any Third-Party Websites accessed through the Services. The inclusion of, linking to, or authorizing the use or installation of any Third-Party Websites or any Third-Party Content does not imply endorsement by us. If you choose to leave the Services and access Third Party Websites or use or install any Third-Party Content, you do so at your own risk and should understand that these Legal Terms are no longer enforceable. You should familiarize yourself with the applicable terms and policies, including privacy and data collection practices, of any website you access from the Services or with respect to any applications you use or install from the Services. Any purchases you make through Third Party Websites will be made through other websites and from other companies, and we have no responsibility or liability with respect to such purchases, which are solely between you and the applicable third party. You agree and acknowledge that we do not endorse products or services offered on Third Party Websites, and you agree to indemnify us from any harm caused by your purchase of such products or services. Further, you agree to hold us harmless for any loss or damage suffered by you in connection with any Third-Party Content or any contact with the Third-Party Websites or as a result of any contact with the Third-Party Websites.
        h3 16. ADVERTISERS
        p We allow advertisers to display their advertisements and other information in certain areas of the Services, such as sidebar ads or banner ads. We simply provide space for such advertising and have no other relationship with advertisers.
        h3 17. SERVICE MANAGEMENT
        p We reserve the right, but not the obligation: 1. to monitor the Services for violations of these Legal Terms; 2. take appropriate legal action against anyone who, in our sole discretion, violates the law or these Legal Terms, including without limitation, reporting such user to law enforcement authorities; 3. in our sole discretion and without limitation, refuse, restrict access to, limit the availability of, or disable (to the extent technologically feasible) any of your Contributions or any portion thereof; 4. in our sole discretion and without limitation, notice, or liability, to remove from the Services or otherwise disable all files and content that are excessive in size or are in any way burdensome to our systems; 5. otherwise manage the Services in a manner designed to protect our rights and property and to facilitate the proper functioning of the Services.
        h3 18. PRIVACY POLICY
        p We care about privacy and data security. Please read our Privacy Policy: https://shuffle.city/privacy.html.By using the Services, you agree to abide by our Privacy Policy, which is incorporated into these Legal Terms. Please note that the Services are provided in the United Arab Emirates. If you access the Services from any other region of the world where the laws or other requirements governing the collection, use or disclosure of personal data differ from the applicable laws in the United Arab Emirates, then by continuing to use the Services, you are transferring your data to the United Arab Emirates, and you expressly consent to the transfer and processing of your data to the United Arab Emirates.
        h3 19. TERM AND TERMINATION
        p These Legal Terms shall remain in full force and effect for as long as you use the Services. WITHOUT LIMITING ANY OTHER PROVISIONS OF THESE LEGAL TERMS, WE RESERVE THE RIGHT, IN OUR SOLE DISCRETION, WITHOUT NOTICE OR LIABILITY, TO DENY ACCESS TO AND USE OF THE SERVICES (INCLUDING BLOCKING CERTAIN IP ADDRESSES) TO ANY PERSON FOR ANY REASON, INCLUDING, BUT NOT LIMITED TO, BREACH OF ANY REPRESENTATION, WARRANTY OR COVENANT CONTAINED IN THESE LEGAL TERMS OR ANY APPLICABLE LAW OR REGULATION. WE MAY TERMINATE YOUR USE OF OR PARTICIPATION IN THE SERVICES, OR REMOVE YOUR ACCOUNT AND ANY CONTENT OR INFORMATION YOU HAVE POSTED AT ANY TIME, WITHOUT NOTICE, IN OUR SOLE DISCRETION.
        p If we terminate or suspend your account for any reason, you will be prohibited from registering or creating a new account under your name, a fictitious or borrowed name, or the name of any third party, even if you are acting on behalf of a third party. In addition to terminating or suspending your account, we reserve the right to take appropriate legal action, including but not limited to civil, criminal, and injunctive relief.
        h3 20. MODIFICATIONS AND INTERRUPTIONS
        p We reserve the right to change, modify or remove content from the Services at any time and for any reason in our sole discretion without notice. However, we have no obligation to update any information on our Services. We will not be liable to you or any third party for any modifications, price changes, suspension or discontinuance of the Services.
        p We cannot guarantee that the Services will be available at all times. We may experience hardware, software or other problems or require maintenance related to the Services, resulting in interruptions, delays or errors. We reserve the right to change, revise, update, suspend, discontinue or otherwise modify the Services at any time and for any reason without notice. You agree that we shall not be liable for any loss, damage or inconvenience caused by your inability to access or use the Services during downtime or discontinuance of the Services. Nothing in these Legal Terms shall be construed as obligating us to maintain the Services or to provide any patches, updates or releases in connection therewith.
        h3 21. APPLICABLE LAW
        p These Legal Terms shall be governed by and determined in accordance with the laws of the United Arab Emirates and you irrevocably agree that the courts of the United Arab Emirates shall have exclusive jurisdiction to settle any disputes that may arise in connection with these Legal Terms.
        h3 22. DISPUTE RESOLUTION
        p
           strong Informal negotiations
        p To expedite resolution and control the cost of any dispute, controversy or claim relating to these Legal Terms brought by you or us, the Parties agree to first attempt to resolve any Disputes informally for a minimum of 30 days prior to the commencement of arbitration. Such informal negotiations shall commence upon written notice by one Party to the other Party.
        p
            strong Binding arbitration
        p Any dispute arising out of these Legal Terms, including any question as to their existence or termination, shall be referred to and finally settled by the International Commercial Arbitration Court at the European Court of Arbitration (Belgium, Brussels, Avenue Louise 146) under the Rules of this ICAC, which by virtue of the reference thereto shall be deemed to form part of this paragraph. The number of arbitrators shall be three 3. The seat or legal place of arbitration shall be Dubai, United Arab Emirates. The language of the proceedings shall be English. The applicable law of these Legal Terms shall be the substantive law of the United Arab Emirates.
        p 
        p
            strong Limitations
        p The Parties agree that any arbitration shall be limited to Disputes between the Parties individually. To the fullest extent permitted by law, no arbitration shall be consolidated with any other proceeding; there is no right or authority to resolve any Dispute on a class action basis or to utilize class action procedures; and there is no right or authority to arbitrate any Dispute in a purported representative capacity on behalf of the general public or any other persons.
        p
            strong Exceptions to informal negotiations and arbitration
        p The Parties agree that the following Disputes shall not be subject to the above provisions regarding informal negotiations binding arbitration: (a) any Dispute seeking to enforce or protect or concerning the validity of any intellectual property rights of a Party; (b) any Dispute involving or arising out of allegations of theft, piracy, invasion of privacy or unauthorized use; (c) any claim for injunctive relief. If this provision is found to be illegal or unenforceable, then neither Party will elect to arbitrate any Dispute falling within the portion of this provision found to be illegal or unenforceable, and such Dispute will be resolved by a court of competent jurisdiction within the courts listed for jurisdiction above, and the Parties agree to submit to the personal jurisdiction of that court.
        h3 23. CORRECTIONS
        p There may be information on the Services that contains typographical errors, inaccuracies or omissions, including descriptions, pricing, availability and various other information. We reserve the right to correct any errors, inaccuracies or omissions and to change or update information about the Service at any time without prior notice.
        h3 24. DISCLAIMER
        p YOU AGREE THAT YOUR USE OF THE SERVICES IS AT YOUR SOLE RISK. TO THE MAXIMUM EXTENT PERMITTED BY LAW, WE DISCLAIM ALL WARRANTIES, EXPRESS OR IMPLIED, IN CONNECTION WITH THE SERVICES AND YOUR USE THEREIN, INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY, MERCHANTABILITY, SPECIFIC PURPOSE AND NON-INFRINGEMENT. WE DO NOT MAKE ANY WARRANTY OR REPRESENTATIONS ABOUT THE ACCURACY OR COMPLETENESS OF THE CONTENT OF THE SERVICES OR THE CONTENT OF ANY WEBSITES OR MOBILE APPLICATIONS LINKED TO THE SERVICES, AND WE DO NOT ACCEPT ANY RESPONSIBILITY FOR (1) ERRORS OR OMISSIONS IN CONTENT AND MATERIALS, (2) PERSONAL INJURY OR PROPERTY DAMAGE OF ANY KIND RESULTING FROM YOUR ACCESS TO AND USE OF THE SERVICES, (3) ANY UNAUTHORIZED ACCESS OR USE OF OUR SECURE SERVERS AND/OR ANY ALL PERSONAL INFORMATION AND/OR FIGURES FINANCIAL INFORMATION STORED IN THEM ( 4) ANY CESSATION OF TRANSMISSION OF THE SERVICES, (5) ANY BUGS, VIRUSES, TROJAN HORSES OR THE LIKE WHICH MAY BE TRANSMITTED THROUGH THE SERVICES BY ANY THIRD PARTY, (6) ANY ERRORS IN OR IN ANY CONTENT OR MATERIALS OR ANY LOSS OR DURATION SHARE ANYONE OF ANY KIND INCURRED AS A RESULT OF THE USE OF ANY CONTENT POSTED, TRANSMITTED OR OTHERWISE MADE AVAILABLE THROUGH THE SERVICES. WE DO NOT GUARANTEE, ENDORSE, GUARANTEE OR BE RESPONSIBLE FOR ANY PRODUCT OR SERVICE ADVERTISED OR OFFERED BY THIRD PARTIES THROUGH THE SERVICES, ANY WEBSITE, HYPERLINKED, OR ANY WEBSITE OR MOBILE APPLICATION PROVIDED IN ANY BANNER OR OTHER ADVERTISING AND WE WILL NOT HAVE ANY RESPONSIBILITY FOR MONITORING ANY TRANSACTION BETWEEN YOU AND THIRD-PARTY PROVIDERS OF PRODUCTS OR SERVICES. AS WITH THE PURCHASE OF A PRODUCT OR SERVICE THROUGH ANY MEDIUM OR IN ANY ENVIRONMENT, YOU SHOULD USE YOUR BEST JUDGMENT AND EXERCISE CAUTION.
        h3 25. LIMITATIONS OF LIABILITY
        p IN NO EVENT SHALL WE OR OUR DIRECTORS, EMPLOYEES OR AGENTS BE LIABLE TO YOU OR ANY THIRD PARTY FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL OR PUNITIVE DAMAGES, INCLUDING LOST PROFITS, LOSS OF REVENUE, LOSS OF DATA, OR OTHER DAMAGES ARISING OUT OF YOUR USE OF THE SERVICES, EVEN IF WE HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.
        h3 26. COMPENSATION OF DAMAGES
        p You agree to defend, indemnify and hold us, including our subsidiaries, affiliates and all of our respective officers, agents, partners and employees, harmless from any loss, damage, liability, claim or demand. Fees and expenses incurred by any third party in connection with: (1) your fees; (2) use of the Services; (3) breach of these Legal Terms; (4) any breach of your representations and warranties set forth in these Legal Terms; (5) your violation of third party rights, including but not limited to intellectual property rights; and (6) any overtly harmful act to any other user of the Service. Notwithstanding the foregoing, we reserve the right, at your expense, to assume the exclusive defense and control of any matter for which you are required to indemnify us, and you agree to cooperate, at your expense, in our defense of such claims. We will use reasonable efforts to notify you of any such claims, actions or proceedings falling within this indemnity after we become aware of them.

        h3 27. USER DATA
        p We will retain certain data that you transmit to the Services for the purpose of managing the performance of the Services, as well as data relating to your use of the Services. Although we back up data on a regular basis, you are solely responsible for all data that you transmit or that relates to any activity you undertake using the Services. You agree that we shall have no liability to you for any loss or corruption of any such data, and you waive any right of action against us arising out of any such loss or corruption of such data.
        h3 28. ELECTRONIC COMMUNICATIONS, TRANSACTIONS AND SIGNATURES
        p Visiting the Services, sending emails to us, and completing online forms constitute electronic communications. You consent to receive electronic communications and agree that all agreements, notices, disclosures and other communications that we provide to you electronically, by email and through the Services satisfy all legal requirements that such communications be in writing. YOU HEREBY CONSENT TO THE USE OF ELECTRONIC SIGNATURES, CONTRACTS, ORDERS AND OTHER RECORDS, AND TO THE ELECTRONIC DELIVERY OF NOTICES, POLICIES AND RECORDS OF TRANSACTIONS INITIATED OR COMPLETED BY US OR THROUGH THE SERVICES. You hereby waive any right or claim under any law, statute, regulation, rule, ordinance or other law in any jurisdiction that requires original signature, delivery or storage of non-electronic records, and payment or extension of credit by any means other than electronic means.
        h3 29. MISCELLANEOUS
        p These Legal Terms, and any policies or operating rules published by us on or in relation to the Services, constitute the entire agreement and understanding between you and us. Our failure to exercise or enforce any right or provision of these Legal Terms shall not constitute a waiver of such right or provision. These Legal Terms shall apply to the fullest extent permitted by law. We may at any time assign any or all of our rights and obligations to others. We shall not be liable for any loss, damage, delay or omission caused by any cause beyond our reasonable control. If any provision or part of a provision of these Legal Terms is held to be illegal, invalid or unenforceable, that provision or part of the provision shall be deemed severable from these Legal Terms and shall not affect the validity and enforceability of any remaining provisions. No joint venture, partnership, employment or agency relationship arises between you and us as a result of these Legal Terms or use of the Services. You agree that these Legal Terms will not be construed against us by virtue of the fact that they have been drafted by us. You hereby waive any objection you may have based on the electronic form of these Legal Terms and the lack of signatures of the parties to execute these Legal Terms.
        h3 30. CONTACT US
        p To resolve a complaint about the Services or for more information about your use of the Services, contact us at:
        p
            a(href="official@shuffle.city") official@shuffle.city
            |&nbsp;general questions about services
        p
            a(href="hugs@shuffle.city") hugs@shuffle.city
            |&nbsp;support service