extends ../../layout/main

block variables
    - var title = "Политика конфиденциальности | Shuffle"

block content
    main(style="padding: 2em")
        h1 Shuffle
        h2 Политика конфиденциальности
        p Dubai Silicon Oasis, UAE
        p azart technologies fzco
        p
            a(href="mailto:official@shuffle.city") official@shuffle.city
            |   общие вопросы по сервисам
        p
            a(href="mailto:hugs@shuffle.city") hugs@shuffle.city
            |   служба поддержки
        h3 1. Проект
        p Shuffle — это мобильное приложение в Дубае и во всём Мире, связанное с событиями и местами, которые формируют динамику социальной и бизнес-жизни мегаполисов. Это сложная система рекомендаций и подбора контента под конкретного пользователя. Это внушительный набор социальных и бизнес-инструментов. Это значительный акцент на интерактивности самого мобильного приложения, для получения положительного опыта, удовольствия от самого процесса использования сервиса. Это иногда параноидальное внимание к деталям дизайна. Мы создали и развиваем проект Shuffle, чтобы вам было удобно и полезно. В современном мире агрессивного маркетинга — это важно.
        h3 2. Наши ценности и назначение настоящей Политики конфиденциальности:
        p Мы ценим вашу конфиденциальность и хотим быть справедливыми по отношению к вам лично, а также прозрачными в отношении того, как и для чего мы собираем и обрабатываем ваши Персональные данные. Нашей общей целью является обеспечение целевого сбора и использования Персональных данных и соответствие применимым законам о защите данных. Мы также хотим, чтобы вы знали свои права в отношении вашей информации, которую вы можете найти ниже.
        p Мы понимаем ценность ваших персональных данных. Но также мы понимаем, что каждое современное устройство, современная система используют эти данные. Без такого взаимодействия невозможно оказывать сервис надлежащего качества. Мы не используем ваши данные в неблагородных целях, единственное назначение - предоставить вам полезную и нужную информацию, построить максимально точный ваш активный портрет, основанный на предпочтениях, чтобы лучше узнать вас и помогать с максимальным уровнем самоотдачи, используя все разработанные нами средства Shuffle.
        h3 3. На кого распространяется настоящая Политика конфиденциальности:
        p Настоящая Политика конфиденциальности применяется к пользователям (людям, прошедшим регистрацию аккаунта и согласившимся с Политикой конфиденциальности) мобильного приложения и сервиса Shuffle, проживающим в Дубае и по всему Миру.
        h3 4. Дети
        p Мы не собираем и не будем намеренно собирать информацию от любого ребенка в возрасте до 13 лет, находящегося без присмотра. Если вам ещё не исполнилось 13 лет, вы не можете пользоваться Shuffle, если только ваш родитель/родители или опекун не предоставили нам своё согласие.
        h4 5. Персональные данные, которые мы собираем о вас
        p Мы собираем Персональные данные, когда вы добровольно предоставляете такую информацию, например, включая процессы, когда вы регистрируетесь для доступа к сервисам Shuffle, покупаете билет без регистрации через наше приложение или веб-сайт, отправляете нам запросы, отвечаете на один из наших опросов, просматриваете или используете определенные функции Shuffle. Персональные данные, которые мы можем собирать, включают, помимо прочего, ваше имя, адрес, адрес электронной почты и другую информацию, позволяющую идентифицировать пользователя. В тех случаях, когда пользователь решает создать собственное мероприятие или место, Shuffle может запросить информацию о названии компании, номере плательщика НДС или служебном адресе, которая также может представлять собой Персональные данные.
        p Shuffle также автоматически собирает определенные технические данные, которые отправляются нам с компьютера, мобильного устройства и/или браузера, через который вы получаете доступ к приложению. Такие данные включают, помимо прочего, уникальный идентификатор, связанный с вашим устройством доступа и/или браузером (включая, например, ваш IP-адрес), характеристики вашего устройства доступа и/или браузера, статистику ваших действий, информацию о том, как вы пришли к Shuffle, и данные, собранные с помощью файлов cookies, пиксельных тегов, локальных общих объектов, веб-хранилищ и других подобных технологий.
        p Когда вы создаёте учётную запись (регистрируете аккаунт) и входите в неё (проходите авторизацию) для доступа, просмотра и использования Shuffle, мы получаем от вас следующую информацию:
        ul
            li Ваше имя;
            li Ваш электронный адрес;
            li Ваш телефон;
            li если предоставлено вами, данные здоровья и активности Health Kit;
            li если предоставлено вами, ваше местоположение (геолокация);
            li если предоставлено вами, дату вашего рождения;
            li ваш пол и возраст;
            li любые сообщения электронной почты, включая вложения, которые вы отправляете нам;
            li если вы покупаете билеты, ваша платежная информация, включая платежный адрес;
            li данные банковского счета и платежной карты, а также информацию о транзакциях, таких как ранее купленные билеты;
            li данные профиля, включая ваше имя пользователя и пароль для регистрации учетной записи;
            li аватар вашего профиля, сделанные вами покупки или заказы, ваши интересы и предпочтения;
            li ваши предпочтения в получении маркетинговых материалов от нас и наших третьих лиц, а также ваши предпочтения в отношении общения и социальных составляющих приложения Shuffle;

        p Если команда Shuffle выступает в роли организатора мероприятий, в том числе, используя функционал сервиса Shuffle будет необходимо собирать от вас дополнительные Персональные данные (проверки существования организатора):
        ul
            li номер вашей кредитной карты и дату истечения срока ее действия, адрес для выставления счетов, руководителей/бенефициарных владельцев юридического лица, которое вы представляете (если таковые имеются);
            li идентификационный номер налоговой;
            li номер паспорта или водительского удостоверения;
            li копии документов, удостоверяющих личность.

        p Если вы пользуетесь нашими сервисами и сервисами наших партнёров по обработке платежей, мы будем собирать от вас финансовую информацию (для обеспечения определённых платежей): информацию о вашем банковском счёте или адрес для отправки чеков), необходимую для облегчения платежей, и информацию, необходимую для целей налогообложения (например, ваш идентификационный номер налогоплательщика).
        h3 5.1. Выбор активного портрета и выбор соответствующих профилю предпочтений
        p При регистрации аккаунта пользователя вы должны выбрать свой портрет активности и соответствующие ему свойства. Эти свойства вы сможете в дальнейшем убрать или дополнить в профиле пользователя приложения Shuffle.
        p Эти данные описывают/характеризуют ваши предпочтения и желания и используются только для детальной/подходящей выдачи контента для вас. Мы храним и обрабатываем эти данные на отдельных защищённых специализированных серверах нашего партнёра Railway corp* и не передаём третьим лицам, которые могут быть или не быть аффилированными, не используем для сторонних аналитических процессов.
        p Мы храним и обрабатываем данные на отдельных защищённых специализированных серверах нашего партнёра Railway corp*.

        p
            a(href="https://railway.app/") https://railway.app
        p
            a(href="https://railway.app/legal/privacy") https://railway.app/legal/privacy
        p
            a(href="https://railway.app/legal/terms") https://railway.app/legal/terms

        h3 5.2. Геолокация
        p Вся логика взаимодействия приложения Shuffle с данными геолокации основана на детальной проработке и дополнении системы рекомендаций The shuffle system (c). Мы используем данные геолокации вашего мобильного устройства для построения более детальной и подходящей именно вам выдачи контента (расстояние до места, окружающий ландшафт, погодные условия). Факты посещения (или игнорирования) вами определённых мест и событий позволяет нам понять и удовлетворить ваши настоящие и будущие предпочтения.
        p Мы не храним данные геолокации у третьих лиц и не передаём их никому и никогда; используем их только для вашего эффективного взаимодействия с приложением Shuffle.
        h3 5.3. Данные показателей активности и здоровья
        p В приложении Shuffle есть специализированные функции/разделы, например «Feellings», которые используют показатели активности владельца телефона, показатели профильного официального приложения здоровья (например, Apple Health kit).
        table(border="1")
            tbody
                tr
                    td
                        p
                            strong ACTIVE_ENERGY_BURNED
                    td
                        p
                            strong BASAL_ENERGY_BURNED
                    td
                        p
                            strong BLOOD_OXYGEN
                tr
                    td
                        p сколько активных калорий сожжено
                    td
                        p сколько основных калорий сожжено
                    td
                        p уровень кислорода в крови
                tr
                    td
                        p
                            strong BODY_TEMPERATURE
                    td
                        p
                            strong HEART_RATE
                    td
                        p
                            strong STEPS
                tr
                    td
                        p Температура тела
                    td
                        p частота сердечных сокращений + в покое
                    td
                        p количество сделанных шагов
                tr
                    td
                        p
                            strong WALKING_HEART_RATE
                    td
                        p
                            strong DISTANCE_WALKING_RUNNING
                    td
                        p
                            strong MOVE_MINUTES
                tr
                    td
                        p частота сердечных сокращений во время ходьбы
                    td
                        p пройденное расстояние (метры)
                    td
                        p минуты активности
                tr
                    td
                        p
                            strong SLEEP_IN_BED
                    td
                        p
                            strong SLEEP_ASLEEP
                    td
                        p
                            strong EXERCISE_TIME
                tr
                    td
                        p сон в кровати/мин
                    td
                        p сон во время сна/мин
                    td
                        p сколько времени вы уделяли физическим упражнениям (мин)


        p Данная информация используется только в рамках работы функционала, задача которого – предоставлять профильный соответствующий контент. Ни один показатель не используется отдельно, не используется в медицинских целях, а результат анализа совокупности показателей и его интерпретация в разделе приложения Shuffle – «Feelings» - является исключительно развлекательной и не является рекомендацией к действиям, связанной со здоровьем человека и любых медицинских показаний.
        p Полученная информация не используется для рекламы, не анализируется третьими лицами и не передаётся третьим лицам (кроме указанных в Политике конфиденциальности случаях, если подпадает под них).
        h3 5.4. Третьи стороны и общедоступные источники
        p Мы можем получать Персональные данные о вас от различных третьих лиц:
            ul
                li если вы входите в Службы через стороннюю учетную запись, такую как Facebook или Google, мы будем собирать определенную информацию, относящуюся к вашей учетной записи, у этих третьих лиц (включая ваше имя, изображение профиля, возрастную группу, пол и другую информацию, доступную в вашем общедоступном профиле), дату вашего рождения и адрес электронной почты. Вы можете управлять информационными данными, которые такие третьи лица передают нам, изменяя свои предпочтения с помощью настроек конфиденциальности, которые эти третьи лица предоставляют на своих платформах;
                li технические данные от следующих сторон: поставщики аналитики, расположенные внутри и за пределами ОАЭ и MENA, такие как Adobe Analytics и Google Analytics;
                li рекламные сети внутри и за пределами ОАЭ и MENA, такие как Facebook Audience Network и FreeWheel.

        h3 6. Как мы передаем ваши Персональные данные и кому мы их передаем
        p Мы делимся информацией при следующих обстоятельствах:
        ol
            li
                strong Сторонние поставщики сервисов:
                | Мы передаём информацию сторонним сервисным компаниям в качестве обработчиков данных для облегчения или предоставления определённых сервисов от нашего имени. Это будет включать (перечень и условия этих компаний будет включён в документацию Политики конфиденциальности и Правил использования, а вы получите уведомление об этом):
            ul(style="list-style-type: disc;")
                li компании, занимающиеся ИТ-инфраструктурой, которые облегчают предоставление вам Сервисов;
                li поставщики сервисов ИТ-поддержки;
                li другим сторонним поставщикам сервисов с целью предоставления или отслеживания использования наших пользователей (включая, платежные системы).

        p Эти компании уполномочены обрабатывать ваши Персональные данные только в том объёме, в котором это необходимо для предоставления нам этих Сервисов.
        ol(start="2")
            li
                strong Компании группы:
                |   Мы можем предоставлять ваши Персональные данные дочерним компаниям, полностью принадлежащим azart technologies fzco, с целью обработки Персональных данных от нашего имени для предоставления вам Сервисов. Эти стороны обязаны обрабатывать такую информацию на основании наших инструкций и в соответствии с настоящей Политикой конфиденциальности. У них нет независимого права делиться этой информацией.
            li
                strong Соблюдение законов и судебное разбирательство:
                |   Когда мы отвечаем на судебные приказы или судебный процесс, либо для установления или осуществления наших законных прав или защиты от судебных исков. Когда мы считаем, что по нашему собственному усмотрению необходимо делиться информацией для расследования, предотвращения или принятия мер против незаконных действий, предполагаемого мошенничества, ситуаций, связанных с потенциальными угрозами физической безопасности любого лица, нарушениями наших Условий использования или как иное требуется по закону;
            li
                strong Слияние или поглощение:
                |   Когда нам нужно передать информацию о вас, если мы были приобретены или объединены с другой компанией. Если мы участвуем в слиянии, приобретении или продаже всех или части ее активов, впоследствии вы будете уведомлены по электронной почте и/или в виде заметного уведомления в наших Сервисах о любых изменениях в праве собственности или использовании ваших Персональных данных, а также любой выбор, который у вас может быть в отношении ваших Персональных данных;
            li
                strong Организаторы событий «Shuffle moves»:
                |   Когда команда Shuffle организует оффлайн события Shuffle moves (c) и для оптимизации организации и формирования наиболее точных аудиторий нужно использовать соответствующие личные данные пользователей;
            li
                strong Другие пользователи Shuffle:
                |   В силу самой природы сервиса Shuffle некоторые Персональные данные пользователей могут быть доступны другим пользователям, пользующимся аналогичными функциями сервиса; так как процесс использования сервиса предполагает взаимную коммуникацию, аналитику открытых данных и взаимодействие пользователей.


        h3 7. Как мы обрабатываем ваши персональные данные
        p Мы обрабатываем ваши Персональные данные по следующим причинам:
        ul
            li это необходимо для того, чтобы мы выполняли наши с вами договорённости;
            li это требуется в наших законных интересах;
            li это необходимо для того, чтобы мы выполняли наши юридические обязательства;
            li это разрешено, потому что вы дали нам своё согласие.

        p Если нам необходимо собирать Персональные данные по закону или в соответствии с условиями заключенного с вами соглашения, и вы не можете предоставить эти данные по запросу, мы не сможем выполнить свои обязательства. В этом случае нам, возможно, придётся отменить наши Сервисы, но мы сообщим вам об этом.
        h3 7.1. Необходимо для выполнения нашего с вами Договора
        p Мы собираем, храним и обрабатываем ваши Персональные данные, включая ваше имя, адрес электронной почты, платежные реквизиты и информацию о том, как вы используете Сервисы и получаете к ним доступ, поскольку это необходимо для предоставления Сервисов, запрошенных вами в соответствии с договором, заключенным, между нами, когда вы согласились с нашими Условиями использования. Это включает в себя:
        ul
            li предоставление вам доступа к сервису Shuffle и ко всему его функционалу;
            li предоставление любых Сервисов, которые вы запрашиваете;
            li администрирование;
            li если вы совершаете любые действия в сервисе Shuffle, связанные с денежными средствами и любыми операциями с ними в рамках сервиса, - обрабатывать все внутренние транзакции (включая, помимо прочего, использование сервисов партнёров-поставщиков для обработки такого платежа);
            li предоставлять персонализированные рекомендации и контент в рамках сервисов Shuffle, собирая данные о вас, чтобы создать ваш активный портрет и профиль ваших предпочтений для полноценной работы системы рекомендаций Shuffle (c). Сервисы не могут быть предоставлены вам без этого моделирования. Если вы хотите отказаться от моделирования, мы не сможем предоставить вам Сервисы, и вы не сможете использовать Сервисы или получать к ним доступ;
            li требования к обслуживанию и управлению учетной записью/аккаунтом, например, когда нам нужно связаться с вами по причинам, связанным с Сервисами (уведомление об обновлениях Сервисов или поправках к Условиям обслуживания или Политики конфиденциальности).

        h3 7.2. Наши законные интересы
        p Мы используем ваши Персональные данные в целях, не связанных с предоставлением Сервисов. В этих обстоятельствах мы считаем, что у нас есть законный интерес в обработке ваших Персональных данных, и считаем, что преимущества такого хранения и использования ваших Персональных данных превышает любое потенциальное воздействие на вас и не наносят необоснованного ущерба вашим правам или свободам. Соответствующие обстоятельства:
        ul
            li обнаружение и предотвращение мошенничества;
            li обеспечения безопасности нашего сервиса Shuffle и соответствующих подсистем;
            li обеспечение максимальной эффективности наших собственных процессов, процедур и систем;
            li анализ и улучшение информации, которую мы собираем;
            li анализ использования вами Сервисов для их улучшения, включая, помимо прочего, наш контент, функции, расписание, технологии и события;
            li определение эффективности наших рекламных кампаний и рекламы;
            li использовать IP-адреса и идентификаторы устройств для определения местоположения пользователей и блокировки любых неавторизованных пользователей;
            li обработка ваших запросов и запросов (например, если вы позвоните по номеру телефона службы поддержки пользователей, чтобы попросить о помощи и содействии, нам потребуется обработать ваши контактные данные);
            li предложить вам похожие события, которые могут вас заинтересовать, и понять, какие события нравятся нашим пользователям;
            li если вы отказались от нашего маркетинга или возражали против получения от нас электронных писем, нам необходимо вести учет ваших предпочтений, чтобы гарантировать, что мы не свяжемся с вами, если вы попросили нас не делать этого.


        h3  7.3. Опыт использования и маркетинг
        p Мы можем обрабатывать ваши персональные данные, чтобы предположить, какие возможности, доступные в Shuffle, могут быть актуальны для вас. Вы будете получать маркетинговые сообщения от нас, если вы запросили у нас информацию или приобрели билет через систему букинга Shuffle или букинг-сервисы партнёры. Shuffle также будет отправлять интегрированные мобильные push-уведомления в соответствии с вашими маркетинговыми предпочтениями для рекламы и профильных предложений в рамках предоставляемого контента. Такие push-уведомления могут также включать информацию о предстоящих событиях, на которые пользователь мог подписаться, информацию о предстоящем времени начала, месте проведения или любых изменениях, которые могут касаться такого события. Эти уведомления можно отключить в настройках уведомлений мобильного устройства или внутри приложения Shuffle в Профиле пользователя в разделе Notifications.
        p *Важно. Сервис Shuffle и его функционал не использует персональные данные для показа сторонней рекламы внутри сервиса. Сторонняя реклама - реклама товаров и сервисов, которые не имеют отношения к профильному контенту Shuffle; реклама, для которой используются настройки таргетинга третьими лицами. Такая реклама в сервисе запрещена (подробнее в Соглашение о использовании) в любых её проявлениях.
        p Если вы отказываетесь от получения этих маркетинговых сообщений, это не будет применяться к Персональным данным, предоставленным нам в результате использования Сервисов. Таким образом, вы будете продолжать получать важные сообщения о функциональности и/или администрировании наших Сервисов.
        h3 8. Безопасность
        p Несмотря на то, что мы принимаем все возможные соответствующие технические и организационные меры для защиты Персональных данных, которые вы нам предоставляете, никакая передача данных через Интернет не может быть гарантирована со стопроцентной безопасностью. Обратите внимание, что мы не можем гарантировать безопасность любых Персональных данных, которые вы передаете нам через Интернет.
        p Мы обязуемся защищать ваши Персональные данные с помощью соответствующих технических и операционных мер, которые ограничивают и управляют способами хранения и обработки ваших Персональных данных; оптимизировать и улучшать их.
        h3 9. Ваши права
        p У вас есть определенные права в отношении ваших Персональных данных. Если вам нужна дополнительная информация в отношении них или вы хотите воспользоваться какой-либо из них, пожалуйста, свяжитесь с нами по адресу hugs@shuffle.city в любое время. Вы имеете право потребовать, чтобы мы:
        ul
            li предоставить доступ к любым Персональным данным, которые мы храним о вас (или предоставить их копию);
            li обновить любые ваши Персональные данные, которые устарели или неверны;
            li удалить любые Персональные данные, которые мы храним о вас;
            li ограничить способ обработки ваших Персональных данных;
            li предотвратить обработку ваших Персональных данных в целях маркетинга;
            li предоставлять свои Персональные данные стороннему поставщику сервисов;
            li рассмотреть любые обоснованные возражения, которые у вас есть против использования нами ваших Персональных данных.

        p Мы рассмотрим все запросы и предоставим ответ в течение разумного периода времени (и в любом случае в течение любого периода времени, требуемого законодательством). Обратите внимание, однако, что определенные Персональные данные могут быть исключены из таких запросов при определенных обстоятельствах.
        p Если применяется исключение, мы сообщим вам об этом при ответе на ваш запрос. Мы можем попросить вас предоставить нам информацию, необходимую для подтверждения вашей личности, прежде чем отвечать на любой ваш запрос.
        p Если мы удалим какие-либо Персональные данные о вас, которые мы храним, это удаление может относиться только к сервису Shuffle в рамках нашего Соглашения о использовании. Вы должны делать запросы для каждой учётной записи, которую вы, возможно, создали для доступа к Shuffle или любому другому Сервису, который мы предоставляем.
        h3 10. Сторонние сайты
        p Приложение Shuffle содержит ссылки и на другие веб-сайты, которыми управляют третьи стороны. Обратите внимание, что настоящая Политика конфиденциальности применяется только к Персональным данным, которые мы собираем и обрабатываем в рамках сервиса Shuffle, его функционала.
        p Мы не можем нести ответственность за Персональные данные, которые третьи стороны могут собирать, хранить и использовать через свой веб-сайт. Вы всегда должны внимательно читать Политику конфиденциальности каждого веб-сайта, который вы посещаете.
        h3 11. Изменения в Политике конфиденциальности
        p Пожалуйста, проверяйте регулярно, чтобы быть в курсе обновлений этой Политики конфиденциальности. Если мы внесем существенные изменения в настоящую Политику конфиденциальности и у нас будет ваш адрес электронной почты, мы отправим вам уведомление об изменениях.
        h3 12. Третьи лица. Партнеры
        p
            strong Система бронирования <u>Platinumlist</u>
        p
            a(href="https://dubai.platinumlist.net/") https://dubai.platinumlist.net/
        p
            | Правила и условия обслуживания для клиентов&nbsp;
            a(href="https://platinumlist.net/terms-and-conditions/TermsandConditionsCustomers") https://platinumlist.net/terms-and-conditions/TermsandConditionsCustomers
        p
            strong Хранение и защита данных <u>Railway corp</u>
        p
            a(href="https://railway.app") https://railway.app
        p
            | Политика конфиденциальности&nbsp;
            a(href="https://railway.app/legal/privacy") https://railway.app/legal/privacy
        p
            | Условия использования&nbsp;
            a(href="https://railway.app/legal/terms") https://railway.app/legal/terms
        p Если у вас возникли вопросы или вам нужна помощь в отношении нашей Политики конфиденциальности, пожалуйста, свяжитесь с нами по адресу hugs@shuffle.city