extends ../../layout/main

block variables
    - var title = "Условия использования | Shuffle"


block content
    main(style="padding: 2em")
        h2 СОГЛАСИЕ С НАШИМИ ЮРИДИЧЕСКИМ УСЛОВИЯМИ
        p Dubai Silicon Oasis, UAE
        p azart technologies fzco
        p
            a(href="official@shuffle.city") official@shuffle.city
            |&nbsp;общие вопросы по сервисам
        p
            a(href="hugs@shuffle.city") hugs@shuffle.city
            |&nbsp;служба поддержки
        p Shuffle — это мобильное приложение в Дубае и во всём Мире, связанное с событиями и местами, которые формируют динамику социальной и бизнес-жизни мегаполисов. Это сложная система рекомендаций и подбора контента под конкретного пользователя. Это внушительный набор социальных и бизнес-инструментов. Это значительный акцент на интерактивности самого мобильного приложения, для получения положительного опыта, удовольствия от самого процесса использования сервиса. Это иногда параноидальное внимание к деталям дизайна. Мы создали и развиваем проект Shuffle, чтобы вам было удобно и полезно. В современном мире агрессивного маркетинга — это важно.
        p Настоящие Юридические условия представляют собой юридически обязывающее соглашение, заключенное между вами лично или от имени юридического лица и azart technologies fzco, относительно вашего доступа к Сервисам и их использования. Вы соглашаетесь с тем, что, получая доступ к Сервисам, вы прочитали, поняли и согласились соблюдать все настоящие Юридические условия. ЕСЛИ ВЫ НЕ СОГЛАСНЫ СО ВСЕМИ ЭТИМИ ЮРИДИЧЕСКИМИ УСЛОВИЯМИ, ТО ВАМ СТРОГО ЗАПРЕЩАЕТСЯ ИСПОЛЬЗОВАТЬ СЕРВИСЫ, И ВЫ ДОЛЖНЫ НЕМЕДЛЕННО ПРЕКРАТИТЬ ИСПОЛЬЗОВАНИЕ.
        p Если мы внесем существенные изменения в настоящие Условия пользования и у нас будет ваш адрес электронной почты, мы отправим вам уведомление об изменениях. Продолжая использовать Сервисы после даты вступления в силу любых изменений, вы соглашаетесь соблюдать измененные условия.
        p Мы рекомендуем вам распечатать копию настоящих Юридических условий для вашего хранения.
        h3 ОГЛАВЛЕНИЕ
        p 1. ЭТО МЫ
        p 1.1. СЕРВИСЫ
        p 1.2. КОНТЕНТ
        p 1.3. ПОЛЬЗОВАТЕЛИ
        p 1.3.1. АККАУНТЫ
        p 2. УСЛОВИЯ ИСПОЛЬЗОВАНИЯ
        p 2.1. ПРИМЕНЕНИЕ
        p 2.2. СОГЛАШЕНИЕ
        p 3. ИСПОЛЬЗОВАНИЕ ВАМИ СЕРВИСОВ
        p 3.1. НАШИ СЕРВИСЫ
        p 4. ПРАВА ИНТЕЛЛЕКТУАЛЬНОЙ СОБСТВЕННОСТИ
        p 5. ПРЕДСТАВЛЕНИЯ ПОЛЬЗОВАТЕЛЕЙ
        p 6. РЕГИСТРАЦИЯ ПОЛЬЗОВАТЕЛЯ
        p 7. ПОКУПКА И ОПЛАТА
        p 8.ПОЛИТИКА
        p 9. ЗАПРЕЩЕННЫЕ ДЕЯТЕЛЬНОСТИ
        p 10. ВКЛАД ПОЛЬЗОВАТЕЛЕЙ
        p 11. ЛИЦЕНЗИЯ НА ВНЕСЕНИЕ ВКЛАДА
        p 12. РУКОВОДСТВО ДЛЯ ОБЗОРОВ
        p 13. ЛИЦЕНЗИЯ НА МОБИЛЬНОЕ ПРИЛОЖЕНИЕ
        p 14. СОЦИАЛЬНЫЕ СЕТИ
        p 15. СТОРОННИЕ ВЕБ-САЙТЫ И КОНТЕНТ
        p 16. РЕКЛАМОДАТЕЛИ
        p 17. УПРАВЛЕНИЕ СЕРВИСАМИ
        p 18. ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ
        p 19. СРОК И ПРЕКРАЩЕНИЕ ДЕЙСТВИЯ
        p 20. МОДИФИКАЦИИ И ПЕРЕРЫВЫ
        p 21. ПРИМЕНИМОЕ ЗАКОНОДАТЕЛЬСТВО
        p 22. РАЗРЕШЕНИЕ СПОРОВ
        p 23. ИСПРАВЛЕНИЯ
        p 24. ОТКАЗ ОТ ОТВЕТСТВЕННОСТИ
        p 25. ОГРАНИЧЕНИЯ ОТВЕТСТВЕННОСТИ
        p 26. ВОЗМЕЩЕНИЕ УБЫТКОВ
        p 27. ПОЛЬЗОВАТЕЛЬСКИЕ ДАННЫЕ
        p 28. ЭЛЕКТРОННЫЕ СООБЩЕНИЯ, СДЕЛКИ И ПОДПИСИ
        p 29. РАЗНОЕ
        p 30. СВЯЗАТЬСЯ С НАМИ
        h3 1. ЭТО МЫ
        p azart technologies fzco является компанией, должным образом организованной и действующей в соответствии с законодательством Дубая, Объединённых Арабских Эмиратов, номер лицензии 23963.
        p Деятельность:
        li Разработка и управление приложениями для социальных сетей
        li Разработка программного обеспечения для компьютерных систем и коммуникационного оборудования
        li Маркетинговые услуги через социальные сети
        p Нам принадлежат сайты azarties.com и shuffle.city.
        p Нам принадлежит мобильное приложение (c) Shuffle (pallete yourself) на IOS и Android на всех публичных маркет-платформах.
        h3 1.1. Сервисы
        p Мобильное приложение (c) Shuffle, веб-сайты и домены azarties.com и shuffle.city, а также все их веб-страницы, поддомены, варианты доменов и части этих веб-сайтов, все услуги, доступные на них или через них или иным образом предоставляемые нами, - предлагаются, поддерживаются и предоставляются azart technologies fzco. Мы называем это «Сервисы».
        h3 1.2. Контент
        p Всё, что находится внутри приложения Shuffle - карточки мест, карточки событий (мероприятий), публичные профили пользователей или часть их данных, любая интерактивная информация (отзывы, рейтинги, чаты и т.д.), которая может быть добавлена с помощью интегрированного функционала/инструментария Shuffle.
        h3 1.3. ПОЛЬЗОВАТЕЛИ
        p Мы предоставляем своим зарегистрированным пользователям, владельцам мест, организаторам мероприятий простые и быстрые средства для просмотра, использования, создания, управления, продвижения карточек мест и событий. Мы даём возможность использовать систему букинга билетов Shuffle или системы букинга партнёров, а также продавать билеты и регистрации, продавать товары (upsales), связанные с этими событиями и местами; использовать социальные («Connects», «FulFill the dream», «Social») и интерактивные («Feelings», «Randomizer») функции.
        p Владельцев карточек мест, организаторов мероприятий, любых пользователей Сервисов мы называем «Пользователи» и обращаемся «Вы».
        h3 1.3.1. АККАУНТЫ
        p Все пользователи приложения Shuffle идентифицируются типом аккаунта, который выбирают при регистрации в приложении и, при желании, модифицируют в процесс использования приложения. Различаются следующие типы аккаунтов:
        li Обычный аккаунт
        li Аккаунт организации
        li ПРО аккаунт
        li Премиум аккаунт
        li Аккаунт инфлюенсера
        h3 2. УСЛОВИЯ ИСПОЛЬЗОВАНИЯ
        h3 2.1. ПРИМЕНЕНИЕ
        p В настоящем документе «Условия использования» изложены условия, на которых Пользователи могут пользоваться Сервисами. Если вы используете Сервисы каким-либо образом, настоящие Условия использования применяются к вам. Принимая Условия использования и используя Услуги любым способом, вы соглашаетесь с настоящими Условиями использования без изменений и заключаете Соглашение с azart technologies fzco.
        h3 2.2. СОГЛАШЕНИЕ
        p Настоящие Условия использования, а также права и обязанности, содержащиеся в настоящих Условиях использования считаются принятыми с момента начала использования любых Сервисов, а также в момент регистрации в мобильном приложении Shuffle.
        h3 3. ИСПОЛЬЗОВАНИЕ ВАМИ СЕРВИСОВ
        h3 3.1 НАШИ СЕРВИСЫ
        p Настоящим azart technologies fzco предоставляет личное, неисключительное, непередаваемое, не подлежащее сублицензированию, отзывное ограниченное право на доступ и использование Сервисов исключительно в целях: (а) просмотра Сервисов и поиска, просмотра, регистрации или покупки билетов; и/или (b) использования социальных («Connects», «FulFill the dream», «Social») и интерактивныех («Feelings», «Randomizer») функций; и/или (c) если вы являетесь организатором мероприятия или владельцем места (и соответствующих типо аккаунтов), - создания Контента, создания регистраций на мероприятия, дополнительных продаж (upsales) в отношении мероприятий, а также продвижения, управления Контентом, отслеживания и сбора выручки от продаж билетов и продуктов дополнительных продаж.
        p В соответствии с настоящими Условиями использования, Политикой конфиденциальности, насколько это разрешено всеми применимыми местными, государственными, провинциальными, национальными и другими законами, правила и положения.
        p Вы не должны позволять кому-либо прямо или косвенно:
        p (a) копировать, изменять, воспроизводить, переводить, локализовать, портировать или иным образом создавать производные продукты любой части Услуг; (b) проводить обратный инжиниринг, дизассемблировать, декомпилировать или иным образом пытаться обнаружить исходный код или структуру, последовательность и организацию всех или любой части Сервисов; (c) сдавать в аренду, перепродавать, распространять, использовать Сервисы для дополнения свой сторонней коммерческой деятельности или в других коммерческих целях, не предусмотренных настоящим документом-соглашением, или иным образом использовать Сервисы любым несанкционированным или непреднамеренным образом; (d) удалять или изменять любые уведомления о правах собственности или этикетки на Сервисах или в них; или (e) участвовать в любой деятельности, которая мешает или нарушает работу Услуг. Любые права, прямо не предоставленные в этом параграфе, защищены.
        p Информация, предоставляемая при использовании Сервисов, не предназначена для распространения или использования каким-либо физическим или юридическим лицом в любой юрисдикции или стране, где такое распространение или использование будет противоречить закону или постановлению или которое потребует от нас каких-либо требований регистрации в такой юрисдикции или стране. Соответственно, те лица, которые решают получить доступ к Сервисам из других мест, делают это по собственной инициативе и несут полную ответственность за соблюдение местного законодательства, если и в той степени, в которой местные законы применимы.
        h3 4. ПРАВА ИНТЕЛЛЕКТУАЛЬНОЙ СОБСТВЕННОСТИ
        h5 Наша интеллектуальная собственность
        p Мы являемся владельцем или лицензиатом всех прав интеллектуальной собственности на наши Сервисы, включая весь исходный код, базы данных, функциональные возможности, программное обеспечение, дизайн веб-сайтов, аудио, видео, текст, фотографии и графику в Сервисах, а также содержащиеся в них товарные знаки, знаки обслуживания и логотипы.
        p Наш Контент и Знаки защищены законами об авторском праве и товарных знаках (а также различными другими правами интеллектуальной собственности и законами о недобросовестной конкуренции).
        p Контент и Знаки предоставляются в рамках Сервисов только для вашего личного, некоммерческого использования или внутренних деловых целей.
        h5 Использование вами наших Сервисов
        p При условии соблюдения вами настоящих Юридических условий, включая раздел «ЗАПРЕЩЕННАЯ ДЕЯТЕЛЬНОСТЬ» ниже, мы предоставляем вам неисключительную, непередаваемую и отзывную лицензию на:
        p получение доступа к Сервисам;
        p загрузку или распечатку копии любой части Контента, к которой вы получили доступ должным образом исключительно для вашего личного, некоммерческого использования или внутренних деловых целей.
        p За исключением случаев, указанных в этом разделе или других разделах наших Юридических условий, никакая часть Сервисов, а также Контент или Знаки не могут быть скопированы, воспроизведены, агрегированы, переизданы, загружены, размещены, публично показаны, кодированы, переведены, переданы, распространены, проданы, лицензированы или иным образом использоваться в любых коммерческих целях без нашего предварительного письменного разрешения
        p Если вы хотите использовать Сервисы, Контент или Знаки иначе, чем указано в этом разделе или других разделах наших Юридических условий, отправьте свой запрос по адресу: official@shuffle.city. Если мы когдалибо предоставим вам разрешение на публикацию, воспроизведение или публичное отображение какой-либо части наших Сервисов или Контента, вы должны указать нас как владельцев или лицензиаров Сервисов, Контента или Знаков и обеспечить появление любых уведомлений об авторских правах или правах собственности или должны быть заметны при публикации, воспроизведении или отображении нашего Контента.
        p Мы оставляем за собой все права, не предоставленные вам явно в отношении Сервисов, Контента и Знаков.
        p Любое нарушение этих Прав интеллектуальной собственности будет представлять собой существенное нарушение наших Юридических условий, и ваше право на использование наших Сервисов будет немедленно прекращено.
        h5 Ваши материалы и вклады
        p Пожалуйста, внимательно просмотрите этот раздел и раздел «ЗАПРЕЩЕННАЯ ДЕЯТЕЛЬНОСТЬ» перед использованием наших Сервисов, чтобы понять права, которые вы нам предоставляете, и обязательства, которые вы имеете при публикации или загрузке любого контента через Сервисы.
        p Материалы: отправляя нам напрямую любые вопросы, комментарии, предложения, идеи, отзывы или другую информацию об Сервисовах («Материалы»), вы соглашаетесь передать нам все права интеллектуальной собственности на такие Материалы. Вы соглашаетесь с тем, что мы будем владеть этой Публикацией и иметь право на ее неограниченное использование и распространение в любых законных целях, коммерческих или иных, без вашего согласия или компенсации.
        p Вклады: службы могут приглашать вас общаться, вносить вклад или участвовать в блогах, досках объявлений, онлайн-форумах и других функциях, в ходе которых вы можете создавать, отправлять, публиковать, отображать, передавать, публиковать, распространять или транслировать контент и материалы нам или через Сервисы, включая, помимо прочего, текст, статьи, видео, аудио, фотографии, музыку, графику, комментарии, обзоры, предложения по рейтингу, личную информацию или другие материалы.
        p Вы понимаете, что Вклады могут быть доступны для просмотра другим пользователям Сервисов и, возможно, через сторонние веб-сайты.
        p Публикуя Вклады, вы предоставляете нам лицензию (включая использование вашего имени, товарных знаков и логотипов): размещая любые Вклады, вы предоставляете нам неограниченное, безотзывное, бессрочное, неисключительное, передаваемое, безвозмездное, полностью оплаченное, всемирное право и лицензия на: использование, копирование, воспроизведение, распространение, продажу, перепродажу, публикацию, трансляцию, переименование, хранение, публичное исполнение, публичное отображение, переформатирование, перевод, выдержку (полностью или частично), и использование ваших Вкладов (включая, помимо прочего, ваше изображение, имя и голос) для любых целей, коммерческих, рекламных или иных, для подготовки производных работ или включения в другие работы ваших Вкладов, а также для сублицензии предоставленных лицензий в этой секции. Наше использование и распространение может осуществляться в любых медиа-форматах ичерез любые медиаканалы.
        p Эта лицензия включает использование нами вашего имени, названия компании и названия франшизы, если применимо, а также любых товарных знаков, знаков обслуживания, торговых наименований, логотипов, а также личных и коммерческих изображений, которые вы предоставляете
        p Вы несете ответственность за то, что вы публикуете или загружаете: Отправляя нам Материалы и/или публикуя Вклады через любую часть Сервисов или делая Вклады доступными через Сервисы путем привязки своей учетной записи через Сервисы к любой из ваших учетных записей в социальных сетях, вы:
        li подтверждаете, что вы прочитали и согласны с нашими «ЗАПРЕЩЕННЫМИ ДЕЯТЕЛЬНОСТЬМИ» и не будете отправлять, публиковать, загружать или передавать через Сервисы какие-либо материалы, а также размещать какие-либо материалы, которые являются незаконными, оскорбительными, ненавистными, вредными, дискредитирующими, непристойными или запугивающими, оскорбительными, дискриминационными, угрожающими какому-либо лицу или группе, сексуально откровенными, ложными, неточными, обманчивыми или вводящими в заблуждение;
        li в той степени, в которой это разрешено применимым законодательством, отказываетесь от любых моральных прав на любые такие Материалы и/или Вклады;
        li гарантируете, что любые такие Материалы и/или Вклады являются оригинальными для вас или что у вас есть необходимые права и лицензии для подачи таких Материалов и/или Вкладов, а также что у вас есть все полномочия предоставлять нам вышеупомянутые права в отношении ваших Материалов и /или Взносы;
        li гарантируете и заявляете, что ваши Материалы и/или Вклады не представляют собой конфиденциальную информацию.
        p Вы несете единоличную ответственность за свои Материалы и/или Вклады, и вы прямо соглашаетесь возместить нам любые убытки, которые мы можем понести из-за нарушения вами настоящего раздела, прав интеллектуальной собственности любой третьей стороны или применимое право.
        p Мы можем удалять или редактировать ваш Контент: хотя мы не обязаны отслеживать какие-либо Вклады, мы имеем право удалять или редактировать любые Вклады в любое время без предварительного уведомления, если, по нашему разумному мнению, мы считаем такие Вклады являются вредными или нарушающими настоящие Условия пользования. Если мы удалим или отредактируем любую такую информацию, мы также можем приостановить или отключить вашу учетную запись и сообщить о вас властям.
        h3 5. ПРЕДСТАВЛЕНИЯ ПОЛЬЗОВАТЕЛЕЙ
        p Используя Сервисы, вы заявляете и гарантируете, что: 1. вся предоставленная вами регистрационная информация будет правдивой, точной, актуальной и полной; 2. вы будете поддерживать точность такой информации и оперативно обновлять такую регистрационную информацию по мере необходимости; 3. вы обладаете правоспособностью и соглашаетесь соблюдать настоящие Юридические условия; 4. вы не являетесь несовершеннолетним в юрисдикции, в которой вы проживаете, или, если вы несовершеннолетний, вы получили разрешение родителей на использование Сервисов; 5. вы не будете получать доступ к Сервисам автоматическими или нечеловеческими средствами, будь то с помощью бота, скрипта или иным образом; 6. вы не будете использовать Сервисы в каких-либо незаконных или несанкционированных целях; 7. использование вами Сервисов не будет нарушать какие-либо применимые законы или правила.
        p Если вы предоставляете какую-либо информацию, которая является неверной, неточной, устаревшей или неполной, мы имеем право приостановить или прекратить действие вашей учетной записи и отказать в любом текущем или будущем использовании Сервисов (или любой их части).
        h3 6. РЕГИСТРАЦИЯ ПОЛЬЗОВАТЕЛЯ
        p Для использования Сервисов вам необходимо зарегистрироваться. Вы соглашаетесь сохранять конфиденциальность своего пароля и несете ответственность за любое использование вашей учетной записи и пароля. Мы оставляем за собой право удалить, вернуть или изменить выбранное вами имя пользователя, если мы по нашему собственному усмотрению определим, что такое имя пользователя является неуместным, непристойным или иным образом нежелательным.
        h3 7. ПОКУПКА И ОПЛАТА
        p Вы соглашаетесь предоставлять актуальную, полную и точную информацию о покупке и учетной записи для всех покупок, совершаемых через Сервисы. Вы также соглашаетесь незамедлительно обновить информацию об учетной записи и платеже, включая адрес электронной почты, способ оплаты и дату истечения срока действия платежной карты, чтобы мы могли завершить ваши транзакции и связаться с вами при необходимости.
        p Если с вашего заказа взимаются периодические платежи, вы соглашаетесь на то, чтобы мы регулярно взимали средства с вашего способа оплаты, не требуя вашего предварительного одобрения для каждого регулярного платежа, до тех пор, пока вы не отмените соответствующий заказ. Мы оставляем за собой право исправлять любые ошибки или ошибки в ценообразовании, даже если мы уже запросили или получили оплату.
        h3 8. ПОЛИТИКА
        p Все продажи являются окончательными, и возврат средств не производится.
        h3 9. ЗАПРЕЩЕННЫЕ ДЕЯТЕЛЬНОСТИ
        p Вы не имеете права получать доступ к Сервисам или использовать их для каких-либо целей, кроме тех, для которых мы предоставляем Сервисы. Сервисы не могут использоваться в каких-либо коммерческих целях, за исключением тех, которые специально разрешены или одобрены нами.
        p Как пользователь Сервисов вы соглашаетесь не:
        li получать систематически данные или другой контент из Сервисов для создания или составления, прямо или косвенно, коллекции, компиляции, базы данных или каталога без нашего письменного разрешения;
        li обманывать или вводить в заблуждение нас и других пользователей, особенно при любой попытке узнать конфиденциальную информацию об учетной записи, например, пароли пользователей;
        li обходить, отключать или иным образом вмешиваться в функции Сервисов, связанные с безопасностью, включая функции, которые предотвращают или ограничивают использование или копирование любого Контента или налагают ограничения на использование Сервисов и/или Контента, содержащегося в них;
        li унижать, запятнать или иным образом нанести вред нам и/или Сервисам;
        li использовать любую информацию, полученную через Сервисы, с целью преследования, оскорбления или причинения вреда другому человеку;
        li использовать ненадлежащим образом наши Сервисы поддержки или отправлять ложные сообщения о злоупотреблениях или неправомерных действиях;
        li использовать Сервисы способами, несовместимыми с любыми применимыми законами или правилами;
        li заниматься несанкционированным созданием фреймов или ссылок на Сервисы;
        li загружать или передавать (или пытаться загрузить или передать) вирусы, троянские кони или другие материалы, включая чрезмерное использование заглавных букв и спам (непрерывную публикацию повторяющегося текста), которые мешают бесперебойному использованию Сервисов любой стороной или модифицирует, ухудшает, нарушает, изменяет или вмешивается в использование, функции, работу или обслуживание Сервисов;
        li участвовать в любом автоматизированном использовании системы, например, использовать сценарии для отправки комментариев или сообщений или использовать любой интеллектуальный анализ данных, роботов или аналогичные инструменты сбора и извлечения данных;
        li удалять уведомление об авторских правах или других правах собственности из любого Контента;
        li выдавать себя за другого пользователя или человека или использовать имя другого пользователя;
        li загружать или передавать (или пытаться загрузить или передать) любые материалы, которые действуют как пассивный или активный механизм сбора или передачи информации, включая, помимо прочего, четкие форматы обмена графикой («гифки»), пиксели 1×1, веб-ошибки, файлы cookie. или другие подобные устройства (иногда называемые «шпионским ПО», «механизмами пассивного сбора» или «ПКМ»);
        li вмешиваться, нарушать или создавать чрезмерную нагрузку на Сервисы или сети, связанные с Сервисами;
        li преследовать, раздражать, запугивать или угрожать любому из наших сотрудников или агентов, участвующих в предоставлении вам какой-либо части Сервисов;
        li пытаться обойти любые меры Сервисов, предназначенные для предотвращения или ограничения доступа к Сервисам или любой их части;
        li копировать или адаптировать программное обеспечение Сервисов, включая, помимо прочего, Flash, PHP, HTML, JavaScript или другой код;
        li расшифровывать, декомпилировать, дизассемблировать или реконструировать любое программное обеспечение, составляющее или каким-либо образом являющееся частью Сервисов, за исключением случаев, разрешенных применимым законодательством;
        li использовать, запускать, разрабатывать или распространять любую автоматизированную систему, включая, помимо прочего, любого робота, чит-утилиту, скрапер или автономное средство чтения, которые получают доступ к Сервисам, или использовать или запускать неавторизованный скрипт или другое программное обеспечение, за исключением случаев, когда это может быть результатом стандартного использования поисковой системы или интернет-браузера;
        li использовать агента по закупкам для совершения покупок в Сервисах;
        li использовать несанкционированные Сервисы, включая сбор имен пользователей и/или адресов электронной почты пользователей с помощью электронных или других средств с целью отправки нежелательной электронной почты или создания учетных записей пользователей автоматическими средствами или под ложным предлогом;
        li использовать Сервисы в рамках любых попыток конкурировать с нами или иным образом использовать Сервисы и/или Контент для любых целей, приносящих доход;
        li продавать или иным образом передавать свой профиль.
        h3 10. ВКЛАД ПОЛЬЗОВАТЕЛЕЙ
        p Службы могут приглашать вас общаться, вносить вклад или участвовать в блогах, досках объявлений, онлайнфорумах и других функциях, а также могут предоставлять вам возможность создавать, отправлять, публиковать, отображать, передавать, выполнять, публиковать, распространять, или транслировать контент и материалы нам или в Сервисах, включая, помимо прочего, текст, тексты, видео, аудио, фотографии, графику, комментарии, предложения или личную информацию или другие материалы (совместно именуемые «Вклады»). Вклады могут быть просмотрены другими пользователями Сервисов и через сторонние веб-сайты. Таким образом, любые передаваемые вами Вклады могут рассматриваться как не конфиденциальные и не являющиеся собственностью. Когда вы создаете или предоставляете доступ к каким-либо Вкладам, вы тем самым заявляете и гарантируете, что:
        li создание, распространение, передача, публичный показ или исполнение, а также доступ, загрузка или копирование ваших Вкладов не нарушают и не будут нарушать права собственности, включая, помимо прочего, авторские права, патенты, товарные знаки, коммерческую тайну или моральные права любой третьей стороны;
        li вы являетесь создателем и владельцем или обладаете необходимыми лицензиями, правами, согласиями, выпусками и разрешениями для нас, Сервисов и других пользователей Сервисов использовать ваши Вклады любым способом, предусмотренным Сервисами и настоящими Условиями пользования;
        li ваши материалы не являются ложными, неточными или вводящими в заблуждение;
        li ваши Вклады не являются нежелательной или несанкционированной рекламой, рекламными материалами, финансовыми пирамидами, письмами счастья, спамом, массовыми рассылками или другими формами навязывания Сервисов;
        li ваши материалы не являются непристойными, похотливыми, грязными, жестокими, оскорбительными, клеветническими, или иным образом нежелательными (по нашему определению);
        li ваши материалы не высмеивают, не унижают, не запугивают и не оскорбляют кого-либо;
        li ваши материалы не используются для преследования или угроз (в юридическом смысле этих терминов) любому другому лицу, а также для пропаганды насилия в отношении конкретного человека или класса людей;
        li ваши вклады не нарушают какие-либо применимые законы, постановления или правила;
        li ваши вклады не нарушают права на неприкосновенность частной жизни или рекламу каких-либо третьих лиц;
        li ваши материалы не нарушают никаких применимых законов, касающихся детской порнографии, или иным образом не направлены на защиту здоровья или благополучия несовершеннолетних;
        li ваши материалы не содержат оскорбительных комментариев, связанных с расой, национальным происхождением, полом, сексуальными предпочтениями или физическими недостатками;
        li ваши Вклады не нарушают каким-либо иным образом и не ссылаются на материалы, которые нарушают какие-либо положения настоящих Юридических условий или любого применимого закона или постановления.
        p Любое использование Сервисов в нарушение вышеизложенного нарушает настоящие Юридические условия и может привести, среди прочего, к прекращению или приостановлению ваших прав на использование Сервисов.
        h3 11. ЛИЦЕНЗИЯ НА ВНЕСЕНИЕ ВКЛАДА
        p Размещая свои Вклады в любой части Сервисов или делая Вклады доступными для Сервисов путем привязки своей учетной записи в Сервисовах к любой из ваших учетных записей в социальных сетях, вы автоматически предоставляете, а также заявляете и гарантируете, что имеете право предоставлять нам неограниченное, безотзывное, бессрочное, неисключительное, передаваемое, безвозмездное, полностью оплачиваемое, всемирное право и лицензию на размещение, использование, копирование, воспроизведение, раскрытие, продажу, перепродажу, публикацию, трансляцию, переименование, архивировать, хранить, кэшировать, публично исполнять, публично демонстрировать, переформатировать, переводить, передавать, выдержки (полностью или частично) и распространять такие Вклады (включая, помимо прочего, ваше изображение и голос) для любых целей, коммерческих, рекламных, или иным образом, а также готовить производные работы или включать в другие работы такие Вклады, а также предоставлять и разрешать сублицензии на вышеизложенное. Использование и распространение могут осуществляться в любых медиа форматах и по любым медиаканалам.
        p Эта лицензия будет применяться к любой форме, средствам массовой информации или технологии, известным в настоящее время или разработанным в дальнейшем, и включает использование нами вашего имени, названия компании и названия франшизы, если применимо, а также любых товарных знаков, знаков обслуживания, торговых наименований, логотипов, а также личные и коммерческие изображения, которые вы предоставляете. Вы отказываетесь от всех моральных прав на свои Вклады и гарантируете, что моральные права не были иным образом заявлены в ваших Вкладах.
        p Мы не претендуем на право собственности на ваши Вклады. Вы сохраняете полное право собственности на все свои Вклады, а также любые права интеллектуальной собственности или другие права собственности, связанные с вашими Вкладами. Мы не несем ответственности за любые заявления или представления в ваших Материалах, предоставленных вами в любой области Сервисов. Вы несете единоличную ответственность за свои Вклады в Сервисы и прямо соглашаетесь освободить нас от любой ответственности и воздерживаться от любых судебных исков против нас в отношении ваших Вкладов.
        p Мы имеем право по нашему исключительному и абсолютному усмотрению: 1. редактировать или иным образом изменять любые Материалы; 2. переклассифицировать любые Вклады, чтобы разместить их в более подходящих местах в Сервисах; 3. предварительно проверять или удалять любые Материалы в любое время и по любой причине без предварительного уведомления. Мы не обязаны отслеживать ваши вклады.
        h3 12. РУКОВОДСТВО ДЛЯ ОБЗОРОВ
        p Мы можем предоставить вам разделы в Сервисах, где вы можете оставлять отзывы или оценки. Публикуя отзыв, вы должны соблюдать следующие критерии: 1. вы должны иметь непосредственный опыт общения с лицом/субъектом, о котором идет отзыв; 2. ваши отзывы не должны содержать оскорбительную ненормативную лексику или расистские, ненавистнические выражения; 3. ваши отзывы не должны содержать дискриминационные ссылки по признаку религии, расы, пола, национального происхождения, возраста, семейного положения, сексуальной ориентации или инвалидности; 4. ваши отзывы не должны содержать упоминаний о незаконной деятельности; 5. вы не должны быть связаны с конкурентами, если публикуете отрицательные отзывы; 6. вы не должны делать никаких выводов относительно законности поведения; 7. вы не имеете права публиковать ложные или вводящие в заблуждение заявления; 8. вы не имеете права организовывать кампанию, поощряющую других публиковать отзывы, как положительные, так и отрицательные.
        p Мы можем принимать, отклонять или удалять отзывы по своему усмотрению. Мы не несем абсолютно никаких обязательств по проверке или удалению отзывов, даже если кто-либо считает их нежелательными или неточными. Обзоры не одобряются нами и не обязательно отражают наше мнение или точку зрения любого из наших филиалов или партнеров. Мы не несем ответственности за какой-либо обзор или за любые претензии, обязательства или убытки, возникшие в результате любого обзора. Публикуя обзор, вы тем самым предоставляете нам бессрочное, неисключительное, действующее во всем мире, без лицензионных отчислений, полностью оплаченное, переуступаемое и сублицензируемое право и лицензию на воспроизведение, изменение, перевод, передачу любыми средствами, отображение, исполнение и /или распространение всего контента, относящегося к обзору.
        h3 13. ЛИЦЕНЗИЯ НА МОБИЛЬНОЕ ПРИЛОЖЕНИЕ
        h5 Использование лицензии
        p Если вы получаете доступ к Сервисам через Приложение, мы предоставляем вам отзывное, неисключительное, непередаваемое, ограниченное право на установку и использование Приложения на беспроводных электронных устройствах, принадлежащих вам или контролируемых вами, а также на доступ и использование Приложения на такие устройства строго в соответствии с условиями настоящей лицензии на мобильное приложение, содержащейся в настоящих Юридических условиях. Вы не имеете права: 1. за исключением случаев, разрешенных действующим законодательством, декомпилировать, перепроектировать, дизассемблировать, пытаться получить исходный код или расшифровать Приложение; 2. вносить любые изменения, адаптации, улучшения, дополнения, переводы или производные работы из Приложения; 3. нарушать любые применимые законы, правила или положения в связи с вашим доступом или использованием Приложения; 4. удалять, изменять или скрывать любые уведомления о правах собственности (включая любые уведомления об авторских правах или товарных знаках), опубликованные нами или лицензиарами Приложения; 5. использовать Приложение для любых целей, приносящих доход, коммерческих предприятий или других целей, для которых оно не предназначено; 6. сделать Приложение доступным через сеть или другую среду, обеспечивающую доступ или использование несколькими устройствами или пользователями одновременно; 7. использовать Приложение для создания продукта, Сервисы или программного обеспечения, которые прямо или косвенно конкурируют с Приложением или каким-либо образом заменяют его; 8. использовать Приложение для отправки автоматических запросов на любой веб-сайт или для отправки нежелательной коммерческой электронной почты; 9. использовать любую конфиденциальную информацию или любой из наших интерфейсов или другую нашу интеллектуальную собственность при проектировании, разработке, производстве, лицензировании или распространении любых приложений, аксессуаров или устройств для использования с Приложением
        h5 Устройства Apple и Android
        p Следующие условия применяются, когда вы используете Приложение, полученное в Apple Store или Google Play (каждое из которых является «Дистрибьютором приложения»), для доступа к Сервисам: 1. лицензия, предоставленная вам для нашего Приложения, ограничена непередаваемой лицензией. Использовать приложение на устройстве, использующем операционные системы Apple iOS или Android, в зависимости от обстоятельств, и в соответствии с правилами использования, изложенными в соответствующих условиях обслуживания Дистрибьютора приложений; 2. мы несем ответственность за предоставление любых Сервисов по обслуживанию и поддержке в отношении Приложения, как указано в условиях настоящей лицензии на мобильное приложение, содержащейся в настоящих Юридических условиях, или как иным образом требуется в соответствии с применимым законодательством, и вы признаете, что каждый Дистрибьютор Приложения не несет никаких обязательств по предоставлению какихлибо Сервисов по обслуживанию и поддержке Приложения; 3. в случае несоответствия Приложения любой применимой гарантии вы можете уведомить соответствующего Дистрибьютора приложения, и Дистрибьютор приложения, в соответствии со своими условиями и политиками, может возместить уплаченную цену покупки, если таковая имеется. В отношении Приложения и в максимальной степени, разрешенной применимым законодательством, Дистрибьютор Приложения не будет иметь никаких других гарантийных обязательств в отношении Приложения; 4. вы заявляете и гарантируете, что вы не находитесь в стране, на которую распространяется эмбарго правительства США или которая была определена правительством США как страна, «поддерживающая терроризм», и вы не внесены в любой список запрещенных или ограниченных сторон правительства США; 5. при использовании Приложения вы должны соблюдать применимые условия соглашения третьих лиц; 6. вы признаете и соглашаетесь с тем, что Дистрибьюторы приложений являются сторонними бенефициарами условий настоящей лицензии на мобильное приложение, содержащихся в настоящих Юридических условиях, и что каждый Дистрибьютор приложений будет иметь право (и будет считаться принявшим право) применять условия настоящей лицензии на мобильное приложение, содержащиеся в настоящих Юридических условиях, против вас как стороннего бенефициара.
        h3 14. СОЦИАЛЬНЫЕ СЕТИ
        p3 В рамках функциональности Сервисов вы можете связать свою учетную запись с онлайн-учетными записями, которые у вас есть у сторонних поставщиков Сервисов (каждая такая учетная запись называется «Сторонней учетной записью»), одним из следующих способов: 1. предоставив свою Стороннюю учетную запись, данные для входа через Сервисы; или 2. предоставив нам доступ к вашей Сторонней учетной записи, как это разрешено применимыми условиями, которые регулируют использование вами каждой Сторонней учетной записью. Вы заявляете и гарантируете, что имеете право раскрыть нам информацию для входа в свою Стороннюю учетную запись и/или предоставить нам доступ к вашей Сторонней учетной записи без нарушения вами каких-либо положений и условий, которые регулируют использование вами применимой Сторонней учетной записи, при этом мы не обязываемся платить какие-либо сборы и не подвергаем нас каким-либо ограничениям использования, налагаемым сторонним поставщиком Сервисов Сторонней учетной записи. Предоставляя нам доступ к любым Сторонним учетным записям, вы понимаете, что: 1. мы можем получать доступ, предоставлять доступ и хранить (если применимо) любой контент, который вы предоставили и сохранили в своей Сторонней учетной записи («Социальная сеть»), чтобы он был доступен в Сервисах и через вашу учетную запись, включая, помимо прочего, любые списки друзей; 2. мы можем отправлять и получать от вашей Сторонней учетной записи дополнительную информацию в той степени, в которой вы будете уведомлены при переходе по ссылке на вашу учетную запись со Сторонней учетной записи. В зависимости от выбранных вами Сторонних учетных записей и с учетом настроек конфиденциальности, которые вы установили в таких Сторонних учетных записях, личная информация, которую вы публикуете в своих Сторонних учетных записях, может быть доступна в вашей учетной записи в Сервисах и через нее. Обратите внимание, что если Сторонняя учетная запись или связанная с ней служба становятся недоступными или наш доступ к такой Сторонней учетной записи, прекращается сторонним поставщиком Сервисов, то Контент Социальной сети больше не может быть доступен в Службах и через них. У вас будет возможность в любое время отключить связь между вашей учетной записью в Сервисах и сторонними учетными записями. ПОЖАЛУЙСТА, ОБРАТИТЕ ВНИМАНИЕ, ЧТО ВАШИ ОТНОШЕНИЯ С ТРЕТЬИМИ ПОСТАВЩИКАМИ СЕРВИСОВ, СВЯЗАННЫМИ С ВАШИМИ СТОРОННИМИ СЧЕТАМИ, РЕГУЛИРУЮТСЯ ИСКЛЮЧИТЕЛЬНО ВАШИМ СОГЛАШЕНИЕМ С ТРЕТЬИМИ ПОСТАВЩИКАМИ СЕРВИСОВ. Мы не предпринимаем никаких усилий для проверки любого Контента социальных сетей для каких-либо целей, включая, помимо прочего, точность, законность или отсутствие нарушений прав, и мы не несем ответственности за любой Контент социальных сетей. Вы признаете и соглашаетесь с тем, что мы можем получить доступ к вашей адресной книге электронной почты, связанной со Сторонней учетной записью, и вашему списку контактов, хранящемуся на вашем мобильном устройстве или планшетном компьютере, исключительно в целях идентификации и информирования вас о тех контактах, которые также зарегистрировались для использования Сервисов. Вы можете деактивировать соединение между Сервисами и вашей Сторонней учетной записью, связавшись с нами, используя контактную информацию ниже или через настройки вашей учетной записи (если применимо). Мы попытаемся удалить любую информацию, хранящуюся на наших серверах и полученную через такую стороннюю учетную запись, за исключением имени пользователя и изображения профиля, которые становятся связанными с вашей учетной записью.
        h3 15. СТОРОННИЕ ВЕБ-САЙТЫ И КОНТЕНТ
        p Сервисы могут содержать (или могут быть отправлены вам через Сайт или Приложение) ссылки на другие вебсайты («Сторонние веб-сайты»), а также статьи, фотографии, текст, графику, изображения, дизайн, музыку, звук, видео, информацию, приложения, программное обеспечение и другой контент или элементы, принадлежащие третьим лицам или исходящие от них («Сторонний контент»). Такие Сторонние веб-сайты и Сторонний контент не исследуются, не контролируются и не проверяются на точность, уместность или полноту нами, и мы не несем ответственности за любые Сторонние веб-сайты, к которым осуществляется доступ через Сервисы. Включение, размещение ссылок или разрешение на использование или установку любых Сторонних веб-сайтов или любого Стороннего контента не подразумевает их одобрение с нашей стороны. Если вы решите выйти из Сервисов и получить доступ к Сторонним веб-сайтам или использовать или установить какой-либо Сторонний контент, вы делаете это на свой страх и риск и должны понимать, что настоящие Юридические условия больше не имеют юридической силы. Вам следует ознакомиться с применимыми условиями и политиками, включая правила конфиденциальности и сбора данных, любого веб-сайта, на который вы переходите из Сервисов, или в отношении любых приложений, которые вы используете или устанавливаете из Сервисов. Любые покупки, которые вы совершаете через Сторонние веб-сайты, будут осуществляться через другие веб-сайты и у других компаний, и мы не несем никакой ответственности в отношении таких покупок, которые совершаются исключительно между вами и соответствующей третьей стороной. Вы соглашаетесь и признаете, что мы не поддерживаем продукты или Сервисы, предлагаемые на сторонних веб-сайтах, и вы обязуетесь освободить нас от любого вреда, причиненного покупкой вами таких продуктов или Сервисов. Кроме того, вы обязуетесь считать нас невиновными в любых понесенных вами убытках или вреде, причиненном вам в связи с каким-либо Сторонним контентом или любым контактом со Сторонними веб-сайтами или в результате любого контакта со Сторонними веб-сайтами.
        h3 16. РЕКЛАМОДАТЕЛИ
        p Мы разрешаем рекламодателям отображать свою рекламу и другую информацию в определенных областях Сервисов, например, рекламные объявления на боковой панели или рекламные баннеры. Мы просто предоставляем место для размещения такой рекламы и никаких других отношений с рекламодателями не имеем.
        h3 17. УПРАВЛЕНИЕ СЕРВИСАМИ
        p Мы оставляем за собой право, но не обязанность: 1. контролировать Сервисы на предмет нарушений настоящих Юридических условий; 2. принять соответствующие правовые меры против любого, кто по нашему собственному усмотрению нарушает закон или настоящие Юридические условия, включая, помимо прочего, сообщение о таком пользователе в правоохранительные органы; 3. по нашему собственному усмотрению и без ограничений отказывать, ограничивать доступ, ограничивать доступность или отключать (насколько это технологически осуществимо) любой из ваших Вкладов или любую их часть; 4. по нашему собственному усмотрению и без ограничений, уведомлений или обязательств удалить из Сервисов или иным образом отключить все файлы и контент, которые имеют чрезмерный размер или каким-либо образом обременительны для наших систем; 5. иным образом управлять Сервисами так, чтобы защитить наши права и собственность и облегчить надлежащее функционирование Сервисов.
        h3 18. ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ
        p Мы заботимся о конфиденциальности и безопасности данных. Пожалуйста, ознакомьтесь с нашей Политикой конфиденциальности: https://shuffle.city/ru/privacy.html.Используя Сервисы, вы соглашаетесь соблюдать нашу Политику конфиденциальности, которая включена в настоящие Юридические условия. Обратите внимание, что Сервисы предоставляются в Объединенных Арабских Эмиратах. Если вы получаете доступ к Сервисам из любого другого региона мира, где законы или другие требования, регулирующие сбор, использование или раскрытие персональных данных, отличаются от применимых законов в Объединенных Арабских Эмиратах, то, продолжая использовать Сервисы, вы передаете свои данные в Объединенные Арабские Эмираты, и вы прямо соглашаетесь на передачу и обработку ваших данных в Объединенных Арабских Эмиратах.
        h3 19. СРОК И ПРЕКРАЩЕНИЕ ДЕЙСТВИЯ
        p Настоящие Юридические условия остаются в полной силе и действии, пока вы пользуетесь Сервисами. НЕ ОГРАНИЧИВАЯ КАКИХ-ЛИБО ДРУГИХ ПОЛОЖЕНИЙ НАСТОЯЩИХ ПРАВОВЫХ УСЛОВИЙ, МЫ ОСТАВЛЯЕМ ПРАВО ПО НАШЕМУ УСМОТРЕНИЮ, БЕЗ УВЕДОМЛЕНИЯ ИЛИ ОТВЕТСТВЕННОСТИ, ОТКАЗАТЬ В ДОСТУПЕ И ИСПОЛЬЗОВАНИИ СЕРВИСОВ (ВКЛЮЧАЯ БЛОКИРОВКУ ОПРЕДЕЛЕННЫХ IP-АДРЕСОВ) ЛЮБОМУ ЛИЦУ ПО ЛЮБЫМ ПРИЧИНАМ, ВКЛЮЧАЯ, ПОМИМО ПРОЧЕГО, НАРУШЕНИЕ ЛЮБЫХ ЗАЯВЛЕНИЙ, ГАРАНТИЙ ИЛИ ОБЯЗАТЕЛЬСТВ, СОДЕРЖАЩИХСЯ В НАСТОЯЩИХ ЮРИДИЧЕСКИХ УСЛОВИЯХ ИЛИ ЛЮБОМ ПРИМЕНИМОМ ЗАКОНЕ ИЛИ НОРМАТИВНЫХ НОРМ. МЫ МОЖЕМ ПРЕКРАТИТЬ ВАШЕ ИСПОЛЬЗОВАНИЕ СЕРВИСОВ ИЛИ УЧАСТИЕ В СЕРВИСОВАХ, ИЛИ УДАЛИТЬ ВАШУ УЧЕТНУЮ ЗАПИСЬ И ЛЮБОЙ КОНТЕНТ ИЛИ ИНФОРМАЦИЮ, КОТОРУЮ ВЫ РАЗМЕСТИЛИ В ЛЮБОЕ ВРЕМЯ, БЕЗ ПРЕДУПРЕЖДЕНИЯ, ПО НАШЕМУ УСМОТРЕНИЮ.
        p Если мы прекратим или приостановим вашу учетную запись по какой-либо причине, вам будет запрещено регистрироваться и создавать новую учетную запись под своим именем, вымышленным или заимствованным именем или именем любой третьей стороны, даже если вы действуете от имени третьей стороны. Помимо прекращения или приостановки действия вашей учетной записи, мы оставляем за собой право предпринять соответствующие юридические действия, включая, помимо прочего, гражданские, уголовные и судебные запреты.
        h3 20. МОДИФИКАЦИИ И ПЕРЕРЫВЫ
        p Мы оставляем за собой право изменять, модифицировать или удалять содержимое Сервисов в любое время и по любой причине по нашему собственному усмотрению без предварительного уведомления. Однако мы не обязаны обновлять какую-либо информацию о наших Сервисах. Мы не несем ответственности перед вами или любой третьей стороной за любые модификации, изменения цен, приостановку или прекращение предоставления Сервисов.
        p Мы не можем гарантировать, что Сервисы будут доступны в любое время. У нас могут возникнуть проблемы с оборудованием, программным обеспечением или другие проблемы, или возникнуть необходимость проведения технического обслуживания, связанного с Сервисами, что приведет к перебоям, задержкам или ошибкам. Мы оставляем за собой право изменять, пересматривать, обновлять, приостанавливать, прекращать или иным образом модифицировать Сервисы в любое время и по любой причине без предварительного уведомления. Вы соглашаетесь с тем, что мы не несем никакой ответственности за любые убытки, ущерб или неудобства, вызванные вашей неспособностью получить доступ к Сервисам или использовать их во время простоя или прекращения оказания Сервисов. Ничто в настоящих Юридических условиях не может быть истолковано как обязывающее нас поддерживать Сервисы или предоставлять какие-либо исправления, обновления или выпуски в связи с ними.
        h3 21. ПРИМЕНИМОЕ ЗАКОНОДАТЕЛЬСТВО
        p Настоящие Юридические условия регулируются и определяются в соответствии с законодательством Объединенных Арабских Эмиратов и вы безоговорочно соглашаетесь с тем, что суды Объединенных Арабских Эмиратов обладают исключительной юрисдикцией для разрешения любых споров, которые могут возникнуть в связи с настоящими Юридическими условиями.
        h3 22. РАЗРЕШЕНИЕ СПОРОВ
        h5 Неформальные переговоры
        p Чтобы ускорить разрешение и контролировать стоимость любого спора, разногласия или претензии, связанные с настоящими Юридическими условиями, предъявленных вами или нами, Стороны соглашаются сначала попытаться урегулировать любые Споры в неофициальном порядке в течение как минимум 30 дней до начала арбитражного разбирательства. Такие неофициальные переговоры начинаются после письменного уведомления одной Стороной другой Стороне.
        h5 Обязательный арбитраж
        p Любой спор, возникающий из настоящих Юридических условий, включая любые вопросы относительно их существования или прекращения действия, передается и окончательно разрешается Международным коммерческим арбитражным судом при Европейской арбитражной палате (Бельгия, Брюссель, Авеню Луиза 146) по Регламенту настоящего МКАС, который вследствие ссылки на него считается частью настоящего пункта. Число арбитров должно быть три 3. Местонахождением или юридическим местом арбитража является Дубай, Объединенные Арабские Эмираты. Языком разбирательства является английский. Применимым правом настоящих Юридических условий является материальное право Объединенных Арабских Эмиратов.
        h5 Ограничения
        p Стороны соглашаются, что любой арбитраж ограничивается Спором между Сторонами в индивидуальном порядке. В полной мере, разрешенной законом, никакое арбитражное разбирательство не может быть объединено с каким-либо другим разбирательством; нет права или полномочий для разрешения какого-либо Спора на основе группового иска или использования процедур группового иска; отсутствует право или полномочия на рассмотрение какого-либо Спора в предполагаемом представительском качестве от имени широкой общественности или любых других лиц.
        h5 Исключения из неформальных переговоров и арбитража
        p Стороны соглашаются, что следующие Споры не подпадают под действие вышеуказанных положений, касающихся неофициальных переговоров, обязательных для арбитража: (а) любые Споры, направленные на обеспечение соблюдения или защиты или касающиеся действительности любых прав интеллектуальной собственности Стороны; (б) любые Споры, связанные или вытекающие из обвинений в краже, пиратстве, вторжении в частную жизнь или несанкционированном использовании; (c) любое требование о судебном запрете. Если это положение будет признано незаконным или не имеющим исковой силы, то ни одна из Сторон не будет выбирать арбитражное разбирательство любого Спора, подпадающего под ту часть настоящего положения, которая будет признана незаконной или не имеющей исковой силы, и такой Спор будет разрешаться судом компетентной юрисдикции в пределах судов, перечисленных для юрисдикции выше, и Стороны соглашаются подчиняться личной юрисдикции этого суда.
        h3 23. ИСПРАВЛЕНИЯ
        p В Сервисах может содержаться информация, содержащая опечатки, неточности или упущения, включая описания, цены, доступность и различную другую информацию. Мы оставляем за собой право исправлять любые ошибки, неточности или упущения, а также изменять или обновлять информацию об Сервисовах в любое время без предварительного уведомления.
        h3 24. ОТКАЗ ОТ ОТВЕТСТВЕННОСТИ
        p ВЫ СОГЛАШАЕТЕСЬ, ЧТО ИСПОЛЬЗУЕТЕ СЕРВИСЫ НА СВОЙ РИСК. В МАКСИМАЛЬНОЙ СТЕПЕНИ, РАЗРЕШЕННОЙ ЗАКОНОДАТЕЛЬСТВОМ, МЫ ОТКАЗЫВАЕМСЯ ОТ ВСЕХ ГАРАНТИЙ, ЯВНЫХ ИЛИ ПОДРАЗУМЕВАЕМЫХ, В СВЯЗИ С СЕРВИСАМИ И ИХ ИСПОЛЬЗОВАНИЕМ ВАМИ, ВКЛЮЧАЯ, ПОМИМО ПРОЧЕГО, ПОДРАЗУМЕВАЕМЫЕ ГАРАНТИИ ТОВАРНОЙ ЦЕННОСТИ, ПРИГОДНОСТИ ДЛЯ ОПРЕДЕЛЕННОЙ ЦЕЛИ И НЕНАРУШЕНИЯ ПРАВ. МЫ НЕ ДАЕМ НИКАКИХ ГАРАНТИЙ ИЛИ ЗАЯВЛЕНИЙ ОТНОСИТЕЛЬНО ТОЧНОСТИ ИЛИ ПОЛНОТЫ СОДЕРЖАНИЯ СЕРВИСОВ ИЛИ СОДЕРЖАНИЯ ЛЮБЫХ ВЕБСАЙТОВ ИЛИ МОБИЛЬНЫХ ПРИЛОЖЕНИЙ, СВЯЗАННЫХ С СЕРВИСАМИ, И МЫ НЕ НЕСЕМ НИКАКОЙ ОТВЕТСТВЕННОСТИ ЗА (1) ОШИБКИ ИЛИ НЕДОСТАТКИ СОДЕРЖАНИЯ И МАТЕРИАЛОВ, (2) ЛИЧНЫЕ ТРАВМЫ ИЛИ ИМУЩЕСТВЕННЫЙ УЩЕРБ ЛЮБОГО РОДА, В РЕЗУЛЬТАТЕ ВАШЕГО ДОСТУПА К СЕРВИСАМ И ИСПОЛЬЗОВАНИЯ ИХ, (3) ЛЮБОЙ НЕСАНКЦИОНИРОВАННЫЙ ДОСТУП ИЛИ ИСПОЛЬЗОВАНИЕ НАШИХ ЗАЩИЩЕННЫХ СЕРВЕРОВ И/ИЛИ ЛЮБОЙ ВСЕЙ ПЕРСОНАЛЬНОЙ ИНФОРМАЦИИ И /ИЛИ ФИНАНСОВОЙ ИНФОРМАЦИИ, ХРАНЯЩЕЙСЯ В НИХ, (4) ЛЮБОЕ ПРЕКРАЩЕНИЕ ПЕРЕДАЧИ СЕРВИСОВ, (5) ЛЮБЫЕ ОШИБКИ, ВИРУСЫ, ТРОЯНСКИЕ КОНИ ИЛИ Т.П., КОТОРЫЕ МОГУТ БЫТЬ ПЕРЕДАНЫ ЧЕРЕЗ СЕРВИСЫ ЛЮБОЙ ТРЕТЬЕЙ СТОРОНОЙ, (6) ЛЮБЫЕ ОШИБКИ ИЛИ В ЛЮБОМ СОДЕРЖАНИИ И МАТЕРИАЛАХ ИЛИ ЛЮБЫЕ ПОТЕРИ ИЛИ УЩЕРБ ЛЮБОГО РОДА, ПОНЕСЕННЫЕ В РЕЗУЛЬТАТЕ ИСПОЛЬЗОВАНИЯ ЛЮБОГО КОНТЕНТА, РАЗМЕЩЕННОГО, ПЕРЕДАВАЕМОГО ИЛИ ДРУГИМ ОБРАЗОМ, ДОСТУПНОГО ЧЕРЕЗ СЕРВИСЫ. МЫ НЕ ГАРАНТИРУЕМ, НЕ ПОДТВЕРЖДАЕМ, НЕ ГАРАНТИРУЕМ ИЛИ НЕ НЕСЕМ ОТВЕТСТВЕННОСТИ ЗА ЛЮБОЙ ПРОДУКТ ИЛИ СЕРВИСОВУ, РЕКЛАМИРУЕМЫЕ ИЛИ ПРЕДЛАГАЕМЫЕ ТРЕТЬИМИ ЛИЦАМИ ПОСРЕДСТВОМ СЕРВИСОВ, ЛЮБОГО ВЕБ-САЙТА, ПО ГИПЕРССЫЛКЕ ИЛИ ЛЮБОГО ВЕБ-САЙТА ИЛИ МОБИЛЬНОГО ПРИЛОЖЕНИЯ, ПРЕДСТАВЛЕННЫХ В ЛЮБОМ БАННЕРЕ ИЛИ ДРУГОЙ РЕКЛАМЕ, И МЫ НЕ БУДЕМ НЕСТИ ЛЮБУЮ ОТВЕТСТВЕННОСТЬ ЗА МОНИТОРИНГ ЛЮБОЙ ТРАНЗАКЦИИ МЕЖДУ ВАМИ И ТРЕТЬИМИ ПОСТАВЩИКАМИ ПРОДУКТОВ ИЛИ СЕРВИСОВ. КАК ПРИ ПОКУПКЕ ПРОДУКТА ИЛИ СЕРВИСЫ ПО ЛЮБЫМ СРЕДСТВАМ ИЛИ В ЛЮБОЙ СРЕДЕ, ВЫ ДОЛЖНЫ ПРИНЯТЬ ВАЖНОЕ РАССМОТРЕНИЕ И ПРОЯВЛЯТЬ ОСТОРОЖНОСТЬ.
        h3 25. ОГРАНИЧЕНИЯ ОТВЕТСТВЕННОСТИ
        p НИ ПРИ КАКИХ ОБСТОЯТЕЛЬСТВАХ МЫ ИЛИ НАШИ ДИРЕКТОРЫ, СОТРУДНИКИ ИЛИ АГЕНТЫ НЕ НЕСУТ ОТВЕТСТВЕННОСТИ ПЕРЕД ВАМИ ИЛИ ЛЮБОЙ ТРЕТЬЕЙ СТОРОНОЙ ЗА ЛЮБЫЕ ПРЯМЫЕ, КОСВЕННЫЕ, СЛУЧАЙНЫЕ, СПЕЦИАЛЬНЫЕ ИЛИ ШТРАФНЫЕ УБЫТКИ, ВКЛЮЧАЯ УПУЩЕННУЮ ПРИБЫЛЬ, ПОТЕРЯ ДОХОДА, ПОТЕРЮ ДАННЫХ, ИЛИ ДРУГИЕ УБЫТКИ, ВОЗНИКШИЕ В РЕЗУЛЬТАТЕ ИСПОЛЬЗОВАНИЯ ВАМИ СЕРВИСОВ, ДАЖЕ ЕСЛИ НАС ПРЕДУПРЕЖДАЛИ О ВОЗМОЖНОСТИ ТАКОГО УБЫТКА.
        h3 26. ВОЗМЕЩЕНИЕ УБЫТКОВ
        p Вы соглашаетесь защищать, возмещать убытки и ограждать нас, включая наши дочерние компании, филиалы и всех наших соответствующих должностных лиц, агентов, партнеров и сотрудников, от любых потерь, ущерба, ответственности, претензий или требований. Сборы и расходы, понесенные любой третьей стороной в связи с: (1) вашими взносами; (2) использованием Сервисов; (3) нарушением настоящих Юридических условий; (4) любым нарушением ваших заявлений и гарантий, изложенных в настоящих Юридических условиях; (5) нарушением вами прав третьих лиц, включая, помимо прочего, права интеллектуальной собственности; (6) любым явным вредным действием по отношению к любому другому пользователю Сервиса. Несмотря на вышесказанное, мы оставляем за собой право за ваш счет взять на себя исключительную защиту и контроль над любым вопросом, по которому вы обязаны возместить нам ущерб, и вы соглашаетесь сотрудничать за ваш счет в нашей защите от таких претензий. Мы приложим разумные усилия, чтобы уведомить вас о любых таких претензиях, действиях или разбирательствах, попадающих под данное возмещение после того, как нам станет известно о них.
        h3 27. ПОЛЬЗОВАТЕЛЬСКИЕ ДАННЫЕ
        p Мы будем хранить определенные данные, которые вы передаете Сервисам, с целью управления производительностью Сервисов, а также данные, относящиеся к использованию вами Сервисов. Хотя мы регулярно выполняем резервное копирование данных, вы несете единоличную ответственность за все данные, которые вы передаете или которые относятся к любой деятельности, которую вы предприняли с использованием Сервисов. Вы соглашаетесь с тем, что мы не несем перед вами никакой ответственности за любую потерю или повреждение любых таких данных, и вы отказываетесь от любого права на иск против нас, возникающий в результате любой такой потери или повреждения таких данных.
        h3 28. ЭЛЕКТРОННЫЕ СООБЩЕНИЯ, СДЕЛКИ И ПОДПИСИ
        p Посещение Сервисов, отправка нам электронных писем и заполнение онлайн-форм представляют собой электронные коммуникации. Вы соглашаетесь получать электронные сообщения и соглашаетесь с тем, что все соглашения, уведомления, раскрытия информации и другие сообщения, которые мы предоставляем вам в электронном виде, по электронной почте и через Сервисы, удовлетворяют всем юридическим требованиям о том, что такие сообщения должны быть в письменной форме. НАСТОЯЩИМ ВЫ СОГЛАШАЕТЕСЬ НА ИСПОЛЬЗОВАНИЕ ЭЛЕКТРОННЫХ ПОДПИСЕЙ, КОНТРАКТОВ, ЗАКАЗОВ И ДРУГИХ ЗАПИСЕЙ, А ТАКЖЕ НА ЭЛЕКТРОННУЮ ДОСТАВКУ УВЕДОМЛЕНИЙ, ПОЛИТИК И ЗАПИСИ О ТРАНЗАКЦИЯХ, ИНИЦИИРОВАННЫХ ИЛИ ЗАВЕРШЕННЫХ НАМИ ИЛИ ЧЕРЕЗ СЕРВИСЫ. Настоящим вы отказываетесь от любых прав или требований в соответствии с любыми законами, положениями, правилами, постановлениями или другими законами в любой юрисдикции, которые требуют оригинальной подписи, доставки или хранения неэлектронных записей, а также платежей или предоставления кредитов любыми другими способами, чем электронные средства.
        h3 29. РАЗНОЕ
        p Настоящие Юридические условия, а также любые политики или правила работы, опубликованные нами в Сервисах или в отношении Сервисов, представляют собой полное соглашение и понимание между вами и нами. Наша неспособность реализовать или обеспечить соблюдение какого-либо права или положения настоящих Юридических условий не означает отказ от такого права или положения. Настоящие Юридические условия действуют в полной мере, разрешенной законом. Мы можем в любое время передать любые или все наши права и обязанности другим лицам. Мы не несем ответственности за любые убытки, ущерб, задержку или бездействие, вызванные любой причиной, находящейся вне нашего разумного контроля. Если какое-либо положение или часть положения настоящих Юридических условий будет признано незаконным, недействительным или не имеющим исковой силы, это положение или часть положения считается отделимым от настоящих Юридических условий и не влияет на действительность и исполнимость любых остальных положений. Между вами и нами в результате настоящих Юридических условий или использования Сервисов не возникает никаких совместных предприятий, партнерских, трудовых или агентских отношений. Вы соглашаетесь с тем, что настоящие Юридические условия не будут истолкованы против нас в силу того, что они были составлены нами. Настоящим вы отказываетесь от любых возражений, которые могут у вас возникнуть на основании электронной формы настоящих Юридических условий и отсутствия подписи сторон для исполнения настоящих Юридических условий.
        h3 30. СВЯЗАТЬСЯ С НАМИ
        p Чтобы разрешить жалобу относительно Сервисов или получить дополнительную информацию об использовании Сервисов, свяжитесь с нами по адресу:
        p
        a(href="official@shuffle.city") official@shuffle.city
            | &nbsp;общие вопросы по сервисам
        p
        a(href="hugs@shuffle.city ") hugs@shuffle.city
            | &nbsp;служба поддержки





































































































































































































