.overlay {
    position: fixed;
    background-color: #000000;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 12;
    opacity: 0;
    visibility: hidden;
    transition: all $transition;
}
.overlay.opened {
    visibility: visible;
    opacity: .6;
}
