include ../helpers/mixins
include ../../common.blocks/**/*.pug

block variables

doctype
html(lang="ru")
	head(itemscope, itemtype="http://schema.org/WPHeader")
		meta(charset="utf-8")
		title(itemprop="headline") #{title}
		<!--[if IE]>
		meta(http-equiv='X-UA-Compatible', content="IE = edge")
		<![endif]-->
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(name="keywords", content="key")
		meta(name="description" content="descr")
		meta(itemprop="keywords" content="keywords")
		meta(itemprop="description" content="description")
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"/>
		link(rel="stylesheet" type="text/css" href="css/style.css?v=1.07")
	body
		
		block content
		

		
		//script(src="js/libs/jquery.js")
		<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
		<script defer src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.8.3/dist/lazyload.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/lottie-web/5.7.3/lottie.min.js"></script>
		script(src="js/main.js?v=1.05")
		block scripts