extends layout/main

block variables
    - var title = "Privacy Policy | Shuffle"

block content
    main(style="padding: 2em")
        h1 Shuffle
        h2 Privacy Policy
        p Dubai Silicon Oasis, UAE
        p azart technologies fzco
        p
            a(href="mailto:official@shuffle.city") general questions about services
        p
            a(href="mailto:hugs@shuffle.city") support service
        h3 1. Project
        p very process of using the service. Sometimes it is a paranoid attention to design detail. We created and are developing the Shuffle project to make it convenient and useful for you. In today's world of aggressive marketing, this is important.
        h3 2. Our values and the purpose of Privacy Policy
        p We value your privacy and want to be fair to you personally and transparent about how and why we collect and process your Personal Data. Our overall goal is to ensure that the collection and use of Personal Data is intended and complies with applicable data protection laws. We also want you to know your rights regarding your Personal Data, which you can find below.
        p We understand the value of your Personal Data. But we also understand that every modern device, modern system uses it. Without such interaction it is impossible to provide service of adequate quality. We do not use your data for nefarious purposes, the only purpose is to provide you with useful and relevant information, to build the most accurate active portrait based on preferences, in order to get to know you better and help you with the maximum level of dedication, using all the Shuffle tools we have developed.
        h3 3. Privacy Policy applies to
        p This Privacy Policy applies to users (people who have registered an account and agreed to the Privacy Policy) of the Shuffle mobile application and service living in Dubai and around the world.
        h3 4. Children
        p We do not and will not knowingly collect information from any unsupervised child under 13 years of age. If you are under 13 years old, you may not use Shuffle unless your parent(s) or guardian has given us their consent.
        h4 5. Personal data we collect about you
        p We collect Personal Information when you voluntarily provide such information, for example, including processes when you register to access Shuffle services, purchase a ticket without registering through our application or website, send us inquiries, respond to one of our surveys, browse or use certain Shuffle features. The personal information we may collect includes, but is not limited to, your name, address, email address and other personally identifiable information. In cases where a user decides to create their own event or location, Shuffle may request information regarding a company name, VAT number or business address, which may also constitute Personal Data.
        p pixel tags, local shared objects, web storage and other similar technologies.
        p When you create an account (register an account) and log in (log in) to access, view and use Shuffle, we collect the following information from you:
        ul
                li Your name;
                li Your email address;
                li Your phone number;
                li if provided by you, Health Kit health and activity data;
                li if provided by you, your location (geolocation);
                li if provided by you, your date of birth;
                li your gender and age;
                li any email messages, including attachments, that you send to us;
                li if you purchase tickets, your payment information, including your billing address; 
                li data bank account and payment card information, as well as information about transactions such as previously purchased tickets;
                li profile information, including your username and password for account registration;
                li your profile avatar, purchases or orders you have made, your interests and preferences;
                li your preferences in receiving marketing materials from us and our third parties, and also your preferences regarding communication and social components of the application Shuffle;
        p If the Shuffle team acts as an event organizer, including using the functionality of the Shuffle service, it will be necessary to collect additional Personal Data from you (checking the existence of the organizer):
        ul
                li your credit card number and expiration date, billing address, directors/beneficial owners of the legal entity you represent (if there are some);
                li tax identification number;
                li passport or driver's license number;
                li copies of identity documents.

        p If you use our services and the services of our payment processing partners, we will collect from you financial information (to facilitate certain payments: your bank account information or check mailing address) necessary to facilitate payments, and information necessary for the purposes of taxes (for example, your tax identification number).
        h3 5.1. Selecting an active portrait and selecting profile-appropriate preferences
        p When registering a user account, you must select your activity portrait and the corresponding properties. You can later remove or add these properties in the user profile of the Shuffle application.
        p This data describes/characterizes your preferences and desires and is used only to provide detailed/appropriate content for you. We store and process this data on separate secure specialized servers of our partner Railway corp*. and we do not transfer it to third parties, who may or may not be affiliated, nor use it for third-party analytical processes.
        p We store and process data on separate secure specialized servers of our partner Railway corp.
        
        
        p a(href="https://railway.app/legal/terms") https://railway.app/legal/terms
        h3 5.2. Geolocation
        p The entire logic of interaction of the Shuffle application with geolocation data is based on detailed development and addition of The shuffle recommendation system (Shuffle system ©). We use the geolocation data of your mobile device to create a more detailed and suitable content delivery (distance to the place, surrounding landscape, weather conditions). The fact that you visit (or ignore) certain places and events allows us to understand and satisfy your current and future preferences.
        p We do not store geolocation data with third parties and never transfer it to anyone; We use them only for your effective interaction with the Shuffle application.
        h3 5.3. Activity and health data
        p Shuffle app has specialized functions/sections, such as “Feelings”, which use the phone owner’s activity indicators, indicators from a profile official health application (for example, Apple Health kit).
        table
            tbody
                tr
                    td
                        p ACTIVE_ENERGY_BURNED
                    td
                        p ASAL_ENERGY_BURNED
                    td
                        p BLOOD_OXYGEN
                tr
                    td
                        p how many active calories burned
                    td
                        p how many basic calories burned
                    td
                        p blood oxygen level
                tr
                    td
                        p BODY_TEMPERATURE
                    
                    td
                        p HEART_RATE
                    
                    td
                        p STEPS
                      
                tr
                    td
                        p Body temperature
                    
                    td
                        p heart rate + at rest
                    
                    td
                        p number of steps taken
                    
                
                tr
                    td
                        p WALKING_HEART_RATE
                    
                    td
                        p DISTANCE_WALKING_RUNNING
                    
                    td
                        p MOVE_MINUTES
                    
                
                tr
                    td
                        p heart rate while walking
                    
                    td
                        p distance traveled (meters)
                    
                    td
                        p minutes of activity
                    
                
                tr
                    td
                        p SLEEP_IN_BED
                    
                    td
                        p SLEEP_ASLEEP
                    
                    td
                        p EXERCISE_TIME
                    
                
                tr
                    td
                        p sleep in bed/min
                    
                    td
                        p sleep during sleep/min
                    
                    td
                        p how much time did you devote to exercise (min)
        p This information is used only within the framework of the functionality, the task of which is to provide profile relevant content. Not a single indicator is used separately, is not used for medical purposes, and the result of the analysis of a set of indicators and its interpretation in the section of the Shuffle application - “Feelings” - is purely entertaining and does not constitute a recommendation for action related to human health and any medical indications.
        p The information received is not used for advertising, is not analyzed by third parties and is not transferred to third parties (except for the cases specified in the Privacy Policy, if applicable).
        h3 5.4. Third parties and public sources
        p We may receive Personal Data about you from various third parties:
            ul
                li If you log into the Services through a third-party account, such as Facebook or Google, we will collect certain information related to your account from those third parties (including your name, profile picture, age group, gender, and other information available on your public profile), your date of birth and your email address. You can control the information that such third parties share with us by adjusting your preferences through the privacy settings that these third parties provide on their platforms;
                li technical data from the following parties: analytics providers located within and outside the UAE and MENA, such as Adobe Analytics and Google Analytics;
                li advertising networks inside and outside the UAE and MENA, such as Facebook Audience Network and FreeWheel .
        h3 6. How we share your Personal Data and with whom we share it
        p We share information under the following circumstances:
        ol
            li
                strong Third Party Service Providers:
                span We share information with third party service companies as data processors to facilitate or perform certain services on our behalf. This will include (the list and terms of these companies will be included in the Privacy Policy and Terms of Use documentation, and you will be notified thereof):
            li IT infrastructure companies that facilitate the provision of Services to you;
            li IT support service providers;
            li to other third party service providers for the purpose of providing or tracking the use of our users (including payment processors).
        p These companies are authorized to process your Personal Data only to the extent necessary to provide these Services to us.
        ol
            li Group Companies: We may share your Personal Data with wholly owned subsidiaries of azart technologies fzco , for the purpose of processing Personal Data on our behalf to provide the Services to you. These parties are required to process such information based on our instructions and in accordance with this Privacy Policy. They have no independent right to share this information.
            li Legal Compliance and Legal Process: When we respond to court orders or legal process, or to establish or exercise our legal rights or defend against legal claims. When we believe, in our sole discretion, it is necessary to share information to investigate, prevent, or take action against illegal activities, suspected fraud, situations involving potential threats to the physical safety of any person, violations of our Terms of Use, or as otherwise required by law;
            li Merger or Acquisition: When we need to transfer information about you if we have been acquired or merged with another company. If we are involved in a merger, acquisition, or sale of all or a portion of its assets, you will subsequently be notified via email and/or a prominent notice on our Services of any changes in ownership or use of your Personal Data, as well as any choices that you may have in relation to your Personal Data;
            li Shuffle moves event organizers: When the Shuffle team organizes offline Shuffle moves events (c) and relevant personal data of users must be used to optimize the organization and form the most accurate audiences;
            li Other Shuffle Users: Due to the very nature of the Shuffle service, some Users&apos; Personal Data may be available to other users using similar features of the service; since the process of using the service involves mutual communication, open data analytics and user interaction.

        h3 7. How we process your personal data
        p We process your Personal Data for the following reasons:
        ul
            li this is necessary for us to fulfill our agreements with you;
            li this is required in our legitimate interests;
            li this is necessary for us to comply with our legal obligations;
            li this is permitted because you have given us your consent.
        p If we are required to collect Personal Data by law or under the terms of an agreement we have with you, and you fail to provide that data when requested, we may not be able to fulfill our obligations. In this case, we may have to cancel our services, but we will notify you of this.
        h3 7.1. Necessary for the performance of our Usage Agreement with you
        p We collect, store and process your Personal Data, including your name, email address, payment details and information about how you use and access the Services, as necessary to provide the Services you have requested under the contract entered into , between us, when you have agreed to our Terms of Use. It includes:
        ul
            li providing you with access to the Shuffle service and all its functionality;
            li providing any Services you request;
            li administration;
            li if you perform any actions in the Shuffle service related to funds and any transactions with them within the service, - process all internal transactions (including, but not limited to, the use of the services of partner providers to process such payment);
            li provide personalized recommendations and content within the Shuffle Services by collecting data about you to create an active profile of you and a profile of your preferences to fully operate the Shuffle recommendation engine (c). Services cannot be provided to you without this simulation. If you choose to opt out of the simulation, we will not be able to provide the Services to you and you will not be able to use or access the Services;
            li maintenance and account management requirements, such as when we need to contact you for reasons related to the Services (notification of updates to the Services or amendments to the Terms of Service or Privacy Policy).
        h3 7.2. Our legitimate interests
        p We use your Personal Data for purposes unrelated to providing the Services. In these circumstances, we believe that we have a legitimate interest in processing your Personal Data and believe that the benefits of such storage and use of your Personal Data outweigh any potential impact on you and do not unreasonably prejudice your rights or freedoms. Relevant circumstances:
        ul
            li fraud detection and prevention;
            li ensuring the security of our Shuffle service and related subsystems;
            li systems;
            li analyze and improve the information we collect;
            li analyze your use of the Services to improve them, including, but not limited to, our content, features, schedule, technology and events;
            li determining the effectiveness of our advertising campaigns and advertising;
            li use IP addresses and device identifiers to determine the location of users and block any unauthorized users;
            li processing your inquiries and requests (for example, if you call our customer service telephone number to ask for help and assistance, we will need to process your contact details);
            li suggest similar events that may interest you and understand what events our users enjoy;
            li If you have opted out of our marketing or have objected to receiving emails from us, we need to keep a record of your preferences to ensure that we do not contact you if you have asked us not to.

        h3  7.3. User experience and marketing
        p We may process your personal data to suggest which features available on Shuffle may be relevant to you. You will receive marketing communications from us if you have requested information from us or purchased a ticket through the Shuffle booking system or partner booking services. Shuffle will also send integrated mobile push notifications based on your marketing preferences for advertising and profile offers within the content provided. Such push notifications may also include information about upcoming events that the user may have signed up for, information about upcoming start times, locations, or any changes that may apply to such event. These notifications can be turned off in your mobile device&apos;s notification settings or within the Shuffle app in your User Profile under Notifications.
        p *Important. The Shuffle service and its functionality do not use personal data to display third-party advertising within the service. Third-party advertising - advertising of goods and services that are not related to the profile content of Shuffle; Ads that use third party targeting. Such advertising on the service is prohibited (for more details, see the User Agreement) in any of its forms.
        p If you opt out of receiving these marketing communications, this will not apply to Personal Data provided to us as a result of using the Services. Therefore, you will continue to receive important communications about the functionality and/or administration of our Services.
        h3 8. Security
        p Although we take all possible appropriate technical and organizational measures to protect the Personal Data you provide to us, no data transmission over the Internet can be guaranteed to be 100% secure. Please note that we cannot guarantee the security of any Personal Information you transmit to us online.
        p We are committed to protecting your Personal Data by using appropriate technical and operational measures that limit and control how we store and process your Personal Data; optimize and improve them.
        h3 9. Your rights
        p You have certain rights with respect to your Personal Data. If you require more information regarding them or would like to take advantage of any of them, please contact us at hugs@shuffle.city at any time. You have the right to request that we:
        ul
            li provide a copy of them;
            li update any of your Personal Data that is out of date or incorrect;
            li delete any Personal Data we hold about you;
            li limit the way your Personal Data is processed;
            li prevent the processing of your Personal Data for marketing purposes;
            li provide your Personal Data to a third party service provider;
            li consider any valid objections you have to our use of your Personal Data.
        p We will consider all requests and provide a response within a reasonable period of time (and in any case within any period of time required by law). Please note, however, that certain Personal Data may be excluded from such requests under certain circumstances.
        p If an exception applies, we will tell you when we respond to your request. We may ask you to provide us with information necessary to verify your identity before responding to any request you make.
        p If we delete any Personal Data that we maintain about you, that deletion may only apply to the Shuffle service under our User Agreement. You must make requests for each account you may have created to access Shuffle or any other service provided by us.
        h3 10. Third Party Sites
        p The Shuffle App also contains links to other websites operated by third parties. Please note that this Privacy Policy applies only to Personal Data that we collect and process as part of the Shuffle service and its functionality.
        p We cannot be responsible for Personal Data that third parties may collect, store and use through their website. You should always carefully read the Privacy Policy of each website you visit.
        h3 11. Changes to the Privacy Policy
        p Please check back regularly for updates to this Privacy Policy. If we make material changes to this Privacy Policy and we have your email address, we will send you notice of the changes.
        h3 12. Third parties. Partners
        p
            a(href="https://dubai.platinumlist.net/") https://dubai.platinumlist.net/
        p
            a(href="https://platinumlist.net/terms-and-conditions/TermsandConditionsCustomers") https://platinumlist.net/terms-and-conditions/TermsandConditionsCustomers
        p Data storage and protection <u>Railway corp</u>
        p
            a(href="https://railway.app") https://railway.app
        p
            a(href="https://railway.app/legal/privacy") https://railway.app/legal/privacy
        p
            a(href="https://railway.app/legal/terms") https://railway.app/legal/terms
        p If you have any questions or need assistance regarding our Privacy Policy, please contact us at hugs@shuffle.city
