extends ../../layout/main

block variables
    - var title = "गोपनीयता नीति | Shuffle"

block content
    main(style="padding: 2em")
        h1 Shuffle
        h2 Privacy Policy
        p Dubai Silicon Oasis, UAE
        p azart technologies fzco
        p
            a(href="mailto:official@shuffle.city") सेवाओं के बारे में सामान्य प्रश्न
        p
            a(href="mailto:hugs@shuffle.city") सपोर्ट सेवा
        h3 1. परियोजना
        p शफ़ल दुबई और दुनिया भर में एक मोबाइल एप्लिकेशन है जो उन घटनाओं और स्थानों से जुड़ा है जो मेगासिटी के सामाजिक और व्यावसायिक जीवन की गतिशीलता को आकार देते हैं। यह किसी विशिष्ट उपयोगकर्ता के लिए अनुशंसाओं और सामग्री के चयन की एक जटिल प्रणाली है। यह सामाजिक और व्यावसायिक उपकरणों का एक प्रभावशाली सेट है। सेवा का उपयोग करने की प्रत्येक प्रक्रिया से सकारात्मक अनुभव और आनंद प्राप्त करने के लिए, यह मोबाइल एप्लिकेशन की अन्तरक्रियाशीलता पर एक महत्वपूर्ण जोर है। कभी-कभी डिज़ाइन विवरण पर अत्यधिक ध्यान देना पड़ता है। हमने इसे आपके लिए सुविधाजनक और उपयोगी बनाने के लिए शफ़ल प्रोजेक्ट बनाया और विकसित कर रहे हैं। आज की आक्रामक मार्केटिंग की दुनिया में, यह महत्वपूर्ण है।
        h3 2. हमारे मूल्य और गोपनीयता नीति का उद्देश्य
        p हम आपकी गोपनीयता को महत्व देते हैं और आपके व्यक्तिगत डेटा को कैसे और क्यों एकत्र और संसाधित करते हैं, इसके बारे में व्यक्तिगत रूप से निष्पक्ष और पारदर्शी होना चाहते हैं। हमारा समग्र लक्ष्य यह सुनिश्चित करना है कि व्यक्तिगत डेटा का संग्रह और उपयोग लागू डेटा सुरक्षा कानूनों के अनुरूप हो। हम यह भी चाहते हैं कि आप अपने व्यक्तिगत डेटा के संबंध में अपने अधिकारों को जानें, जिन्हें आप नीचे पा सकते हैं।
        p हम आपके व्यक्तिगत डेटा का मूल्य समझते हैं। लेकिन हम यह भी समझते हैं कि हर आधुनिक उपकरण, आधुनिक प्रणाली इसका उपयोग करती है। ऐसी बातचीत के बिना पर्याप्त गुणवत्ता की सेवा प्रदान करना असंभव है। हम आपके डेटा का उपयोग नापाक उद्देश्यों के लिए नहीं करते हैं, इसका एकमात्र उद्देश्य आपको उपयोगी और प्रासंगिक जानकारी प्रदान करना है, प्राथमिकताओं के आधार पर सबसे सटीक सक्रिय चित्र बनाना है, ताकि आपको बेहतर तरीके से जान सकें और अधिकतम स्तर पर आपकी सहायता कर सकें। समर्पण, हमारे द्वारा विकसित किए गए सभी शफ़ल टूल का उपयोग करके।
        h3 3. गोपनीयता नीति लागू होती है
        p यह गोपनीयता नीति दुबई और दुनिया भर में रहने वाले शफ़ल मोबाइल एप्लिकेशन और सेवा के उपयोगकर्ताओं (जिन लोगों ने खाता पंजीकृत किया है और गोपनीयता नीति से सहमत हैं) पर लागू होती है।
        h3 4. बच्चे
        p हम 13 वर्ष से कम उम्र के किसी भी निगरानी रहित बच्चे से जानबूझकर जानकारी एकत्र नहीं करते हैं और न ही करेंगे। यदि आपकी उम्र 13 वर्ष से कम है, तो आप तब तक शफ़ल का उपयोग नहीं कर सकते जब तक कि आपके माता-पिता या अभिभावक ने हमें अपनी सहमति न दे दी हो।
        h4 5. हम आपके बारे में व्यक्तिगत डेटा एकत्र करते हैं
        p जब आप स्वेच्छा से ऐसी जानकारी प्रदान करते हैं तो हम व्यक्तिगत जानकारी एकत्र करते हैं, उदाहरण के लिए, जब आप शफ़ल सेवाओं तक पहुंचने के लिए पंजीकरण करते हैं, तो हमारे एप्लिकेशन या वेबसाइट के माध्यम से पंजीकरण किए बिना टिकट खरीदते हैं, हमें पूछताछ भेजते हैं, हमारे सर्वेक्षणों में से एक का जवाब देते हैं, ब्राउज़ करते हैं या कुछ का उपयोग करते हैं। सुविधाओं में फेरबदल करें. हम जो व्यक्तिगत जानकारी एकत्र कर सकते हैं, उसमें आपका नाम, पता, ईमेल पता और अन्य व्यक्तिगत पहचान योग्य जानकारी शामिल है, लेकिन यह इन्हीं तक सीमित नहीं है। ऐसे मामलों में जहां कोई उपयोगकर्ता अपना स्वयं का ईवेंट या स्थान बनाने का निर्णय लेता है, शफ़ल कंपनी के नाम, वैट नंबर या व्यावसायिक पते के बारे में जानकारी का अनुरोध कर सकता है, जो व्यक्तिगत डेटा भी बन सकता है।
        p शफ़ल स्वचालित रूप से कुछ तकनीकी डेटा एकत्र करता है जो हमें कंप्यूटर, मोबाइल डिवाइस और/या ब्राउज़र से भेजा जाता है जिसके माध्यम से आप एप्लिकेशन तक पहुंचते हैं। इस तरह के डेटा में आपके एक्सेस डिवाइस और/या ब्राउज़र (उदाहरण के लिए, आपका आईपी पता सहित), आपके एक्सेस डिवाइस और/या ब्राउज़र की विशेषताएं, आपकी गतिविधियों के बारे में आंकड़े, आपकी गतिविधियों के बारे में जानकारी शामिल है, लेकिन यह इन्हीं तक सीमित नहीं है। आप शफ़ल तक कैसे पहुंचे, और कुकीज़, पिक्सेल टैग, स्थानीय साझा ऑब्जेक्ट, वेब स्टोरेज और अन्य समान तकनीकों के माध्यम से डेटा एकत्र किया गया।
        p जब आप एक खाता बनाते हैं (एक खाता पंजीकृत करते हैं) और शफ़ल तक पहुंचने, देखने और उपयोग करने के लिए लॉग इन (लॉग इन) करते हैं, तो हम आपसे निम्नलिखित जानकारी एकत्र करते हैं:
        ul
                li आपका नाम;
                li आपका ईमेल पता;
                li आपका फोन नंबर;
                li यदि आपके द्वारा स्वास्थ्य किट स्वास्थ्य और गतिविधि डेटा प्रदान किया गया है;
                li यदि आपके द्वारा प्रदान किया गया है, तो आपका स्थान (जियोलोकेशन);
                li यदि आपके द्वारा प्रदान किया गया है, तो आपकी जन्मतिथि;
                li आपका लिंग और उम्र;
                li अनुलग्नकों सहित कोई भी ईमेल संदेश, जो आप हमें भेजते हैं;
                li यदि आप टिकट खरीदते हैं, तो आपके बिलिंग पते सहित आपकी भुगतान जानकारी;
                li डेटा बैंक खाते और भुगतान कार्ड की जानकारी, साथ ही पहले खरीदे गए टिकटों जैसे लेनदेन के बारे में जानकारी;
                li खाता पंजीकरण के लिए आपका उपयोगकर्ता नाम और पासवर्ड सहित प्रोफ़ाइल जानकारी;
                li आपका प्रोफ़ाइल अवतार, आपके द्वारा की गई खरीदारी या ऑर्डर, आपकी रुचियां और प्राथमिकताएं;
                li हमसे और हमारे तीसरे पक्षों से विपणन सामग्री प्राप्त करने में आपकी प्राथमिकताएँ, और एप्लिकेशन शफ़ल के संचार और सामाजिक घटकों के संबंध में भी आपकी प्राथमिकताएँ;

        p यदि शफ़ल टीम एक इवेंट आयोजक के रूप में कार्य करती है, जिसमें शफ़ल सेवा की कार्यक्षमता का उपयोग करना शामिल है, तो आपसे अतिरिक्त व्यक्तिगत डेटा एकत्र करना आवश्यक होगा (आयोजक के अस्तित्व की जाँच करना):
        ul
                li आपका क्रेडिट कार्ड नंबर और समाप्ति तिथि, बिलिंग पता, जिस कानूनी इकाई का आप प्रतिनिधित्व करते हैं उसके निदेशक/लाभार्थी मालिक (यदि कुछ हैं);
                li कर पहचान संख्या;
                li पासपोर्ट या ड्राइवर का लाइसेंस नंबर;
                li पहचान दस्तावेजों की प्रतियां.


        p यदि आप हमारी सेवाओं और हमारे भुगतान प्रसंस्करण भागीदारों की सेवाओं का उपयोग करते हैं, तो हम आपसे भुगतान की सुविधा के लिए आवश्यक वित्तीय जानकारी (कुछ भुगतानों को सुविधाजनक बनाने के लिए: आपके बैंक खाते की जानकारी या चेक मेलिंग पता) और करों के प्रयोजनों के लिए आवश्यक जानकारी एकत्र करेंगे ( उदाहरण के लिए, आपकी कर पहचान संख्या)।
        h3 5.1. एक सक्रिय पोर्ट्रेट का चयन करना और प्रोफ़ाइल-उपयुक्त प्राथमिकताओं का चयन करना
        p उपयोगकर्ता खाता पंजीकृत करते समय, आपको अपना गतिविधि चित्र और संबंधित गुणों का चयन करना होगा। आप बाद में इन गुणों को शफ़ल एप्लिकेशन के उपयोगकर्ता प्रोफ़ाइल में हटा या जोड़ सकते हैं।
        p यह डेटा आपकी प्राथमिकताओं और इच्छाओं का वर्णन/विशेषता प्रदर्शित करता है और इसका उपयोग केवल आपके लिए विस्तृत/उपयुक्त सामग्री प्रदान करने के लिए किया जाता है। हम इस डेटा को अपने साझेदार रेलवे कॉर्प* के अलग सुरक्षित विशेष सर्वरों पर संग्रहीत और संसाधित करते हैं। और हम इसे तीसरे पक्ष को हस्तांतरित नहीं करते हैं, जो संबद्ध हो भी सकते हैं और नहीं भी, न ही इसका उपयोग तीसरे पक्ष की विश्लेषणात्मक प्रक्रियाओं के लिए करते हैं।
        p हम अपने साझेदार के अलग-अलग सुरक्षित विशेष सर्वरों पर डेटा संग्रहीत और संसाधित करते हैं Railway corp.
        
        
        p a(href="https://railway.app/legal/terms") https://railway.app/legal/terms
        h3 5.2. जियोलोकेशन
        p जियोलोकेशन डेटा के साथ शफ़ल एप्लिकेशन के इंटरैक्शन का संपूर्ण तर्क शफ़ल अनुशंसा प्रणाली (शफ़ल सिस्टम ©) के विस्तृत विकास और परिवर्धन पर आधारित है। हम अधिक विस्तृत और उपयुक्त सामग्री वितरण (स्थान की दूरी, आसपास का परिदृश्य, मौसम की स्थिति) बनाने के लिए आपके मोबाइल डिवाइस के जियोलोकेशन डेटा का उपयोग करते हैं। यह तथ्य कि आप कुछ स्थानों और घटनाओं पर जाते हैं (या अनदेखा करते हैं) हमें आपकी वर्तमान और भविष्य की प्राथमिकताओं को समझने और संतुष्ट करने की अनुमति देता है।
        p हम जियोलोकेशन डेटा को तीसरे पक्ष के पास संग्रहीत नहीं करते हैं और इसे कभी किसी को हस्तांतरित नहीं करते हैं; हम उनका उपयोग केवल शफ़ल एप्लिकेशन के साथ आपके प्रभावी इंटरैक्शन के लिए करते हैं।
        h3 5.3. गतिविधि और स्वास्थ्य डेटा
        p शफ़ल ऐप में विशेष फ़ंक्शन/अनुभाग हैं, जैसे "फीलिंग्स", जो फ़ोन मालिक के गतिविधि संकेतक, प्रोफ़ाइल आधिकारिक स्वास्थ्य एप्लिकेशन (उदाहरण के लिए, ऐप्पल हेल्थ किट) से संकेतक का उपयोग करते हैं।
        table
            tbody
                tr
                    td
                        p ACTIVE_ENERGY_BURNED
                    td
                        p ASAL_ENERGY_BURNED
                    td
                        p BLOOD_OXYGEN
                tr
                    td
                        p कितनी सक्रिय कैलोरी जली
                    td
                        p कितनी बुनियादी कैलोरी जली
                    td
                        p रक्त ऑक्सीजन स्तर
                tr
                    td
                        p BODY_TEMPERATURE
                    
                    td
                        p HEART_RATE
                    
                    td
                        p STEPS
                      
                tr
                    td
                        p शरीर का तापमान
                    
                    td
                        p हृदय गति + आराम पर
                    
                    td
                        p उठाए गए कदमों की संख्या                    
                
                tr
                    td
                        p WALKING_HEART_RATE
                    
                    td
                        p DISTANCE_WALKING_RUNNING
                    
                    td
                        p MOVE_MINUTES
                    
                
                tr
                    td
                        p चलते समय हृदय गति
                    
                    td
                        p तय की गई दूरी (मीटर)
                    
                    td
                        p गतिविधि के मिनट
                    
                
                tr
                    td
                        p SLEEP_IN_BED
                    
                    td
                        p SLEEP_ASLEEP
                    
                    td
                        p EXERCISE_TIME
                    
                
                tr
                    td
                        p बिस्तर पर सोएं/मिनट
                    
                    td
                        p नींद के दौरान सोना/मिनट
                    
                    td
                        p आपने व्यायाम को कितना समय दिया (मिनट)
        p इस जानकारी का उपयोग केवल कार्यक्षमता के ढांचे के भीतर किया जाता है, जिसका कार्य प्रोफ़ाइल प्रासंगिक सामग्री प्रदान करना है। एक भी संकेतक अलग से उपयोग नहीं किया जाता है, चिकित्सा प्रयोजनों के लिए उपयोग नहीं किया जाता है, और संकेतकों के एक सेट के विश्लेषण और शफ़ल एप्लिकेशन के अनुभाग में इसकी व्याख्या का परिणाम - "भावनाएं" - पूरी तरह से मनोरंजक है और एक सिफारिश का गठन नहीं करता है मानव स्वास्थ्य और किसी भी चिकित्सीय संकेत से संबंधित कार्रवाई के लिए।
        p प्राप्त जानकारी का उपयोग विज्ञापन के लिए नहीं किया जाता है, तीसरे पक्ष द्वारा इसका विश्लेषण नहीं किया जाता है और इसे तीसरे पक्ष को हस्तांतरित नहीं किया जाता है (गोपनीयता नीति में निर्दिष्ट मामलों को छोड़कर, यदि लागू हो)।
        h3 5.4. Third parties and public sources
        p We may receive Personal Data about you from various third parties:
            ul
                li If you log into the Services through a third-party account, such as Facebook or Google, we will collect certain information related to your account from those third parties (including your name, profile picture, age group, gender, and other information available on your public profile), your date of birth and your email address. You can control the information that such third parties share with us by adjusting your preferences through the privacy settings that these third parties provide on their platforms;
                li technical data from the following parties: analytics providers located within and outside the UAE and MENA, such as Adobe Analytics and Google Analytics;
                li advertising networks inside and outside the UAE and MENA, such as Facebook Audience Network and FreeWheel .
        h3 6. How we share your Personal Data and with whom we share it
        p We share information under the following circumstances:
        ol
            li
                strong Third Party Service Providers:
                span We share information with third party service companies as data processors to facilitate or perform certain services on our behalf. This will include (the list and terms of these companies will be included in the Privacy Policy and Terms of Use documentation, and you will be notified thereof):
            li IT infrastructure companies that facilitate the provision of Services to you;
            li IT support service providers;
            li to other third party service providers for the purpose of providing or tracking the use of our users (including payment processors).
        p These companies are authorized to process your Personal Data only to the extent necessary to provide these Services to us.
        ol
            li Group Companies: We may share your Personal Data with wholly owned subsidiaries of azart technologies fzco , for the purpose of processing Personal Data on our behalf to provide the Services to you. These parties are required to process such information based on our instructions and in accordance with this Privacy Policy. They have no independent right to share this information.
            li Legal Compliance and Legal Process: When we respond to court orders or legal process, or to establish or exercise our legal rights or defend against legal claims. When we believe, in our sole discretion, it is necessary to share information to investigate, prevent, or take action against illegal activities, suspected fraud, situations involving potential threats to the physical safety of any person, violations of our Terms of Use, or as otherwise required by law;
            li Merger or Acquisition: When we need to transfer information about you if we have been acquired or merged with another company. If we are involved in a merger, acquisition, or sale of all or a portion of its assets, you will subsequently be notified via email and/or a prominent notice on our Services of any changes in ownership or use of your Personal Data, as well as any choices that you may have in relation to your Personal Data;
            li Shuffle moves event organizers: When the Shuffle team organizes offline Shuffle moves events (c) and relevant personal data of users must be used to optimize the organization and form the most accurate audiences;
            li Other Shuffle Users: Due to the very nature of the Shuffle service, some Users&apos; Personal Data may be available to other users using similar features of the service; since the process of using the service involves mutual communication, open data analytics and user interaction.

        h3 7. How we process your personal data
        p We process your Personal Data for the following reasons:
        ul
            li this is necessary for us to fulfill our agreements with you;
            li this is required in our legitimate interests;
            li this is necessary for us to comply with our legal obligations;
            li this is permitted because you have given us your consent.
        p If we are required to collect Personal Data by law or under the terms of an agreement we have with you, and you fail to provide that data when requested, we may not be able to fulfill our obligations. In this case, we may have to cancel our services, but we will notify you of this.
        h3 7.1. Necessary for the performance of our Usage Agreement with you
        p We collect, store and process your Personal Data, including your name, email address, payment details and information about how you use and access the Services, as necessary to provide the Services you have requested under the contract entered into , between us, when you have agreed to our Terms of Use. It includes:
        ul
            li providing you with access to the Shuffle service and all its functionality;
            li providing any Services you request;
            li administration;
            li if you perform any actions in the Shuffle service related to funds and any transactions with them within the service, - process all internal transactions (including, but not limited to, the use of the services of partner providers to process such payment);
            li provide personalized recommendations and content within the Shuffle Services by collecting data about you to create an active profile of you and a profile of your preferences to fully operate the Shuffle recommendation engine (c). Services cannot be provided to you without this simulation. If you choose to opt out of the simulation, we will not be able to provide the Services to you and you will not be able to use or access the Services;
            li maintenance and account management requirements, such as when we need to contact you for reasons related to the Services (notification of updates to the Services or amendments to the Terms of Service or Privacy Policy).
        h3 7.2. Our legitimate interests
        p We use your Personal Data for purposes unrelated to providing the Services. In these circumstances, we believe that we have a legitimate interest in processing your Personal Data and believe that the benefits of such storage and use of your Personal Data outweigh any potential impact on you and do not unreasonably prejudice your rights or freedoms. Relevant circumstances:
        ul
            li fraud detection and prevention;
            li ensuring the security of our Shuffle service and related subsystems;
            li systems;
            li analyze and improve the information we collect;
            li analyze your use of the Services to improve them, including, but not limited to, our content, features, schedule, technology and events;
            li determining the effectiveness of our advertising campaigns and advertising;
            li use IP addresses and device identifiers to determine the location of users and block any unauthorized users;
            li processing your inquiries and requests (for example, if you call our customer service telephone number to ask for help and assistance, we will need to process your contact details);
            li suggest similar events that may interest you and understand what events our users enjoy;
            li If you have opted out of our marketing or have objected to receiving emails from us, we need to keep a record of your preferences to ensure that we do not contact you if you have asked us not to.

        h3  7.3. User experience and marketing
        p We may process your personal data to suggest which features available on Shuffle may be relevant to you. You will receive marketing communications from us if you have requested information from us or purchased a ticket through the Shuffle booking system or partner booking services. Shuffle will also send integrated mobile push notifications based on your marketing preferences for advertising and profile offers within the content provided. Such push notifications may also include information about upcoming events that the user may have signed up for, information about upcoming start times, locations, or any changes that may apply to such event. These notifications can be turned off in your mobile device&apos;s notification settings or within the Shuffle app in your User Profile under Notifications.
        p *Important. The Shuffle service and its functionality do not use personal data to display third-party advertising within the service. Third-party advertising - advertising of goods and services that are not related to the profile content of Shuffle; Ads that use third party targeting. Such advertising on the service is prohibited (for more details, see the User Agreement) in any of its forms.
        p If you opt out of receiving these marketing communications, this will not apply to Personal Data provided to us as a result of using the Services. Therefore, you will continue to receive important communications about the functionality and/or administration of our Services.
        h3 8. Security
        p Although we take all possible appropriate technical and organizational measures to protect the Personal Data you provide to us, no data transmission over the Internet can be guaranteed to be 100% secure. Please note that we cannot guarantee the security of any Personal Information you transmit to us online.
        p We are committed to protecting your Personal Data by using appropriate technical and operational measures that limit and control how we store and process your Personal Data; optimize and improve them.
        h3 9. Your rights
        p You have certain rights with respect to your Personal Data. If you require more information regarding them or would like to take advantage of any of them, please contact us at hugs@shuffle.city at any time. You have the right to request that we:
        ul
            li provide a copy of them;
            li update any of your Personal Data that is out of date or incorrect;
            li delete any Personal Data we hold about you;
            li limit the way your Personal Data is processed;
            li prevent the processing of your Personal Data for marketing purposes;
            li provide your Personal Data to a third party service provider;
            li consider any valid objections you have to our use of your Personal Data.
        p We will consider all requests and provide a response within a reasonable period of time (and in any case within any period of time required by law). Please note, however, that certain Personal Data may be excluded from such requests under certain circumstances.
        p If an exception applies, we will tell you when we respond to your request. We may ask you to provide us with information necessary to verify your identity before responding to any request you make.
        p If we delete any Personal Data that we maintain about you, that deletion may only apply to the Shuffle service under our User Agreement. You must make requests for each account you may have created to access Shuffle or any other service provided by us.
        h3 10. Third Party Sites
        p The Shuffle App also contains links to other websites operated by third parties. Please note that this Privacy Policy applies only to Personal Data that we collect and process as part of the Shuffle service and its functionality.
        p We cannot be responsible for Personal Data that third parties may collect, store and use through their website. You should always carefully read the Privacy Policy of each website you visit.
        h3 11. Changes to the Privacy Policy
        p Please check back regularly for updates to this Privacy Policy. If we make material changes to this Privacy Policy and we have your email address, we will send you notice of the changes.
        h3 12. Third parties. Partners
        p
            a(href="https://dubai.platinumlist.net/") https://dubai.platinumlist.net/
        p
            a(href="https://platinumlist.net/terms-and-conditions/TermsandConditionsCustomers") https://platinumlist.net/terms-and-conditions/TermsandConditionsCustomers
        p Data storage and protection <u>Railway corp</u>
        p
            a(href="https://railway.app") https://railway.app
        p
            a(href="https://railway.app/legal/privacy") https://railway.app/legal/privacy
        p
            a(href="https://railway.app/legal/terms") https://railway.app/legal/terms
        p If you have any questions or need assistance regarding our Privacy Policy, please contact us at hugs@shuffle.city
