extends ../../layout/main

block variables
    - var title = "गोपनीयता नीति | Shuffle"

block content
    main(style="padding: 2em")
        h1 Shuffle
        h2 Privacy Policy
        p Dubai Silicon Oasis, UAE
        p azart technologies fzco
        p
            a(href="mailto:official@shuffle.city") सेवाओं के बारे में सामान्य प्रश्न
        p
            a(href="mailto:hugs@shuffle.city") सपोर्ट सेवा
        h3 1. परियोजना
        p शफ़ल दुबई और दुनिया भर में एक मोबाइल एप्लिकेशन है जो उन घटनाओं और स्थानों से जुड़ा है जो मेगासिटी के सामाजिक और व्यावसायिक जीवन की गतिशीलता को आकार देते हैं। यह किसी विशिष्ट उपयोगकर्ता के लिए अनुशंसाओं और सामग्री के चयन की एक जटिल प्रणाली है। यह सामाजिक और व्यावसायिक उपकरणों का एक प्रभावशाली सेट है। सेवा का उपयोग करने की प्रत्येक प्रक्रिया से सकारात्मक अनुभव और आनंद प्राप्त करने के लिए, यह मोबाइल एप्लिकेशन की अन्तरक्रियाशीलता पर एक महत्वपूर्ण जोर है। कभी-कभी डिज़ाइन विवरण पर अत्यधिक ध्यान देना पड़ता है। हमने इसे आपके लिए सुविधाजनक और उपयोगी बनाने के लिए शफ़ल प्रोजेक्ट बनाया और विकसित कर रहे हैं। आज की आक्रामक मार्केटिंग की दुनिया में, यह महत्वपूर्ण है।
        h3 2. हमारे मूल्य और गोपनीयता नीति का उद्देश्य
        p हम आपकी गोपनीयता को महत्व देते हैं और आपके व्यक्तिगत डेटा को कैसे और क्यों एकत्र और संसाधित करते हैं, इसके बारे में व्यक्तिगत रूप से निष्पक्ष और पारदर्शी होना चाहते हैं। हमारा समग्र लक्ष्य यह सुनिश्चित करना है कि व्यक्तिगत डेटा का संग्रह और उपयोग लागू डेटा सुरक्षा कानूनों के अनुरूप हो। हम यह भी चाहते हैं कि आप अपने व्यक्तिगत डेटा के संबंध में अपने अधिकारों को जानें, जिन्हें आप नीचे पा सकते हैं।
        p हम आपके व्यक्तिगत डेटा का मूल्य समझते हैं। लेकिन हम यह भी समझते हैं कि हर आधुनिक उपकरण, आधुनिक प्रणाली इसका उपयोग करती है। ऐसी बातचीत के बिना पर्याप्त गुणवत्ता की सेवा प्रदान करना असंभव है। हम आपके डेटा का उपयोग नापाक उद्देश्यों के लिए नहीं करते हैं, इसका एकमात्र उद्देश्य आपको उपयोगी और प्रासंगिक जानकारी प्रदान करना है, प्राथमिकताओं के आधार पर सबसे सटीक सक्रिय चित्र बनाना है, ताकि आपको बेहतर तरीके से जान सकें और अधिकतम स्तर पर आपकी सहायता कर सकें। समर्पण, हमारे द्वारा विकसित किए गए सभी शफ़ल टूल का उपयोग करके।
        h3 3. गोपनीयता नीति लागू होती है
        p यह गोपनीयता नीति दुबई और दुनिया भर में रहने वाले शफ़ल मोबाइल एप्लिकेशन और सेवा के उपयोगकर्ताओं (जिन लोगों ने खाता पंजीकृत किया है और गोपनीयता नीति से सहमत हैं) पर लागू होती है।
        h3 4. बच्चे
        p हम 13 वर्ष से कम उम्र के किसी भी निगरानी रहित बच्चे से जानबूझकर जानकारी एकत्र नहीं करते हैं और न ही करेंगे। यदि आपकी उम्र 13 वर्ष से कम है, तो आप तब तक शफ़ल का उपयोग नहीं कर सकते जब तक कि आपके माता-पिता या अभिभावक ने हमें अपनी सहमति न दे दी हो।
        h4 5. हम आपके बारे में व्यक्तिगत डेटा एकत्र करते हैं
        p जब आप स्वेच्छा से ऐसी जानकारी प्रदान करते हैं तो हम व्यक्तिगत जानकारी एकत्र करते हैं, उदाहरण के लिए, जब आप शफ़ल सेवाओं तक पहुंचने के लिए पंजीकरण करते हैं, तो हमारे एप्लिकेशन या वेबसाइट के माध्यम से पंजीकरण किए बिना टिकट खरीदते हैं, हमें पूछताछ भेजते हैं, हमारे सर्वेक्षणों में से एक का जवाब देते हैं, ब्राउज़ करते हैं या कुछ का उपयोग करते हैं। सुविधाओं में फेरबदल करें. हम जो व्यक्तिगत जानकारी एकत्र कर सकते हैं, उसमें आपका नाम, पता, ईमेल पता और अन्य व्यक्तिगत पहचान योग्य जानकारी शामिल है, लेकिन यह इन्हीं तक सीमित नहीं है। ऐसे मामलों में जहां कोई उपयोगकर्ता अपना स्वयं का ईवेंट या स्थान बनाने का निर्णय लेता है, शफ़ल कंपनी के नाम, वैट नंबर या व्यावसायिक पते के बारे में जानकारी का अनुरोध कर सकता है, जो व्यक्तिगत डेटा भी बन सकता है।
        p शफ़ल स्वचालित रूप से कुछ तकनीकी डेटा एकत्र करता है जो हमें कंप्यूटर, मोबाइल डिवाइस और/या ब्राउज़र से भेजा जाता है जिसके माध्यम से आप एप्लिकेशन तक पहुंचते हैं। इस तरह के डेटा में आपके एक्सेस डिवाइस और/या ब्राउज़र (उदाहरण के लिए, आपका आईपी पता सहित), आपके एक्सेस डिवाइस और/या ब्राउज़र की विशेषताएं, आपकी गतिविधियों के बारे में आंकड़े, आपकी गतिविधियों के बारे में जानकारी शामिल है, लेकिन यह इन्हीं तक सीमित नहीं है। आप शफ़ल तक कैसे पहुंचे, और कुकीज़, पिक्सेल टैग, स्थानीय साझा ऑब्जेक्ट, वेब स्टोरेज और अन्य समान तकनीकों के माध्यम से डेटा एकत्र किया गया।
        p जब आप एक खाता बनाते हैं (एक खाता पंजीकृत करते हैं) और शफ़ल तक पहुंचने, देखने और उपयोग करने के लिए लॉग इन (लॉग इन) करते हैं, तो हम आपसे निम्नलिखित जानकारी एकत्र करते हैं:
        ul
                li आपका नाम;
                li आपका ईमेल पता;
                li आपका फोन नंबर;
                li यदि आपके द्वारा स्वास्थ्य किट स्वास्थ्य और गतिविधि डेटा प्रदान किया गया है;
                li यदि आपके द्वारा प्रदान किया गया है, तो आपका स्थान (जियोलोकेशन);
                li यदि आपके द्वारा प्रदान किया गया है, तो आपकी जन्मतिथि;
                li आपका लिंग और उम्र;
                li अनुलग्नकों सहित कोई भी ईमेल संदेश, जो आप हमें भेजते हैं;
                li यदि आप टिकट खरीदते हैं, तो आपके बिलिंग पते सहित आपकी भुगतान जानकारी;
                li डेटा बैंक खाते और भुगतान कार्ड की जानकारी, साथ ही पहले खरीदे गए टिकटों जैसे लेनदेन के बारे में जानकारी;
                li खाता पंजीकरण के लिए आपका उपयोगकर्ता नाम और पासवर्ड सहित प्रोफ़ाइल जानकारी;
                li आपका प्रोफ़ाइल अवतार, आपके द्वारा की गई खरीदारी या ऑर्डर, आपकी रुचियां और प्राथमिकताएं;
                li हमसे और हमारे तीसरे पक्षों से विपणन सामग्री प्राप्त करने में आपकी प्राथमिकताएँ, और एप्लिकेशन शफ़ल के संचार और सामाजिक घटकों के संबंध में भी आपकी प्राथमिकताएँ;

        p यदि शफ़ल टीम एक इवेंट आयोजक के रूप में कार्य करती है, जिसमें शफ़ल सेवा की कार्यक्षमता का उपयोग करना शामिल है, तो आपसे अतिरिक्त व्यक्तिगत डेटा एकत्र करना आवश्यक होगा (आयोजक के अस्तित्व की जाँच करना):
        ul
                li आपका क्रेडिट कार्ड नंबर और समाप्ति तिथि, बिलिंग पता, जिस कानूनी इकाई का आप प्रतिनिधित्व करते हैं उसके निदेशक/लाभार्थी मालिक (यदि कुछ हैं);
                li कर पहचान संख्या;
                li पासपोर्ट या ड्राइवर का लाइसेंस नंबर;
                li पहचान दस्तावेजों की प्रतियां.


        p यदि आप हमारी सेवाओं और हमारे भुगतान प्रसंस्करण भागीदारों की सेवाओं का उपयोग करते हैं, तो हम आपसे भुगतान की सुविधा के लिए आवश्यक वित्तीय जानकारी (कुछ भुगतानों को सुविधाजनक बनाने के लिए: आपके बैंक खाते की जानकारी या चेक मेलिंग पता) और करों के प्रयोजनों के लिए आवश्यक जानकारी एकत्र करेंगे ( उदाहरण के लिए, आपकी कर पहचान संख्या)।
        h3 5.1. एक सक्रिय पोर्ट्रेट का चयन करना और प्रोफ़ाइल-उपयुक्त प्राथमिकताओं का चयन करना
        p उपयोगकर्ता खाता पंजीकृत करते समय, आपको अपना गतिविधि चित्र और संबंधित गुणों का चयन करना होगा। आप बाद में इन गुणों को शफ़ल एप्लिकेशन के उपयोगकर्ता प्रोफ़ाइल में हटा या जोड़ सकते हैं।
        p यह डेटा आपकी प्राथमिकताओं और इच्छाओं का वर्णन/विशेषता प्रदर्शित करता है और इसका उपयोग केवल आपके लिए विस्तृत/उपयुक्त सामग्री प्रदान करने के लिए किया जाता है। हम इस डेटा को अपने साझेदार रेलवे कॉर्प* के अलग सुरक्षित विशेष सर्वरों पर संग्रहीत और संसाधित करते हैं। और हम इसे तीसरे पक्ष को हस्तांतरित नहीं करते हैं, जो संबद्ध हो भी सकते हैं और नहीं भी, न ही इसका उपयोग तीसरे पक्ष की विश्लेषणात्मक प्रक्रियाओं के लिए करते हैं।
        p हम अपने साझेदार के अलग-अलग सुरक्षित विशेष सर्वरों पर डेटा संग्रहीत और संसाधित करते हैं Railway corp.
        
        
        p a(href="https://railway.app/legal/terms") https://railway.app/legal/terms
        h3 5.2. जियोलोकेशन
        p जियोलोकेशन डेटा के साथ शफ़ल एप्लिकेशन के इंटरैक्शन का संपूर्ण तर्क शफ़ल अनुशंसा प्रणाली (शफ़ल सिस्टम ©) के विस्तृत विकास और परिवर्धन पर आधारित है। हम अधिक विस्तृत और उपयुक्त सामग्री वितरण (स्थान की दूरी, आसपास का परिदृश्य, मौसम की स्थिति) बनाने के लिए आपके मोबाइल डिवाइस के जियोलोकेशन डेटा का उपयोग करते हैं। यह तथ्य कि आप कुछ स्थानों और घटनाओं पर जाते हैं (या अनदेखा करते हैं) हमें आपकी वर्तमान और भविष्य की प्राथमिकताओं को समझने और संतुष्ट करने की अनुमति देता है।
        p हम जियोलोकेशन डेटा को तीसरे पक्ष के पास संग्रहीत नहीं करते हैं और इसे कभी किसी को हस्तांतरित नहीं करते हैं; हम उनका उपयोग केवल शफ़ल एप्लिकेशन के साथ आपके प्रभावी इंटरैक्शन के लिए करते हैं।
        h3 5.3. गतिविधि और स्वास्थ्य डेटा
        p शफ़ल ऐप में विशेष फ़ंक्शन/अनुभाग हैं, जैसे "फीलिंग्स", जो फ़ोन मालिक के गतिविधि संकेतक, प्रोफ़ाइल आधिकारिक स्वास्थ्य एप्लिकेशन (उदाहरण के लिए, ऐप्पल हेल्थ किट) से संकेतक का उपयोग करते हैं।
        table
            tbody
                tr
                    td
                        p ACTIVE_ENERGY_BURNED
                    td
                        p ASAL_ENERGY_BURNED
                    td
                        p BLOOD_OXYGEN
                tr
                    td
                        p कितनी सक्रिय कैलोरी जली
                    td
                        p कितनी बुनियादी कैलोरी जली
                    td
                        p रक्त ऑक्सीजन स्तर
                tr
                    td
                        p BODY_TEMPERATURE
                    
                    td
                        p HEART_RATE
                    
                    td
                        p STEPS
                      
                tr
                    td
                        p शरीर का तापमान
                    
                    td
                        p हृदय गति + आराम पर
                    
                    td
                        p उठाए गए कदमों की संख्या                    
                
                tr
                    td
                        p WALKING_HEART_RATE
                    
                    td
                        p DISTANCE_WALKING_RUNNING
                    
                    td
                        p MOVE_MINUTES
                    
                
                tr
                    td
                        p चलते समय हृदय गति
                    
                    td
                        p तय की गई दूरी (मीटर)
                    
                    td
                        p गतिविधि के मिनट
                    
                
                tr
                    td
                        p SLEEP_IN_BED
                    
                    td
                        p SLEEP_ASLEEP
                    
                    td
                        p EXERCISE_TIME
                    
                
                tr
                    td
                        p बिस्तर पर सोएं/मिनट
                    
                    td
                        p नींद के दौरान सोना/मिनट
                    
                    td
                        p आपने व्यायाम को कितना समय दिया (मिनट)
        p इस जानकारी का उपयोग केवल कार्यक्षमता के ढांचे के भीतर किया जाता है, जिसका कार्य प्रोफ़ाइल प्रासंगिक सामग्री प्रदान करना है। एक भी संकेतक अलग से उपयोग नहीं किया जाता है, चिकित्सा प्रयोजनों के लिए उपयोग नहीं किया जाता है, और संकेतकों के एक सेट के विश्लेषण और शफ़ल एप्लिकेशन के अनुभाग में इसकी व्याख्या का परिणाम - "भावनाएं" - पूरी तरह से मनोरंजक है और एक सिफारिश का गठन नहीं करता है मानव स्वास्थ्य और किसी भी चिकित्सीय संकेत से संबंधित कार्रवाई के लिए।
        p प्राप्त जानकारी का उपयोग विज्ञापन के लिए नहीं किया जाता है, तीसरे पक्ष द्वारा इसका विश्लेषण नहीं किया जाता है और इसे तीसरे पक्ष को हस्तांतरित नहीं किया जाता है (गोपनीयता नीति में निर्दिष्ट मामलों को छोड़कर, यदि लागू हो)।
        h3 5.4. तृतीय पक्ष और सार्वजनिक स्रोत
        p हम विभिन्न तृतीय पक्षों से आपके बारे में व्यक्तिगत डेटा प्राप्त कर सकते हैं:
            ul
                li यदि आप फेसबुक या गूगल जैसे किसी तीसरे पक्ष के खाते के माध्यम से सेवाओं में लॉग इन करते हैं, तो हम उन तीसरे पक्षों से आपके खाते से संबंधित कुछ जानकारी एकत्र करेंगे (जिसमें आपका नाम, प्रोफ़ाइल चित्र, आयु समूह, लिंग और अन्य उपलब्ध जानकारी शामिल है)। आपकी सार्वजनिक प्रोफ़ाइल), आपकी जन्मतिथि और आपका ईमेल पता। आप उन सूचनाओं को नियंत्रित कर सकते हैं जो ऐसे तृतीय पक्ष हमारे साथ साझा करते हैं, गोपनीयता सेटिंग्स के माध्यम से अपनी प्राथमिकताओं को समायोजित करके जो ये तृतीय पक्ष अपने प्लेटफ़ॉर्म पर प्रदान करते हैं;
                li निम्नलिखित पक्षों से तकनीकी डेटा: संयुक्त अरब अमीरात और MENA के भीतर और बाहर स्थित एनालिटिक्स प्रदाता, जैसे Adobe Analytics और Google Analytics;
                li यूएई और MENA के अंदर और बाहर विज्ञापन नेटवर्क, जैसे Facebook ऑडियंस नेटवर्क और फ्रीव्हील।

        h3 6. हम आपका व्यक्तिगत डेटा कैसे साझा करते हैं और इसे किसके साथ साझा करते हैं
        p हम निम्नलिखित परिस्थितियों में जानकारी साझा करते हैं:
        ol
                li तृतीय पक्ष सेवा प्रदाता: हम अपनी ओर से कुछ सेवाओं को सुविधाजनक बनाने या निष्पादित करने के लिए डेटा प्रोसेसर के रूप में तृतीय पक्ष सेवा कंपनियों के साथ जानकारी साझा करते हैं। इसमें शामिल होगा (इन कंपनियों की सूची और शर्तें गोपनीयता नीति और उपयोग की शर्तों के दस्तावेज़ में शामिल की जाएंगी, और आपको इसके बारे में सूचित किया जाएगा):
                li आईटी अवसंरचना कंपनियाँ जो आपको सेवाएँ प्रदान करने की सुविधा प्रदान करती हैं;
                li आईटी सहायता सेवा प्रदाता;
                li हमारे उपयोगकर्ताओं (भुगतान प्रोसेसर सहित) के उपयोग को प्रदान करने या ट्रैक करने के उद्देश्य से अन्य तृतीय पक्ष सेवा प्रदाताओं को।
        p ये कंपनियाँ आपके व्यक्तिगत डेटा को केवल उस सीमा तक संसाधित करने के लिए अधिकृत हैं, जो हमें ये सेवाएँ प्रदान करने के लिए आवश्यक है।
        ol
                li समूह कंपनियाँ: हम आपको सेवाएँ प्रदान करने के लिए हमारी ओर से व्यक्तिगत डेटा संसाधित करने के उद्देश्य से, आपके व्यक्तिगत डेटा को azart प्रौद्योगिकियों fzco की पूर्ण स्वामित्व वाली सहायक कंपनियों के साथ साझा कर सकते हैं। इन पार्टियों को हमारे निर्देशों के आधार पर और इस गोपनीयता नीति के अनुसार ऐसी जानकारी को संसाधित करना आवश्यक है। उनके पास यह जानकारी साझा करने का कोई स्वतंत्र अधिकार नहीं है.
                li कानूनी अनुपालन और कानूनी प्रक्रिया: जब हम अदालत के आदेशों या कानूनी प्रक्रिया का जवाब देते हैं, या अपने कानूनी अधिकारों को स्थापित या प्रयोग करते हैं या कानूनी दावों के खिलाफ बचाव करते हैं। जब हम मानते हैं, हमारे विवेक में, अवैध गतिविधियों, संदिग्ध धोखाधड़ी, किसी भी व्यक्ति की शारीरिक सुरक्षा के लिए संभावित खतरों से जुड़ी स्थितियों, हमारी उपयोग की शर्तों के उल्लंघन, या के खिलाफ जांच, रोकथाम या कार्रवाई करने के लिए जानकारी साझा करना आवश्यक है। अन्यथा कानून द्वारा अपेक्षित;
                li विलय या अधिग्रहण: जब हमें आपके बारे में जानकारी हस्तांतरित करने की आवश्यकता होती है यदि हमारा अधिग्रहण किया गया है या किसी अन्य कंपनी में विलय किया गया है। यदि हम किसी विलय, अधिग्रहण, या इसकी सभी संपत्तियों या उसके एक हिस्से की बिक्री में शामिल हैं, तो आपको बाद में आपके व्यक्तिगत डेटा के स्वामित्व या उपयोग में किसी भी बदलाव के बारे में ईमेल और/या हमारी सेवाओं पर एक प्रमुख सूचना के माध्यम से सूचित किया जाएगा। साथ ही आपके व्यक्तिगत डेटा के संबंध में आपके पास मौजूद कोई भी विकल्प;
                li शफ़ल मूव्स इवेंट आयोजकों: जब शफ़ल टीम ऑफ़लाइन शफ़ल मूव्स इवेंट आयोजित करती है (सी) और उपयोगकर्ताओं के प्रासंगिक व्यक्तिगत डेटा का उपयोग संगठन को अनुकूलित करने और सबसे सटीक ऑडियंस बनाने के लिए किया जाना चाहिए;
                li अन्य शफ़ल उपयोगकर्ता: शफ़ल सेवा की प्रकृति के कारण, कुछ उपयोगकर्ताओं का व्यक्तिगत डेटा सेवा की समान सुविधाओं का उपयोग करने वाले अन्य उपयोगकर्ताओं के लिए उपलब्ध हो सकता है; चूंकि सेवा का उपयोग करने की प्रक्रिया में आपसी संचार, खुला डेटा विश्लेषण और उपयोगकर्ता इंटरैक्शन शामिल है।


        h3 7. हम आपके व्यक्तिगत डेटा को कैसे संसाधित करते हैं
        p हम आपके व्यक्तिगत डेटा को निम्नलिखित कारणों से संसाधित करते हैं:
        ul
                li आपके साथ हमारे समझौतों को पूरा करने के लिए यह आवश्यक है;
                li यह हमारे वैध हितों के लिए आवश्यक है;
                li हमारे कानूनी दायित्वों का पालन करने के लिए यह आवश्यक है;
                li इसकी अनुमति है क्योंकि आपने हमें अपनी सहमति दे दी है।

        p यदि हमें कानून द्वारा या आपके साथ हुए समझौते की शर्तों के तहत व्यक्तिगत डेटा एकत्र करना आवश्यक है, और अनुरोध किए जाने पर आप वह डेटा प्रदान करने में विफल रहते हैं, तो हम अपने दायित्वों को पूरा करने में सक्षम नहीं हो सकते हैं। इस स्थिति में, हमें अपनी सेवाएँ रद्द करनी पड़ सकती हैं, लेकिन हम आपको इसकी सूचना देंगे।
        h3 7.1. आपके साथ हमारे उपयोग अनुबंध के निष्पादन के लिए आवश्यक है
        p हम आपके व्यक्तिगत डेटा को एकत्रित, संग्रहीत और संसाधित करते हैं, जिसमें आपका नाम, ईमेल पता, भुगतान विवरण और आप सेवाओं का उपयोग और उपयोग कैसे करते हैं, इसके बारे में जानकारी शामिल है, जैसा कि आपके द्वारा हमारे बीच किए गए अनुबंध के तहत अनुरोध की गई सेवाओं को प्रदान करने के लिए आवश्यक है, जब आप हमारी उपयोग की शर्तों से सहमत हो गए हैं। इसमें शामिल है:
        ul
                li आपको शफ़ल सेवा और इसकी सभी कार्यक्षमताओं तक पहुंच प्रदान करना;
                li आपके द्वारा अनुरोधित कोई भी सेवा प्रदान करना;
                li प्रशासन;
                li यदि आप धन से संबंधित शफ़ल सेवा में कोई कार्रवाई करते हैं और सेवा के भीतर उनके साथ कोई लेनदेन करते हैं, - सभी आंतरिक लेनदेन को संसाधित करें (इस तरह के भुगतान को संसाधित करने के लिए भागीदार प्रदाताओं की सेवाओं के उपयोग सहित, लेकिन इन्हीं तक सीमित नहीं);
                li शफ़ल अनुशंसा इंजन (सी) को पूरी तरह से संचालित करने के लिए आपकी एक सक्रिय प्रोफ़ाइल और आपकी प्राथमिकताओं की एक प्रोफ़ाइल बनाने के लिए आपके बारे में डेटा एकत्र करके शफ़ल सेवाओं के भीतर वैयक्तिकृत अनुशंसाएँ और सामग्री प्रदान करें। इस अनुकरण के बिना आपको सेवाएँ प्रदान नहीं की जा सकतीं। यदि आप सिमुलेशन से बाहर निकलने का विकल्प चुनते हैं, तो हम आपको सेवाएं प्रदान नहीं कर पाएंगे और आप सेवाओं का उपयोग या उन तक पहुंच नहीं पाएंगे;
                li रखरखाव और खाता प्रबंधन आवश्यकताएँ, जैसे कि जब हमें सेवाओं से संबंधित कारणों के लिए आपसे संपर्क करने की आवश्यकता होती है (सेवाओं के अपडेट की अधिसूचना या सेवा की शर्तों या गोपनीयता नीति में संशोधन)।

        h3 7.2. हमारे वैध हित
        p हम आपके व्यक्तिगत डेटा का उपयोग सेवाएँ प्रदान करने से असंबंधित उद्देश्यों के लिए करते हैं। इन परिस्थितियों में, हमारा मानना है कि आपके व्यक्तिगत डेटा को संसाधित करने में हमारा वैध हित है और विश्वास है कि आपके व्यक्तिगत डेटा के ऐसे भंडारण और उपयोग के लाभ आप पर किसी भी संभावित प्रभाव से अधिक हैं और अनुचित रूप से आपके अधिकारों या स्वतंत्रता पर प्रतिकूल प्रभाव नहीं डालते हैं। प्रासंगिक परिस्थितियाँ:
        ul
                li धोखाधड़ी का पता लगाना और रोकथाम;
                li हमारी शफ़ल सेवा और संबंधित उप-प्रणालियों की सुरक्षा सुनिश्चित करना;
                li यह सुनिश्चित करना कि हमारी अपनी प्रक्रियाएँ, प्रक्रियाएँ और प्रणालियाँ;
                li हमारे द्वारा एकत्र की गई जानकारी का विश्लेषण और सुधार करना;
                li सेवाओं को बेहतर बनाने के लिए उनके उपयोग का विश्लेषण करें, जिसमें हमारी सामग्री, सुविधाएँ, शेड्यूल, तकनीक और घटनाएँ शामिल हैं, लेकिन इन्हीं तक सीमित नहीं हैं;
                li हमारे विज्ञापन अभियानों और विज्ञापन की प्रभावशीलता का निर्धारण करना;
                li उपयोगकर्ताओं का स्थान निर्धारित करने और किसी भी अनधिकृत उपयोगकर्ता को ब्लॉक करने के लिए आईपी पते और डिवाइस पहचानकर्ताओं का उपयोग करें;
                li आपकी पूछताछ और अनुरोधों को संसाधित करना (उदाहरण के लिए, यदि आप सहायता और सहायता मांगने के लिए हमारे ग्राहक सेवा टेलीफोन नंबर पर कॉल करते हैं, तो हमें आपके संपर्क विवरण को संसाधित करने की आवश्यकता होगी);
                li ऐसी ही घटनाओं का सुझाव दें जिनमें आपकी रुचि हो और आप समझ सकें कि हमारे उपयोगकर्ता किन घटनाओं का आनंद लेते हैं;
                li यदि आपने हमारी मार्केटिंग से बाहर निकलने का विकल्प चुना है या हमसे ईमेल प्राप्त करने पर आपत्ति जताई है, तो हमें यह सुनिश्चित करने के लिए आपकी प्राथमिकताओं का रिकॉर्ड रखना होगा कि यदि आपने हमसे ऐसा न करने के लिए कहा है तो हम आपसे संपर्क न करें।


        h3  7.3. उपयोगकर्ता अनुभव और विपणन
        p हम यह सुझाव देने के लिए आपके व्यक्तिगत डेटा को संसाधित कर सकते हैं कि शफ़ल पर उपलब्ध कौन सी सुविधाएँ आपके लिए प्रासंगिक हो सकती हैं। यदि आपने हमसे जानकारी का अनुरोध किया है या शफ़ल बुकिंग सिस्टम या पार्टनर बुकिंग सेवाओं के माध्यम से टिकट खरीदा है तो आपको हमसे विपणन संचार प्राप्त होगा। शफ़ल प्रदान की गई सामग्री के भीतर विज्ञापन और प्रोफ़ाइल ऑफ़र के लिए आपकी मार्केटिंग प्राथमिकताओं के आधार पर एकीकृत मोबाइल पुश सूचनाएं भी भेजेगा। ऐसी पुश सूचनाओं में आगामी घटनाओं के बारे में जानकारी भी शामिल हो सकती है जिनके लिए उपयोगकर्ता ने साइन अप किया होगा, आगामी प्रारंभ समय, स्थानों या ऐसे किसी भी बदलाव के बारे में जानकारी जो ऐसे आयोजन पर लागू हो सकती है। इन सूचनाओं को आपके मोबाइल डिवाइस की अधिसूचना सेटिंग्स में या सूचनाओं के तहत आपके उपयोगकर्ता प्रोफ़ाइल में शफ़ल ऐप के भीतर बंद किया जा सकता है।
        p *महत्वपूर्ण। शफ़ल सेवा और इसकी कार्यक्षमता सेवा के भीतर तीसरे पक्ष के विज्ञापन प्रदर्शित करने के लिए व्यक्तिगत डेटा का उपयोग नहीं करती है। तृतीय-पक्ष विज्ञापन - उन वस्तुओं और सेवाओं का विज्ञापन जो शफ़ल की प्रोफ़ाइल सामग्री से संबंधित नहीं हैं; वे विज्ञापन जो तृतीय पक्ष लक्ष्यीकरण का उपयोग करते हैं। सेवा पर ऐसा विज्ञापन इसके किसी भी रूप में निषिद्ध है (अधिक विवरण के लिए, उपयोगकर्ता अनुबंध देखें)।
        p यदि आप इन विपणन संचारों को प्राप्त करने से इनकार करते हैं, तो यह सेवाओं के उपयोग के परिणामस्वरूप हमें प्रदान किए गए व्यक्तिगत डेटा पर लागू नहीं होगा। इसलिए, आपको हमारी सेवाओं की कार्यक्षमता और/या प्रशासन के बारे में महत्वपूर्ण संचार प्राप्त होते रहेंगे।
        h3 8. सुरक्षा
        p यद्यपि हम आपके द्वारा हमें प्रदान किए गए व्यक्तिगत डेटा की सुरक्षा के लिए हर संभव उचित तकनीकी और संगठनात्मक उपाय करते हैं, इंटरनेट पर किसी भी डेटा ट्रांसमिशन के 100% सुरक्षित होने की गारंटी नहीं दी जा सकती है। कृपया ध्यान दें कि हम आपके द्वारा हमें ऑनलाइन प्रेषित किसी भी व्यक्तिगत जानकारी की सुरक्षा की गारंटी नहीं दे सकते।
        p हम उचित तकनीकी और परिचालन उपायों का उपयोग करके आपके व्यक्तिगत डेटा की सुरक्षा के लिए प्रतिबद्ध हैं जो आपके व्यक्तिगत डेटा को संग्रहीत और संसाधित करने के तरीके को सीमित और नियंत्रित करते हैं; उन्हें अनुकूलित और सुधारें।
        h3 9. आपके हक
        p आपके व्यक्तिगत डेटा के संबंध में आपके पास कुछ अधिकार हैं। यदि आपको उनके संबंध में अधिक जानकारी की आवश्यकता है या आप उनमें से किसी का लाभ उठाना चाहते हैं, तो कृपया हमसे किसी भी समय hugs@shuffle.city पर संपर्क करें। आपको यह अनुरोध करने का अधिकार है कि हम:
        ul
                li आपके बारे में हमारे पास मौजूद किसी भी व्यक्तिगत डेटा तक पहुंच प्रदान करें (या उनकी एक प्रति प्रदान करें);
                li अपने किसी भी व्यक्तिगत डेटा को अपडेट करें जो पुराना या गलत है;
                li आपके बारे में हमारे पास जो भी व्यक्तिगत डेटा है उसे हटा दें;
                li आपके व्यक्तिगत डेटा को संसाधित करने के तरीके को सीमित करें;
                li विपणन उद्देश्यों के लिए आपके व्यक्तिगत डेटा के प्रसंस्करण को रोकें;
                li किसी तृतीय पक्ष सेवा प्रदाता को अपना व्यक्तिगत डेटा प्रदान करें;
                li आपके व्यक्तिगत डेटा के हमारे उपयोग पर आपकी किसी भी वैध आपत्ति पर विचार करें।

        p हम सभी अनुरोधों पर विचार करेंगे और उचित समय के भीतर (और किसी भी मामले में कानून द्वारा आवश्यक समय की किसी भी अवधि के भीतर) प्रतिक्रिया प्रदान करेंगे। हालाँकि, कृपया ध्यान दें कि कुछ परिस्थितियों में कुछ व्यक्तिगत डेटा को ऐसे अनुरोधों से बाहर रखा जा सकता है।
        p यदि कोई अपवाद लागू होता है, तो आपके अनुरोध का जवाब देते समय हम आपको बताएंगे। आपके किसी भी अनुरोध का जवाब देने से पहले हम आपसे आपकी पहचान सत्यापित करने के लिए आवश्यक जानकारी प्रदान करने के लिए कह सकते हैं।
        p यदि हम आपके बारे में रखे गए किसी भी व्यक्तिगत डेटा को हटा देते हैं, तो वह विलोपन केवल हमारे उपयोगकर्ता अनुबंध के तहत शफ़ल सेवा पर लागू हो सकता है। आपको शफ़ल या हमारे द्वारा प्रदान की गई किसी अन्य सेवा तक पहुंचने के लिए अपने द्वारा बनाए गए प्रत्येक खाते के लिए अनुरोध करना होगा।
        h3 10. तृतीय पक्ष साइटें
        p शफ़ल ऐप में तीसरे पक्ष द्वारा संचालित अन्य वेबसाइटों के लिंक भी शामिल हैं। कृपया ध्यान दें कि यह गोपनीयता नीति केवल व्यक्तिगत डेटा पर लागू होती है जिसे हम शफ़ल सेवा और इसकी कार्यक्षमता के हिस्से के रूप में एकत्र और संसाधित करते हैं।
        p हम उस व्यक्तिगत डेटा के लिए ज़िम्मेदार नहीं हो सकते हैं जिसे तीसरे पक्ष अपनी वेबसाइट के माध्यम से एकत्र, संग्रहीत और उपयोग कर सकते हैं। आपको अपने द्वारा देखी जाने वाली प्रत्येक वेबसाइट की गोपनीयता नीति को हमेशा ध्यानपूर्वक पढ़ना चाहिए।
        h3 11. गोपनीयता नीति में परिवर्तन
        p कृपया इस गोपनीयता नीति के अपडेट के लिए नियमित रूप से जाँच करें। यदि हम इस गोपनीयता नीति में महत्वपूर्ण परिवर्तन करते हैं और हमारे पास आपका ईमेल पता है, तो हम आपको परिवर्तनों की सूचना भेजेंगे।
        h3 12. तीसरे पक्ष। भागीदारों
        p
            a(href="https://dubai.platinumlist.net/") https://dubai.platinumlist.net/
        p
            a(href="https://platinumlist.net/terms-and-conditions/TermsandConditionsCustomers") https://platinumlist.net/terms-and-conditions/TermsandConditionsCustomers
        p डेटा भंडारण और सुरक्षा  <u>Railway corp</u>
        p
            a(href="https://railway.app") https://railway.app
        p
            a(href="https://railway.app/legal/privacy") https://railway.app/legal/privacy
        p
            a(href="https://railway.app/legal/terms") https://railway.app/legal/terms
        p यदि हमारी गोपनीयता नीति के संबंध में आपके कोई प्रश्न हैं या सहायता की आवश्यकता है, तो कृपया हमसे यहां संपर्क करें hugs@shuffle.city
