extends ../../layout/main

block variables
    - var title = "सवा की शर्तं  | Shuffle"

block content
    main(style="padding: 2em")
        h2 सवा की शर्तं
        p हमारी काननू ी शर्तों पर सहमति
        p दबई सिलिकॉन ओएसिस, संयक्त अरब अमीरात
        p azart technologies fzco
        p
            a(href="official@shuffle.city") official@shuffle.city
            | &nbsp;सवाओंक बारमंसामान्य प्रश्न
        p
            a(href="hugs@shuffle.city") hugs@shuffle.city
            | &nbsp;सपोर्ट सवा
        p शफ़ल दबई और दनि या भर मंएक मोबाइल ऐप है, जो उन घटनाओं और स्थानों सजड़ा हैजो मगासिटी मंसामाजिक और व्यावसायिक जीवन की गतिशीलता को आकार दत हैं। यह अनशंसाओ  ं और अनकूलित सामग्री की एक परिष्कृत प्रणाली है। यह सामाजिक और व्यावसायिक उपकरणों का एक प्रभावशाली सट है। सवा का उपयोग करनकी प्रक्रिया ससकारात्मक अनभव , आनंद प्राप्त करनक लिए, मोबाइल एप्लिकशन की अन्तरक्रियाशीलता पर महत्वपर्णू र्णजोर दिया जाता है। यह कभी-कभी डिज़ाइन विवरण पर अत्यधिक ध्यान दन वाला होता है। हमनइसआपक लिए सवि धाजनक और उपयोगी बनानक लिए शफ़ल प्रोजक्ट बनाया और विकसित किया है। आज की आक्रामक मार्कटिगं की दनि या मं- यह महत्वपर्णू र्णहै।
        p य काननी शर्तं सवाओं तक आपकी पहंच और उपयोग क संबंध मंव्यक्तिगत रूप सया इकाई और एज़ार्ट टक्नोलॉजीज एफजडसीओ की ओर सआपक बीच काननी ू रूप सबाध्यकारी समझौतका गठन करती हैं। आप सहमत हैंकि सवाओंतक पहँचकर, आपनइन सभी काननी ू शर्तों को पढ़, समझ लिया हैऔर उनसबंधहोनक लिए सहमत हैं। यदि आप इन सभी काननी ू शर्तों ससहमत नहीं हैं, तो आपको सवाओं का उपयोग करनससख्ती सप्रतिबंधित किया जाता हैऔर आपको तरंत उपयोग बंद करना होगा।
        p यदि हम उपयोग की इन शर्तों मंमहत्वपर्णू र्णपरिवर्तनर्त करतहैंऔर हमारपास आपका ईमल पता है, तो हम आपको परिवर्तनर्त ों की सचना ू भजंग। किसी भी परिवर्तनर्त की प्रभावी तिथि क बाद सवाओंका उपयोग जारी रखकर, आप संशोधित शर्तों सबंधहोनक लिए सहमत हैं।
        p हम अनशंसा  करतहैंकि आप अपनी सरक्षा क लिए इन काननी ू नियमों और शर्तों की एक प्रति प्रिटं कर लं।
        h3 विषयसचूी
        p 1. यह हम हैं
        p 1.1. सवा
        p 1.2. सामग्री
        p 1.3. उपयोगकर्ताओं
        p 1.3.1. हिसाब किताब
        p 2. उपयोग की शर्तं
        p 2.1. आवदन
        p 2.2. समझौता
        p 3. सवाओंका आपका उपयोग
        p 3.1. हमारी सवाएँ
        p 4. बौद्धिक संपदा अधिकार
        p 5. उपयोगकर्ताप्रस्तति याँ
        p 6. उपयोगकर्तापंजीकरण
        p 7. खरीद और भगतान 
        p 8. राजनीति
        p 9. निषिद्ध गतिविधियाँ
        p 10. उपयोगकर्ताका योगदान
        p 11. अशदान ं लाइससं
        p 12. समीक्षा क लिए दिशानिर्दश
        p 13. मोबाइल एप्लीकशन लाइससं
        p 14. सोशल नटवर्क
        p 15. ततीय ृ -पक्ष वबसाइटंऔर सामग्री
        p 16. विज्ञापनदाता
        p 17. सवा प्रबंधन
        p 18. गोपनीयता नीति
        p 19. अवधि और समाप्ति
        p 20. संशोधन और व्यवधान
        p 21. लागूकाननू
        p 22. विवाद समाधान
        p 23. सधार 
        p 24. अस्वीकरण
        p 25. दायित्व की सीमाएँ
        p 26. नकसान  की भरपाई
        p 27. उपयोगकर्ताडटा 
        p 28. इलक्ट्रॉनिक संचार, लनदन और हस्ताक्षर
        p 29. विविध
        p 30. हमससंपर्क करं

        h3 1. यह हम हैं
        p Azart Technologies fzco दबई , संयक्त अरब अमीरात, लाइससं संख्या 23963 क काननू ों क तहत विधिवत संगठित और विद्यमान कंपनी है।
        p गतिविधियाँ:
        ul
            li सोशल मीडिया अनप्रयोग विकास एवंप्रबंधन
            li कंप्यटरू सिस्टम और संचार उपकरण सॉफ्टवयर डिजाइन
            li सोशल मीडिया क माध्यम सविपणन सवाएँ
        p हम azarties.com और shuffle.city क मालिक हैं।
        p Wहम सभी सार्वजर्व निक बाजार प्लटफार्मों पर आईओएस और एंड्रॉइड पर मोबाइल एप्लिकशन (सी) शफल (खद को पलै ट करं) क मालिक हैं।
        h3 1.1. सवा
        p (c) शफ़ल मोबाइल एप्लिकशन, वबसाइटंऔर डोमन azarties.com और shuffle.city, और उनक सभी वब पज, उपडोमन, डोमन वरिएंट और उन वबसाइटों क हिस्स, उन पर या उनक माध्यम सउपलब्ध या अन्यथा हमारद्वारा प्रदान की जानवाली सभी सवाएँप्रदान की जाती हैं। , Azart Technologies fzco द्वारा समर्थितर्थि और प्रदान किया गया। हम इन्हं"सवाएँ" कहतहैं।
        h3 1.2. वि षय
        p  शफ़ल एप्लिकशन क अदरं जो कछ भी है- प्लस कार्ड,र्ड ईवंट कार्ड,र्ड सार्वजर्व निक उपयोगकर्ताप्रोफ़ाइल या उनक डटा  का हिस्सा, कोई भी इंटरैक्टिव जानकारी (समीक्षा, रटिगं , चटै इत्यादि) जिसएकीकृत कार्यक्षर्य मता/शफ़ल टूलकिट का उपयोग करक जोड़ा जा सकता है।
        h3 1.3. उपयोगकर्ता ओ
        p हम अपनपंजीकृत उपयोगकर्ताओ,ं स्थान मालिकों, कार्यक्रर्य म आयोजकों को स्थान और ईवंट कार्ड दखन, उपयोग करन, बनान, प्रबंधित करन, प्रचार करनक लिए सरल और तज़ टूल प्रदान करतहैं। हम शफ़ल टिकट बकि ंग सिस्टम या पार्टनर बकि ंग सिस्टम का उपयोग करन क साथ-साथ टिकट और पंजीकरण बचन, इन घटनाओं और स्थानों ससंबंधित अपसल बचनका अवसर प्रदान करतहैं; सामाजिक ("कनक्ट्स", "फलफिल द ड्रीम", "सोशल") और इंटरैक्टिव ("फीलिग्ं स", "रैंडमाइज़र") फ़ंक्शंस का उपयोग करं।
        p हम प्लस कार्ड धारकों, कार्यक्रर्य म आयोजकों और सवाओं क किसी भी उपयोगकर्ताको "उपयोगकर्ता" कहतहैंऔर उन्हं"आप" क रूप मं संबोधित करतहैं।
        h3 1.3.1 हि साब कि ताब
        p शफ़ल एप्लिकशन क सभी उपयोगकर्ताओं की पहचान एक खाता प्रकार सकी जाती है, जिसवएप्लिकशन क लिए पंजीकरण करतसमय चनत हैंऔर, यदि वांछित हो, तो एप्लिकशन का उपयोग करनकी प्रक्रिया क दौरान संशोधित करतहैं। निम्नलिखित प्रकार क खात प्रतिष्ठित हैं:
        li नियमित खाता
        li संगठन खाता
        li प्रो खाता
        li प्रीमियम खाता
        li प्रभावशाली खाता
        h3 2. उपयोग की शर्तं
        h3 2.1. एप्लीकशन
        p यह उपयोग की शर्तं दस्तावज़ उन नियमों और शर्तों को निर्धारित करता हैजिनक तहत उपयोगकर्तासवाओंका उपयोग कर सकतहैं। यदि आप किसी भी तरह ससवाओं का उपयोग करतहैं, तो यउपयोग की शर्तं आप पर लागूहोती हैं। उपयोग की शर्तों को स्वीकार करक और किसी भी तरह ससवाओंका उपयोग करक, आप बिना किसी संशोधन क उपयोग की इन शर्तों ससहमत होतहैंऔर azart Technologies fzco क साथ एक अनबंध मंप्रवश करतहैं।
        h3 2.2. समझौता
        p उपयोग की यशर्तं,र्तं साथ ही इन उपयोग की शर्तों मंनिहित अधिकार और दायित्व, आपक द्वारा किसी भी सवा का उपयोग शरू करनक क्षण स, साथ ही शफ़ल मोबाइल एप्लिकशन मंपंजीकरण क समय सस्वीकार किए जातहैं।
        h3 3. सवाओंका आपका उपयोग
        h3 3.1. हमारी सवाए
        p azart Technologies fzco इसक द्वारा सवाओं तक पहँचनऔर उपयोग करनका एक व्यक्तिगत, गैर-अनन्य, गैर-हस्तांतरणीय, गैर-उपलाइससं योग्य, प्रतिसंहरणीय, सीमित अधिकार प्रदान करती है: (ए) सवाओं को दखना और खोजना, दखना, पंजीकरण करना या खरीदना टिकट; और/या (बी) सामाजिक ("कनक्ट्स", "सपनको परा ू करं", "सामाजिक") और इंटरैक्टिव ("भावनाएं", "रैंडमाइज़र") कार्यों का उपयोग; और/या (सी) यदि आप एक ईवंट आयोजक या स्थल स्वामी (और संबंधित खाता प्रकार) हैं, - सामग्री बनाना, ईवंट पंजीकरण बनाना, ईवंट अपसल्स, साथ ही सामग्री को बढ़ावा दना, प्रबंधित करना, ट्रैकिंग और टिकट बिक्री सराजस्व एकत्र करना और अतिरिक्त बिक्री उत्पाद.
        p उपयोग की इन शर्तों, गोपनीयता नीति क अधीन, सभी लागूस्थानीय, राज्य, प्रांतीय, राष्ट्रीय और अन्य काननू ों, नियमों और विनियमों द्वारा अनमत सीमा तक।
        p आपको किसी को भी प्रत्यक्ष या अप्रत्यक्ष रूप सअनम ति नहीं दनी चाहिए:
        p (ए) सवाओं क किसी भी हिस्सकी प्रतिलिपि बनाना, संशोधित करना, पन : प्रस्तत करना, अनवाद  करना, स्थानीय बनाना, पोर्ट करना याअन्यथा व्यत्पन्न कार्य बनाना; (बी) सवाओं क सभी या किसी भाग क स्रोत कोड या संरचना, अनक्र म या संगठन को रिवर्स इंजीनियर,अलग करना, विघटित करना या अन्यथा खोजनका प्रयास करना; (सी) किराए पर लना, पट्टपर दना, पनः  बचना, वितरित करना, अपनीततीय ृ -पक्ष व्यावसायिक गतिविधियों क परकू क लिए या इस अनबंध द्वारा अपक्षित अन्य वाणिज्यिक उद्दश्यों क लिए सवाओं काउपयोग करना, या अन्यथा किसी भी अनधिकृत या अनपक्षित तरीक ससवाओं का उपयोग करना; (डी) सवाओं पर या उनमंकिसी भीमालिकाना अधिकार नोटिस या लबल को हटाना या बदलना; या (ई) किसी भी ऐसी गतिविधि मंशामिल होना जो सवाओंमंहस्तक्षप करतीहैया बाधित करती है। इस अनच्छद मंस्पष्ट रूप सप्रदान नहींकिए गए कोई भी अधिकार सरक्षित हैं।
        p सवाओं क माध्यम सप्रदान की गई जानकारी किसी भी अधिकार क्षत्र या दश मंकिसी व्यक्ति या इकाई द्वारा वितरण या उपयोग क लिएनहीं है, जहां ऐसा वितरण या उपयोग काननू या विनियमन क विपरीत होगा या जिसक लिए हमंऐसअधिकार क्षत्र मंपंजीकरण कीआवश्यकता होगी या दश। तदनसार  , वव्यक्ति जो अन्य स्थानों ससवाओंका उपयोग करना चनत हैं, वअपनी पहल पर ऐसा करतहैंऔरस्थानीय काननू ों क अनपालन  क लिए परूी तरह सजिम्मदार हैं, यदि और जिस हद तक स्थानीय काननू लागूहोतहैं।
        h3 हमारी बौद्धिक संपदा
        p हम अपनी सवाओंमंसभी बौद्धिक संपदा अधिकारों क मालिक या लाइससधार ं ी हैं, जिसमंसवाओंमंसभी स्रोत कोड, डटाब  स, कार्यक्षर्य मता, सॉफ्टवयर, वबसाइट डिजाइन, ऑडियो, वीडियो, टक्स्ट, फोटो और ग्राफिक्स क साथ-साथ ट्रडमार्क, सवा चिह्न भी शामिल हैं। और उसमं मौजूद लोगो।
        p हमारी सामग्री और चिह्न कॉपीराइट और ट्रडमार्क कानूनों (साथ ही विभिन्न अन्य बौद्धिक संपदा अधिकारों और अनचित प्रतिस्पर्धा कानूनों) द्वारा संरक्षित हैं।
        p सवाओं पर सामग्री और चिह्न कवल आपक व्यक्तिगत, गैर-व्यावसायिक उपयोग या आंतरिक व्यावसायिक उद्दश्यों क लिए प्रदान किए जात हैं।
        p आपका हमारी सवाओंका उपयोग
        p नीचदिए गए "निषिद्ध गतिविधियां" अनभाग सहित इन कानूनी शर्तों क साथ आपक अनपालन क अधीन, हम आपको एक गैर-अनन्य, गैर-हस्तांतरणीय और प्रतिसंहरणीय लाइसंस प्रदान करत हैं:
        li सवाओंतक पहँच प्राप्त करना;
        li सामग्री क किसी भी हिस्स की एक प्रति डाउनलोड करना या प्रिंट करना, जिस तक आपन कवल अपन व्यक्तिगत, गैर-व्यावसायिक उपयोग या आंतरिक व्यावसायिक उद्दश्यों क लिए उचित पहंच प्राप्त की है।
        p इस अनभाग मं या हमारी कानूनी शर्तों मं कहीं और बताए गए को छोड़कर, सवाओं या सामग्री या चिह्नों का कोई भी हिस्सा कॉपी, पनरत्पादित, एकत्रित, पनर्प्रकाशित, अपलोड, पोस्ट, सार्वजनिक रूप स प्रदर्शित, एन्कोड, अनवादित, प्रसारित, वितरित, बचा नहीं जा सकता है, हमारी पूर्वलिखित अनमति क बिना किसी भी व्यावसायिक उद्दश्य क लिए लाइसंस प्राप्त या अन्यथा उपयोग किया गया।
        p यदि आप इस अनभाग मं या हमारी कानूनी शर्तों मं कहीं और वर्णित सवाओं, सामग्री या चिह्नों का उपयोग अलग ढंग स करना चाहत हैं, तो अपना अनरोध यहाँ भजं: official@shuffle.city. यदि हम कभी भी आपको हमारी सवाओं या सामग्री क किसी भी हिस्स को प्रकाशित करन, पन: पश करन या सार्वजनिक रूप स प्रदर्शित करन की अनमति दत हैं, तो आपको हमं सवाओं, सामग्री या मार्क्स क मालिक या लाइसंसधारक क रूप मं पहचानना होगा और यह सनिश्चित करना होगा कि कोई कॉपीराइट या मालिकाना नोटिस दिखाई द या प्रमखता स प्रदर्शित हो। हमारी सामग्री को प्रकाशित, पनरत्पादित या प्रदर्शित करत समय।
        p हम सवाओं, सामग्री और चिह्नों क संबंध मं आपको स्पष्ट रूप स नहीं दिए गए सभी अधिकार सरक्षित रखत हैं।
        p इन बौद्धिक संपदा अधिकारों का कोई भी उल्लंघन हमारी कानूनी शर्तों का एक महत्वपूर्ण उल्लंघन माना जाएगा और हमारी सवाओं का उपयोग करन का आपका अधिकार तरंत समाप्त कर दिया जाएगा।
        p आपकी सामग्री और योगदान
        p कृपया हमारी सवाओं का उपयोग करनसपहलइस अनभाग  और "निषिद्ध गतिविधियों" अनभाग  की सावधानीपर्वूकर्व समीक्षा करंताकि आप हमंदिए गए अधिकारों और सवाओंक माध्यम सकिसी भी सामग्री को पोस्ट या अपलोड करतसमय आपक दायित्वों को समझ सकं। सामग्री: हमं सीधकोई प्रश्न, टिप्पणी, सझाव  , विचार, प्रतिक्रिया या सवाओं ("सामग्री") क बार मंअन्य जानकारी भजकर, आप ऐसी सामग्रियों मंसभी बौद्धिक संपदा अधिकार हमंसौंपनक लिए सहमत होतहैं। आप सहमत हैंकि हम प्रकाशन क मालिक होंगऔर इस आपकी सहमति या मआवज  क बिना, किसी भी वधै उद्दश्य, वाणिज्यिक या अन्यथा, क लिए अप्रतिबंधित उपयोग और वितरित करनका अधिकार होगा।
        p योगदान: सवाएँआपको ब्लॉग, संदश बोर्ड,र्ड ऑनलाइन फ़ोरम और अन्य सवि धाओं मंसंचार करन, योगदान करनया भाग लनक लिए आमंत्रित कर सकती हैंजहाँआप सामग्री और सामग्री बना सकतहैं, सबमिट कर सकतहैं, पोस्ट कर सकतहैं, प्रदर्शितर्शि कर सकतहैं, प्रसारित कर सकतहैं, प्रकाशित कर सकतहैं, वितरित कर सकतहैंया प्रसारित कर सकतहैं। या सवाओंक माध्यम स, जिसमंपाठ, लख, वीडियो, ऑडियो, फोटो, संगीत, ग्राफिक्स, टिप्पणियाँ, समीक्षाएँ, रटिगं सझाव  , व्यक्तिगत जानकारी या अन्य सामग्री शामिल है, लकिन इन्हींतक सीमित नहीं है।
        p आप समझतहैंकि योगदान सवाओंक अन्य उपयोगकर्ताओंद्वारा और संभवतः ततीय ृ -पक्ष वबसाइटों क माध्यम सदखा जा सकता है।
        p योगदान पोस्ट करक, आप हमंएक लाइससं प्रदान करतहैं(आपक नाम, ट्रडमार्क और लोगो क उपयोग सहित): किसी भी योगदान को पोस्ट करक, आप हमंअसीमित, अपरिवर्तनीय र्त , शाश्वत, गैर-अनन्य, हस्तांतरणीय, रॉयल्टी मक्त, परूी तरह सभगतान  प्रदान करतहैं। विश्वव्यापी अधिकार और लाइससं : उपयोग, प्रतिलिपि, पन रत्पादन, वितरण, बिक्री, पन र्विक्रर्वि य, प्रकाशन, प्रसारण, नाम बदलं, स्टोर करना, सार्वजर्व निक रूप सप्रदर्शनर्श करना, सार्वजर्व निक रूप सप्रदर्शितर्शि करना, सधार  करना, अनवाद  करना, अशं (संपर्णू र्णया आशिं क रूप स), और अपनयोगदान का उपयोग करना (आपकी छवि, नाम और आवाज़ सहित, लकिन इन्हींतक सीमित नहीं) किसी भी उद्दश्य क लिए, व्यावसायिक, प्रचारात्मक या अन्यथा। हमारा उपयोग और वितरण किसी भी मीडिया प्रारूप मंऔर किसी भी मीडिया चनलै क माध्यम स हो सकता है।
        p इस लाइससं मंआपक नाम, कंपनी का नाम और फ्रंचाइजी नाम, यदि लागूहो, क साथ-साथ आपक द्वारा प्रदान किए गए किसी भी ट्रडमार्क, सवा चिह्न, व्यापार नाम, लोगो और व्यक्तिगत और व्यावसायिक छवियों का उपयोग शामिल है।
        p आप जो पोस्ट या अपलोड करतहैंउसक लिए आप जिम्मदार हैं: हमंसामग्री सबमिट करक और/या सवाओंक किसी भी भाग क माध्यम स योगदान पोस्ट करक या सवाओं क माध्यम सअपनखातको अपनकिसी भी सोशल मीडिया खातसजोड़कर सवाओं क माध्यम स योगदान उपलब्ध कराकर, आप :
        li पष्टि  करंकि आपनहमारी "निषिद्ध गतिविधियों" को पढ़ लिया हैऔर उनससहमत हैंऔर सवाओंक माध्यम सकोईभी सामग्री नहीं भजंग, प्रकाशित नहीं करंग, अपलोड नहीं करंग, या ऐसी कोई सामग्री पोस्ट नहीं करंग जो गैरकाननी ू ,अपमानजनक, घणिृ त, हानिकारक, अपमानजनक, अश्लील या डरानवाली, आक्रामक हो। , भदभावपर्णू ,र्ण किसी व्यक्ति या समहू को धमकी दनवाला, स्पष्ट यौन, झूठा, गलत, भ्रामक या गमराह करनवाला;
        li लागूकाननू द्वारा अनमत सीमा तक, ऐसी किसी भी सामग्री और/या योगदान मंकिसी भी नतिै क अधिकार को छोड़ दं;
        li वारंटी दं कि ऐसी कोई भी सामग्री और/या योगदान आपक लिए मलू हैया आपक पास ऐसी सामग्री और/या योगदान प्रस्तत करनक लिए आवश्यक अधिकार और लाइससं हैंऔर आपक पास हमंअपनी सामग्री और/या क संबंध मंपर्वूगामी र्व अधिकार प्रदान करनका परा ू अधिकार है। योगदान;
        li गारंटी दंऔर प्रतिनिधित्व करंकि आपकी सामग्री और/या योगदान गोपनीय जानकारी नहीं है।
        p आप अपनी सामग्रियों और/या योगदानों क लिए परूी तरह सजिम्मदार हैं, और आप इस धारा, किसी तीसर पक्ष क बौद्धिक संपदा अधिकारों या लागूकाननू क आपक उल्लंघन क कारण होनवालसभी नकसान  ों क लिए हमंक्षतिपर्तिू र्तिदनक लिए स्पष्ट रूप ससहमत हैं।
        p हम आपकी सामग्री को हटा सकतहैंया संपादित कर सकतहैं: हालाँकि हमंकिसी भी योगदान की निगरानी करनकी आवश्यकता नहीं है, हमंकिसी भी समय पर्वू र्वसचना ू क बिना किसी भी योगदान को हटानया संपादित करनका अधिकार है, अगर हमारउचित निर्णयर्ण मं, हम मानतहैंकि ऐसयोगदान हानिकारक हैंया उल्लंघन मं हैंउपयोग की इन शर्तों क. यदि हम ऐसी किसी भी जानकारी को हटातहैंया संपादित करतहैं, तो हम आपक खातको निलंबित या अक्षम भी कर सकतहैंऔर अधिकारियों को आपकी रिपोर्ट कर सकतहैं।
        h3 5. उपयोगकर्ता प्रस्तति तिया
        p सवाओं का उपयोग करक, आप प्रतिनिधित्व करतहैंऔर आश्वासन दतहैंकि: 1. आपक द्वारा प्रदान की गई सभी पंजीकरण जानकारी सत्य, सटीक, वर्तमान र्त और पर्णू र्णहोगी; 2. आप ऐसी जानकारी की सटीकता बनाए रखंगऔर आवश्यकतानसार  ऐसी पंजीकरण जानकारी को तरंत अपडट करंग; 3. आपक पास काननी ू क्षमता हैऔर आप इन काननी ू शर्तों का पालन करनक लिए सहमत हैं; 4. आप जिस क्षत्राधिकार मंरहतहैं, वहां आप नाबालिग नहीं हैंया यदि आप नाबालिग हैं, तो आपनसवाओं का उपयोग करनक लिए माता-पिता की अनम ति प्राप्त कर ली है; 5. आप स्वचालित या गैर-मानवीय माध्यमों ससवाओं तक नहीं पहंच पाएंग, चाहवह किसी बॉट, स्क्रिप्ट या अन्यथा क माध्यम सहो; 6. आप किसी भी अवधै या अनधिकृत उद्दश्य क लिए सवाओं का उपयोग नहीं करंग; 7. सवाओं का आपका उपयोग किसी भी लागूकाननू या विनियम का उल्लंघन नहींकरगा।
        p यदि आप कोई ऐसी जानकारी प्रदान करतहैंजो गलत, गलत, परानी  या अधरूी है, तो हमंआपक खातको निलंबित या समाप्त करनऔर सवाओं(या उसक किसी भी हिस्स) क किसी भी वर्तमान र्त या भविष्य क उपयोग सइनकार करनका अधिकार है।
        h3 6. उपयोगकर्ता पजं ीकरण
        p सवाओं का उपयोग करनक लिए, आपको पंजीकरण करना होगा। आप अपना पासवर्ड गोपनीय रखनक लिए सहमत हैंऔर अपनखात और पासवर्ड क किसी भी उपयोग क लिए जिम्मदार हैं। यदि हम अपनविवक सयह निर्धारित करतहैंकि ऐसा उपयोगकर्तानाम अनचि त, अश्लील या अन्यथा आपत्तिजनक है, तो हम आपक चन हए उपयोगकर्तानाम को हटान, वापस करनया बदलनका अधिकार सरक्षित रखतहैं।
        h3 7. खरीद और भग  तान
        p आप सवाओं क माध्यम सकी गई सभी खरीदारी क लिए वर्तमान र्त , पर्णू र्णऔर सटीक खरीदारी और खाता जानकारी प्रदान करनक लिए सहमत हैं। आप अपनईमल पत, भगतान  विधि और भगतान  कार्ड की समाप्ति तिथि सहित अपनखातऔर भगतान  जानकारी को तरंत अपडट करनक लिए भी सहमत हैं, ताकि हम आपक लनदन को परा ू कर सकं और यदि आवश्यक हो तो आपससंपर्क कर सकं।
        p यदि आपका ऑर्डरर्ड आवर्ती शल्क क अधीन है, तो आप इस बात ससहमत हैंकि जब तक आप लागूऑर्डरर्ड रद्द नहीं कर दत, तब तक प्रत्यक आवर्ती शल्क क लिए आपकी पर्वू र्वस्वीकृति की आवश्यकता क बिना नियमित रूप सआपकी भगतान  विधि सशल्क लिया जाएगा। हम मल्ूय निर्धारण मंकिसी भी त्रटि या गलती को सधारन  का अधिकार सरक्षित रखतहैं, भलही हमनपहलही भगतान  का अनरोध किया हो या प्राप्त कर लिया हो।
        h3 8. राजनीति
        p सभी बिक्री अतिं म हैंऔर कोई रिफंड नहींदिया जाएगा।
        h3 9. नि षि द्ध गति वि धि या
        p आप उस उद्दश्य क अलावा किसी अन्य उद्दश्य क लिए सवाओं तक पहंच या उपयोग नहीं कर सकतहैंजिसक लिए हम सवाएं प्रदान करतहैं। हमारद्वारा विशष रूप सअधिकृत या अनमो  दित सवाओंको छोड़कर किसी भी व्यावसायिक उद्दश्य क  लिए सवाओंका उपयोग नहींकिया जा सकता है।
        p सवाओंक उपयोगकर्ताक रूप मं, आप इसससहमत नहीं हैं:
        li हमारी लिखित अनम ति क बिना प्रत्यक्ष या अप्रत्यक्ष रूप सएक संग्रह, संकलन, डटाब  स या कैटलॉग बनानया संकलित करनक लिए सवाओंसव्यवस्थित रूप सडटा  या अन्य सामग्री प्राप्त करना;
        li हमंऔर अन्य उपयोगकर्ताओं को धोखा दना या गमराह करना, विशष रूप सउपयोगकर्तापासवर्ड जसी ै संवदनशील खाता जानकारी जाननक किसी भी प्रयास मं;
        li सवाओं की सरक्षा सवि धाओं को बायपास करना, अक्षम करना या अन्यथा हस्तक्षप करना, जिसमं ऐसी विशषताए  ं शामिल हैंजो किसी भी सामग्री क उपयोग या प्रतिलिपि को रोकती हैंया प्रतिबंधित करती हैंया सवाओं और/या उनमंनिहित सामग्री क उपयोग पर प्रतिबंध लगाती हैं;
        li हमंऔर/या सवाओंको अपमानित करना, कलंकित करना या अन्यथा हानि पहँचाना;
        li सवाओं क माध्यम सप्राप्त किसी भी जानकारी का उपयोग किसी अन्य व्यक्ति को परशान करन, दर्व्य वहार र्व्य करनया नकसान  पहंचानक लिए करना;
        li हमारी सहायता सवाओंका दरपयोग करंया दर्व्य वहार र्व्य या कदाचार की झूठी रिपोर्ट भजं;
        li वाओंका उपयोग ऐसतरीकों सकरंजो किसी भी लागूकाननू या विनियम क साथ असंगत हों;
        li अनधिकृत फ़्रमिगं या सवाओंसलिकं करनमंसंलग्न;
        li वायरस, ट्रोजन होर्स या अन्य सामग्री को अपलोड या प्रसारित करना (या अपलोड करनया संचारित करनका प्रयास करना), जिसमं पंजीकरण ू और स्पमै का अत्यधिक उपयोग (दोहराए गए पाठ का निरंतर प्रकाशन) शामिल है, जो किसी भी पक्ष द्वारा सवाओं क निर्बाध उपयोग मंहस्तक्षप करता हैया संशोधित करता है, ख़राब करता है, सवाओंक उपयोग, कार्य,र्य संचालन या रखरखाव को बाधित, परिवर्तितर्ति या हस्तक्षप करता है;
        li सिस्टम क किसी भी स्वचालित उपयोग मंभाग लना, जसै टिप्पणियाँया संदश पोस्ट करनक लिए स्क्रिप्ट का उपयोग करना या किसी डटा  माइनिगं , रोबोट या समान डटा  संग्रह और निष्कर्षणर्ष टूल का उपयोग करना;
        li किसी भी सामग्री सकोई कॉपीराइट या अन्य मालिकाना अधिकार नोटिस हटा दं;
        li किसी अन्य उपयोगकर्ताया व्यक्ति का प्रतिरूपण करना या किसी अन्य उपयोगकर्ताक नाम का उपयोग करना;
        li किसी भी सामग्री को अपलोड या प्रसारित करना (या अपलोड करनया प्रसारित करनका प्रयास करना) जो जानकारी एकत्र करनया संचारित करनक लिए एक निष्क्रिय या सक्रिय तंत्र क रूप मंकार्य करता है, जिसमंस्पष्ट ग्राफिक साझाकरण प्रारूप ("जीआईएफ"), 1 × 1 पिक्सल, वब शामिल है, लकिन इन्हीं तक सीमित नहीं है। त्रटि याँ, ककीज़। या अन्य समान उपकरण (कभी-कभी "स्पाइवयर," "निष्क्रिय संग्रह तंत्र," या "पीकएम" क रूप मंसंदर्भितर्भि );
        li सवाओंया सवाओंसजड़नटवर्क मंहस्तक्षप करना, बाधित करना या अनचि त दबाव पदा ै करना;
        li आपको सवाओं का कोई भी हिस्सा प्रदान करनमंशामिल हमारकिसी भी कर्मचार र्म ी या एजंट को परशान करना, परशान करना, डराना या धमकाना;
        li सवाओं या उसक किसी भाग तक पहंच को रोकनया प्रतिबंधित करनक लिए डिज़ाइन किए गए सवाओं क किसी भी उपाय को दरकिनार करनका प्रयास;
        li सवाओं क सॉफ़्टवयर की प्रतिलिपि बनाना या अनकूलित करना, जिसमंफ़्लशै , PHP, HTML, जावास्क्रिप्ट या अन्य कोड शामिल हैं, लकिन इन्हींतक सीमित नहीं हैं;
        li लागूकाननू द्वारा अनमत सीमा को छोड़कर, सवाओं मंशामिल या किसी भी तरह सकिसी भी सॉफ़्टवयर का हिस्सा बननवालकिसी भी सॉफ़्टवयर को समझना, विघटित करना, अलग करना या रिवर्स इंजीनियर करना;
        li किसी भी स्वचालित प्रणाली का उपयोग, लॉन्च, विकास या वितरण, जिसमंबिना किसी सीमा क, कोई भी रोबोट, चीट यटिू लिटी, स्क्रैपर, या ऑफ़लाइन रीडर शामिल हैजो सवाओं तक पहंचता है, या किसी भी अनधिकृत स्क्रिप्ट या अन्य सॉफ़्टवयर का उपयोग या लॉन्च करता है, जब तक कि ऐसा न हो। किसी खोज इंजन या इंटरनट ब्राउज़र क मानक उपयोग का परिणाम;
        li सवाओंसखरीदारी करनक लिए क्रय एजंट का उपयोग करं;
        li अनचाही ईमल भजन, या स्वचालित तरीकों स या झूठ बहानों क तहत उपयोगकर्ता खात बनान क उद्दश्य स इलक्ट्रॉनिक या अन्य माध्यमों सउपयोगकर्ताओं क उपयोगकर्तानाम और/या ईमल पतएकत्र करनसहित अनधिकृत सवाओंका उपयोग करं;
        li हमारसाथ प्रतिस्पर्धाकरनक किसी भी प्रयास मंसवाओं का उपयोग करंया अन्यथा किसी राजस्व सजनृ उद्दश्य क लिए सवाओंऔर/या सामग्री का उपयोग करं;
        li अपनी प्रोफ़ाइल बचंया अन्यथा स्थानांतरित करं।
        h3 10. उपयोगकर्ता का योगदान
        p सवाएँआपको ब्लॉग, संदश बोर्ड,र्ड ऑनलाइन फ़ोरम और अन्य सवि धाओंमंसंचार करन, योगदान करनया भाग लनक लिए आमंत्रित कर सकती हैं, और आपको बनान, सबमिट करन, पोस्ट करन, प्रदर्शितर्शि करन, प्रसारित करन, प्रदर्शनर्श करन, प्रकाशित करन, प्रकाशित करनकी क्षमता प्रदान कर सकती हैं। हमंया सवाओं पर सामग्री और सामग्रियों को वितरित या प्रसारित करं, जिसमंटक्स्ट, टक्स्ट, वीडियो, ऑडियो, फोटो, ग्राफिक्स, टिप्पणियां, सझाव  , या व्यक्तिगत जानकारी या अन्य सामग्री (सामहिू क रूप स, "योगदान") शामिल है, लकिन इन्हीं तक सीमित नहीं है। योगदान को सवाओं क अन्य उपयोगकर्ताओं और ततीय ृ -पक्ष वबसाइटों क माध्यम सदखा जा सकता है। इसलिए, आपक द्वारा प्रषित किसी भी योगदान को गैर-गोपनीय और गैर-स्वामित्व वाला माना जा सकता है। जब आप कोई योगदान बनातहैंया उस तक पहंच प्रदान करतहैं, तो आप इसका प्रतिनिधित्व करतहैंऔर गारंटी दतहैंकि:
        li आपक योगदान का निर्माण, वितरण, प्रसारण, सार्वजर्व निक प्रदर्शनर्श या प्रदर्शनर्श , या पहंच, डाउनलोडिगं या कॉपी करना किसी भी मालिकाना अधिकार का उल्लंघन नहींकरगा और न ही करगा, जिसमंकॉपीराइट, पटंट, ट्रडमार्क, व्यापार रहस्य या किसी क नतिै क अधिकार शामिल हैं, लकिन इन्हींतक सीमित नहीं हैं। ततीय ृ पक्ष;
        li आप हमार, सवाओं और सवाओं क अन्य उपयोगकर्ताओं क निर्माता और मालिक हैंया आपक पास सवाओं और इन उपयोग की शर्तों द्वारा अपक्षित किसी भी तरीक सआपक योगदान का उपयोग करनक लिए आवश्यक लाइससं , अधिकार, सहमति, रिलीज़ और अनम तियां हैं;
        li आपकी दलीलंझूठी, गलत या भ्रामक नहीं हैं;
        li आपक योगदान अनचाहया अनधिकृत विज्ञापन, प्रचार सामग्री, पिरामिड योजनाएं, श्रंखला ृ पत्र, स्पमै , सामहिू क मलिगं या आग्रह क अन्य रूप नहीं हैं;
        li आपकी सामग्री अश्लील, कामक , गंदी, हिसकं , आक्रामक, अपमानजनक या अन्यथा आपत्तिजनक नहीं है(जसा ै कि हमार द्वारा निर्धारित किया गया है);
        li आपकी सामग्री किसी का उपहास, अपमान, डराना या अपमान नहींकरती;
        li आपकी सामग्री का उपयोग किसी अन्य व्यक्ति को परशान करनया धमकी दन(उन शर्तों क काननी ू अर्थ मं) या किसी विशष व्यक्ति या लोगों क वर्ग क खिलाफ हिसा ं की वकालत करनक लिए नहींकिया जाता है;
        li आपका योगदान किसी भी लागूकाननू , अध्यादश या विनियम का उल्लंघन नहींकरता है;
        li आपका योगदान किसी तीसरपक्ष की गोपनीयता या विज्ञापन अधिकारों का उल्लंघन नहींकरता है;
        li आपकी सामग्री बाल पोर्नोग्राफ़ी ससंबंधित किसी भी लागूकाननू का उल्लंघन नहीं करती हैया अन्यथा नाबालिगों क स्वास्थ्य या कल्याण की रक्षा करनका प्रयास नहींकरती है;
        li आपकी सामग्री मं जाति, राष्ट्रीय मलू , लिगं , यौन प्राथमिकता या शारीरिक विकलांगता स संबंधित आपत्तिजनक टिप्पणियाँनहीं हैं;
        li आपक योगदान अन्यथा उल्लंघन नहीं करतहैंया ऐसी सामग्री सलिकं नहीं करतहैंजो इन काननी ू शर्तों या किसी भी लागूकाननू या विनियमन क किसी भी प्रावधान का उल्लंघन करती है।
        p उपरोक्त क उल्लंघन मं सवाओं का कोई भी उपयोग इन काननी ू शर्तों का उल्लंघन करता हैऔर इसक परिणामस्वरूप, अन्य बातों क अलावा, सवाओंका उपयोग करनक आपक अधिकार समाप्त या निलंबित हो सकतहैं।
        h3 11. अशं दान लाइसस
        p सवाओं क किसी भी हिस्समंअपना योगदान पोस्ट करक या सवाओं पर अपनखातको अपनकिसी भी सोशल मीडिया खातसजोड़कर सवाओं पर योगदान उपलब्ध कराकर, आप स्वचालित रूप सअनदान दतहैं, और प्रतिनिधित्व करतहैंऔर आश्वासन दतहैंकि आपक पास हमंअनदान दनका अधिकार है। असीमित, अपरिवर्तनीय र्त , शाश्वत, गैर-अनन्य, हस्तांतरणीय, रॉयल्टी-मक्त, परूी तरह सभगतान  किया गया, विश्वव्यापी अधिकार और पोस्ट करन, उपयोग करन, प्रतिलिपि बनान, पन : पश करन, प्रकट करन, बचन, फिर सबचन, प्रकाशित करन, प्रसारित करन, नाम बदलन, संग्रह करन, स्टोर करनका लाइससं कैश, सार्वजर्व निक रूप सप्रदर्शनर्श , सार्वजर्व निक रूप स प्रदर्शितर्शि , पन : स्वरूपित, अनवाद  , संचारित, अशं (संपर्णू र्णया आशिं क रूप स), और किसी भी उद्दश्य, वाणिज्यिक, प्रचार, या अन्यथा क लिए ऐसयोगदान (आपकी छवि और आवाज सहित लकिन सीमित नहीं) वितरित करं, और ऐसयोगदानों क व्यत्पन्न कार्यों को तयार ै करना या अन्य कार्यों मं शामिल करना, और पर्वूगामी र्व क उप-लाइससं प्रदान करना और अधिकृत करना। उपयोग और वितरण किसी भी मीडिया प्रारूप मंऔर किसी भी मीडिया चनलै क माध्यम सहो सकता है।
        p यह लाइससं अब ज्ञात या इसक बाद विकसित किसी भी रूप, मीडिया या तकनीक पर लागूहोगा और इसमंआपक नाम, कंपनी का नाम और फ्रंचाइजी नाम, यदि लागूहो, क साथ-साथ किसी भी ट्रडमार्क, सवा चिह्न, व्यापार नाम, लोगो और व्यक्तिगत का उपयोग शामिल है। आपक द्वारा प्रदान की गई व्यावसायिक छवियां। आप अपनयोगदानों मंसभी नतिै क अधिकारों का त्याग करतहैंऔर आश्वासन दतहैं कि आपक योगदानों मंनतिै क अधिकारों का अन्यथा दावा नहींकिया गया है।
        p हम आपक योगदान क स्वामित्व का दावा नहींकरतहैं। आप अपनसभी योगदानों और किसी भी बौद्धिक संपदा या आपक योगदान सजड़ अन्य मालिकाना अधिकारों पर पर्णू र्णस्वामित्व रखतहैं। हम सवाओं क किसी भी क्षत्र मंआपक योगदान मंदिए गए किसी भी बयान या प्रतिनिधित्व क लिए ज़िम्मदार नहीं हैं। आप सवाओं मंअपनयोगदान क लिए परूी तरह सजिम्मदार हैंऔर स्पष्ट रूप सहमंकिसी भी दायित्व समक्त करनऔर आपक योगदान क संबंध मंहमारखिलाफ किसी भी काननी ू कार्रवाई सबचनक लिए सहमत हैं।
        p हमंअपनएकमात्र और पर्णू र्णविवक सनिम्नलिखित का अधिकार है: 1. किसी भी सामग्री को संपादित या अन्यथा संशोधित करना; 2. किसी भी योगदान को सवाओं पर अधिक उपयक्त स्थानों पर रखनक लिए उसपनः  वर्गीकृत करं; 3. किसी भी समय और किसी भी कारण स बिना किसी सचना ू क किसी भी सामग्री की प्री-स्क्रीनिगं करंया उसहटा दं। आपक योगदान को ट्रैक करनका हमारा कोई दायित्व नहीं है।
        h3 12. समीक्षा क लि ए दि शानि र्दश
        p हम आपको सवाओं पर ऐसक्षत्र प्रदान कर सकतहैंजहां आप समीक्षा या रटिगं छोड़ सकतहैं। समीक्षा पोस्ट करतसमय, आपको निम्नलिखित मानदंडों का पालन करना होगा: 1. जिस व्यक्ति/इकाई की समीक्षा की जा रही हैउसक साथ आपका प्रत्यक्ष अनभव होना चाहिए; 2. आपकी समीक्षाओं मंआपत्तिजनक अपवित्रता या नस्लवादी, घणा ृ स्पद भाषा नहीं होनी चाहिए; 3. आपकी समीक्षाओं मंधर्म,र्म जाति, लिगं , राष्ट्रीय मलू , आय, ववा ै हिक स्थिति, यौन रझान या विकलांगता क आधार पर भदभावपर्णू र्णसंदर्भ नहीं होनचाहिए; 4. आपकी समीक्षाओं मंअवधै गतिविधियों का संदर्भ नहीं होना चाहिए; 5. यदि आप नकारात्मक समीक्षाएँप्रकाशित करतहैंतो आपको प्रतिस्पर्धियर्धि ों ससंबद्ध नहीं होना चाहिए; 6. आपको आचरण की वधता ै क संबंध मंकोई निष्कर्ष नहींनिकालना चाहिए; 7. आप गलत या भ्रामक बयान पोस्ट नहीं कर सकत; 8. आप ऐसा कोई अभियान आयोजित नहींकर सकतजो दसर ू ों को समीक्षा पोस्ट करनक लिए प्रोत्साहित करता हो, चाहवह सकारात्मक हो या नकारात्मक।
        p हम अपनविवक पर समीक्षाओं को स्वीकार, अस्वीकार या हटा सकतहैं। समीक्षाओंको सत्यापित करनया हटानका हमारा कोई दायित्व नहीं है, भलही किसी को वआपत्तिजनक या गलत लगं। समीक्षाएँहमारद्वारा समर्थितर्थि नहीं हैंऔर जरूरी नहींकि वहमारी राय या हमार किसी सहयोगी या भागीदार क विचारों को प्रतिबिबिं त करं। हम किसी भी समीक्षा क लिए या किसी भी समीक्षा सउत्पन्न होनवालकिसी भी दाव, दनदारियों या क्षति क लिए ज़िम्मदार नहीं हैं। एक समीक्षा पोस्ट करक, आप हमंकिसी भी माध्यम सपन : पश करन, संशोधित करन, अनवाद  करन, प्रसारित करन, प्रदर्शितर्शि करन, प्रदर्शनर्श करनऔर/या करनक लिए एक सतत, गैर-विशिष्ट, विश्वव्यापी, रॉयल्टी मक्त, परूी तरह सभगतान  योग्य, असाइन करनयोग्य और उप-लाइससं योग्य अधिकार और लाइससं प्रदान करतहैं। समीक्षा ससंबंधित सभी सामग्री वितरित करं।
        h3 13. मोबाइल एप्लीकशन लाइसस
        p लाइससं का उपयोग
        p यदि आप ऐप क माध्यम ससवाओं तक पहंचतहैं, तो हम आपको आपक स्वामित्व या नियंत्रण वालवायरलस इलक्ट्रॉनिक उपकरणों पर ऐप इंस्टॉल करन और उपयोग करन का, और ऐप को एक्सस करन और उपयोग करन का एक प्रतिसंहरणीय, गैर-अनन्य, गैर-हस्तांतरणीय, सीमित अधिकार प्रदान करतहैं। ऐसउपकरण सख्ती सइन काननी ू शर्तों मंनिहित इस मोबाइल एप्लिकशन लाइससं क नियमों और शर्तों क अनसार  हैं। आप ऐसा नहीं कर सकत: 1. लागूकाननू द्वारा अनम ति क अलावा, एप्लिकशन को डिकंपाइल, रिवर्स इंजीनियर, डिसअसबलं , स्रोत कोड प्राप्त करनया समझनका प्रयास नहीं कर सकत; 2. एप्लिकशन सकोई भी परिवर्तनर्त , अनकूलन, सधार  , परिवर्धनर्ध , अनवाद  या व्यत्पन्न कार्य करना; 3. एप्लिकशन तक आपकी पहंच या उपयोग क संबंध मंकिसी भी लागूकाननू , नियम या विनियम का उल्लंघन करना; 4. हमार या ऐप क लाइससदाताओ ं ं द्वारा पोस्ट किए गए किसी भी मालिकाना नोटिस (किसी भी कॉपीराइट या ट्रडमार्क नोटिस सहित) को हटाएं, बदलंया अस्पष्ट करं; 5. किसी भी राजस्व सजनृ प्रयास, वाणिज्यिक उद्यम, या अन्य उद्दश्य क लिए ऐप का उपयोग करं जिसक लिए इसका इरादा नहीं है; 6. एप्लिकशन को एक ही समय मं एकाधिक डिवाइस या उपयोगकर्ताओं द्वारा पहंच या उपयोग की अनम ति दनवालनटवर्क या अन्य वातावरण पर उपलब्ध कराएं; 7. ऐसउत्पाद, सवा या सॉफ़्टवयर बनानक लिए ऐप का उपयोग करंजो प्रत्यक्ष या अप्रत्यक्ष रूप सऐप क साथ प्रतिस्पर्धी हो या किसी भी तरह सउसका विकल्प हो; 8. किसी भी वबसाइट पर स्वचालित प्रश्न भजनया अवांछित व्यावसायिक ई-मल भजनक लिए ऐप का उपयोग करं; 9. ऐप क साथ उपयोग क लिए किसी भी एप्लिकशन, एक्ससरीज़ या डिवाइस क डिज़ाइन, विकास, निर्माण, लाइससिं गं या वितरण मंकिसी भी मालिकाना जानकारी या हमारकिसी इंटरफ़स या हमारी अन्य बौद्धिक संपदा का उपयोग करं।
        p Apple और Android डिवाइस
        p जब आप सवाओं तक पहंचनक लिए ऐप्पल स्टोर या Google Play (प्रत्यक एक "ऐप वितरक") सप्राप्त ऐप का उपयोग करतहैंतो निम्नलिखित शर्तं लागूहोती हैं: 1. हमारऐप क लिए आपको दिया गया लाइससं एक गैर-हस्तांतरणीय लाइससं तक सीमित है। ऐप्पल आईओएस या एंड्रॉइड ऑपरटिगं सिस्टम का उपयोग करन वालडिवाइस पर एप्लिकशन का उपयोग करं, जसा ै लागूहो, और लागू एप्लिकशन वितरक की सवा की शर्तों मंनिर्धारित उपयोग नियमों क अनसार  ; 2. हम इन काननी ू शर्तों मंशामिल इस मोबाइल एप्लिकशन लाइससं क नियमों और शर्तों क अनसार  या अन्यथा लागूकाननू क तहत आवश्यक एप्लिकशन क संबंध मंकोई भी रखरखाव और सहायता सवाएं प्रदान करनक लिए जिम्मदार हैं, और आप स्वीकार करतहैंकि प्रत्यक एप्लिकशन वितरक क पास एप्लिकशन क लिए कोई रखरखाव या सहायता सवाएँप्रदान करनका कोई दायित्व नहीं है; 3. ऐप क किसी भी लागूवारंटी क अनरू प विफल होनकी स्थिति मं, आप लागूऐप वितरक को सचिू त कर सकतहैं, और ऐप वितरक, अपनी शर्तों और नीतियों क अधीन, भगतान  की गई खरीद मल्ूय, यदि कोई हो, वापस कर सकता है। एप्लिकशन क संबंध मं, और लागूकाननू द्वारा अनमत अधिकतम सीमा तक, एप्लिकशन वितरक क पास एप्लिकशन क संबंध मंकोई अन्य वारंटी दायित्व नहीं होगा; 4. आप प्रतिनिधित्व करतहैंऔर आश्वासन दतहैंकि आप ऐसदश मंनहीं हैं जो अमरिकी सरकार क प्रतिबंध क अधीन है, या जिसअमरिकी सरकार द्वारा "आतंकवादी समर्थकर्थ " दश क रूप मंनामित किया गया है और आप किसी भी अमरिकी सरकार की सची ू मंसचीब ू द्ध नहीं हैं। निषिद्ध या प्रतिबंधित पार्टियाँ; 5. एप्लिकशन का उपयोग करतसमय आपको तीसरपक्ष क समझौतकी लागूशर्तों का पालन करना होगा; 6. आप स्वीकार करतहैंऔर सहमत हैंकि ऐप वितरक इन काननी ू शर्तों मं शामिल इस मोबाइल एप्लिकशन लाइससं क नियमों और शर्तों क तीसर पक्ष क लाभार्थी हैं, और प्रत्यक ऐप वितरक क पास अधिकार होगा (और यह माना जाएगा कि उसनअधिकार स्वीकार कर लिया है) इस मोबाइल एप्लिकशन लाइससं मंनियम और शर्तों को लागूकरनक लिए। इन काननी ू शर्तों मंनिहित ततीय ृ -पक्ष लाभार्थी क रूप मंआपक विरद्ध हैं।
        h3 14. सोशल नटवर्क
        p सवाओं की कार्यक्षर्य मता क भाग क रूप मं, आप अपनखातको ततीय ृ -पक्ष सवा प्रदाताओं (प्रत्यक ऐसखात, एक "ततीय ृ -पक्ष खाता") क साथ अपनऑनलाइन खातों सलिकं कर सकतहैं: 1. अपना ततीय ृ -पक्ष खाता प्रदान करक, सवाओंक माध्यम सलॉगिन जानकारी; या 2. प्रत्यक ततीय ृ -पक्ष खातक आपक उपयोग को नियंत्रित करनवाललागूनियमों और शर्तों क अनसार  हमंआपक ततीय ृ -पक्ष खाततक पहंच प्रदान करना। आप प्रतिनिधित्व करतहैंऔर आश्वासन दतहैंकि आप अपनततीय ृ -पक्ष खातकी लॉगिन जानकारी हमंप्रकट करन और/या हमंअपनततीय ृ -पक्ष खाततक पहंच प्रदान करनक हकदार हैं, बिना आपक द्वारा लागूकिसी भी नियम और शर्तों का उल्लंघन किए, जो आपक उपयोग को नियंत्रित करतहैं। ततीय ृ -पक्ष खाता, और हम किसी भी शल्क का भगतान  करनक लिए बाध्य नहीं हैंऔर ततीय ृ -पक्ष खातक ततीय ृ -पक्ष सवा प्रदाता द्वारा लगाए गए किसी भी उपयोग प्रतिबंध क अधीन नहीं हैं। हमंकिसी भी तीसरपक्ष क खात तक पहंच प्रदान करक, आप समझतहैंकि: 1. हम आपक तीसर पक्ष क खात("सोशल नटवर्क") मंआपक द्वारा प्रदान की गई और संग्रहीत किसी भी सामग्री तक पहंच, साझा और संग्रहीत (यदि लागूहो) कर सकतहैं। और उपयोगकर सकतहैं; और 2. हम आपक सोशल नटवर्क क साथ जड़ किसी भी जानकारी क लिए जिम्मदार नहीं हैंऔर आपको उसक उपयोग और प्रकटीकरण क संबंध मं सोशल नटवर्क की गोपनीयता नीतियों की समीक्षा करनी चाहिए। आपक तीसर पक्ष क खात स संबंधित सभी जानकारी जो हमंप्रदान की जाती हैया हम तक पहंचती है, हमारी गोपनीयता नीति क अधीन होगी और हमार द्वारा उसक संग्रह, उपयोग और प्रकटीकरण क लिए उपयोग की जाएगी। आप इस अनबंध क तहत हमंअपन तीसर पक्ष क खात क साथ अपन संबंध को समाप्त करनका अधिकार सरक्षित रखतहैं। आपक तीसर पक्ष क खात की सामग्री का कोई भी उपयोग जो हमार द्वारा किया जाता है, वह कवल उस सामग्री और डटा क भीतर होता हैजो आपन हमंप्रदान किया हैया हमंइस एक्सस करनकी अनमति दी है।
        h3 15. ततृीय-पक्ष वबसाइटंऔर सामग्री
        p सवाओं मं अन्य वबसाइटों क लिंक शामिल हो सकत हैं, साथ ही लख, तस्वीरं, पाठ, ग्राफिक्स, चित्र, डिज़ाइन, संगीत, ध्वनि, वीडियो, जानकारी, एप्लिकशन, सॉफ़्टवयर और अन्य सामग्री या आइटम जो तीसर पक्ष क स्वामित्व मं हैं या उनस उत्पन्न हए हैं। ऐसी तृतीय-पक्ष वबसाइटों और तृतीय-पक्ष सामग्री की सटीकता, उपयक्तता या पूर्णता क लिए हमार द्वारा जांच, निगरानी या समीक्षा नहीं की जाती है, और हम सवाओं क माध्यम स एक्सस की गई किसी भी तृतीय-पक्ष वबसाइट क लिए ज़िम्मदार नहीं हैं। किसी तृतीय-पक्ष वबसाइट या किसी तृतीय-पक्ष सामग्री को शामिल करन, लिंक करन या उसक उपयोग या स्थापना को अधिकृत करन का अर्थ हमार द्वारा समर्थन नहीं है। यदि आप सवाओं को छोड़न और तीसर पक्ष की वबसाइटों तक पहँचन या किसी तृतीय-पक्ष की सामग्री का उपयोग या स्थापित करन का विकल्प चनत हैं, तो आप ऐसा अपन जोखिम पर करत हैं और आपको यह समझना चाहिए कि य कानूनी शर्तं अब लागू नहीं हैं। आपको सवाओं स उपयोग की जान वाली किसी भी वबसाइट या सवाओं स आपक द्वारा उपयोग या इंस्टॉल किए गए किसी भी एप्लिकशन क संबंध मं गोपनीयता और डटा संग्रह प्रथाओं सहित लागू नियमों और नीतियों स खद को परिचित करना चाहिए। तृतीय-पक्ष की वबसाइटों क माध्यम स आपक द्वारा की गई कोई भी खरीदारी अन्य वबसाइटों और अन्य कंपनियों क माध्यम स की जाएगी, और ऐसी खरीदारी क संबंध मं हमारी कोई जिम्मदारी या दायित्व नहीं है, जो पूरी तरह स आपक और लागू तृतीय-पक्ष क बीच है। आप सहमत हैं और स्वीकार करत हैं कि हम तृतीय-पक्ष की वबसाइटों पर पश किए गए उत्पादों या सवाओं का समर्थन नहीं करत हैं, और आप ऐस उत्पादों या सवाओं की खरीद क किसी भी परिणाम क लिए हमं हर्जाना दंग।
        h3 16. वि ज्ञापनदाता
        p हम विज्ञापनदाताओं को अपनविज्ञापन और अन्य जानकारी सवाओं क कछ क्षत्रों, जसै साइडबार विज्ञापन या बनर ै विज्ञापन, मंप्रदर्शितर्शि करनकी अनम ति दतहैं। हम कवल ऐसविज्ञापनों क लिए स्थान प्रदान करतहैंऔर विज्ञापनदाताओंक साथ हमारा कोई अन्य संबंध नहीं है।
        h3 17. सवा प्रबधं न
        p हम अधिकार सरक्षित रखतहैं, लकिन दायित्व नहीं: 1. इन काननी ू शर्तों क उल्लंघन क लिए सवाओं की निगरानी करना; 2. जो कोई भी अपनविवक सकाननू या इन काननी ू शर्तों का उल्लंघन करता है, उसक खिलाफ उचित काननी ू कार्रवाई करं, जिसमंबिना किसी सीमा क ऐसउपयोगकर्ताको काननू प्रवर्तनर्त अधिकारियों को रिपोर्ट करना शामिल है; 3. अपनविवक सऔर बिना किसी सीमा क, आपक किसी भी योगदान या उसक किसी भी हिस्सको अस्वीकार करं, पहंच प्रतिबंधित करं, उपलब्धता सीमित करं, या अक्षम करं(तकनीकी रूप ससंभव सीमा तक); 4. अपनविवक सऔर बिना किसी सीमा, नोटिस या दायित्व क, उन सभी फाइलों और सामग्री को सवाओं सहटा दंया अन्यथा अक्षम कर दंजो आकार मंअत्यधिक हैंया किसी भी तरह सहमारसिस्टम क लिए बोझिल हैं; 5. अन्यथा हमारअधिकारों और संपत्ति की रक्षा करनऔर सवाओंक उचित कामकाज को सवि धाजनक बनानक लिए डिज़ाइन किए गए तरीक ससवाओंका प्रबंधन करं।
        h3 18. गोपनीयता नीति
        p हम गोपनीयता और डटा  सरक्षा की परवाह करतहैं। कृपया हमारी गोपनीयता नीति पढ़ं: https://shumble.city/privacy.html। सवाओंका उपयोग करक, आप हमारी गोपनीयता नीति का पालन करनक लिए सहमत हैं, जो इन काननी ू शर्तों मंशामिल है। कृपया ध्यान दंकि सवाएँसंयक्त अरब अमीरात मंप्रदान की जाती हैं। यदि आप दनि या क किसी अन्य क्षत्र ससवाओं का उपयोग करतहैंजहां व्यक्तिगत डटा  क संग्रह, उपयोग या प्रकटीकरण को नियंत्रित करनवालकाननू या अन्य आवश्यकताएं संयक्त अरब अमीरात मंलागूकाननू ों स भिन्न हैं, तो सवाओं का उपयोग जारी रखकर, आप स्थानांतरित कर रहहैंआपका डटा  संयक्त अरब अमीरात को, और आप अपनडटा  को संयक्त अरब अमीरात मंस्थानांतरित करनऔर संसाधित करनक लिए स्पष्ट रूप ससहमति दतहैं।
        h3 19. अवधि और समाप्ति
        p जब तक आप सवाओंका उपयोग करंगतब तक यकाननी ू शर्तं परूी तरह लागूऔर प्रभावी रहंगी। बिना किसी सीमा क
        p इन काननी ू शर्तों क अन्य प्रावधानों क अनसार  , हम अपनविवकानसार  , बिना किसी सचना ू या उत्तरदायित्व क, सवाओं तक पहंच और उपयोग सइनकार करन(अवरद्ध करनसहित) का अधिकार सरक्षित रखतहैं।
        p कछ आईपी पत) किसी भी व्यक्ति को किसी भी कारण स, जिसमंउल्लंघन भी शामिल है, लकिन यहींतक सीमित नहीं है
        p इन काननी ू शर्तों या किसी लागूकाननू या विनियमन मंनिहित किसी भी प्रतिनिधित्व, वारंटी या अनबंध का। हम अपनविवक स, बिना किसी सचना ू क, किसी भी समय सवाओंका उपयोग या उनमंभागीदारी समाप्त कर सकतहैं, या आपका खाता और आपक द्वारा पोस्ट की गई किसी भी सामग्री या जानकारी को हटा सकतहैं।
        p यदि हम किसी भी कारण सआपका खाता समाप्त या निलंबित करतहैं, तो आपको अपननाम, किसी काल्पनिक या उधार लिए गए नाम, या किसी तीसरपक्ष क नाम क तहत एक नया खाता पंजीकृत करनया बनानसप्रतिबंधित कर दिया जाएगा, भलही आप किसी तीसरकी ओर सकार्य कर रहहों। दल। आपक खातको समाप्त करनया निलंबित करनक अलावा, हम उचित काननी ू कार्रवाई करनका अधिकार सरक्षित रखतहैं, जिसमंनागरिक, आपराधिक और निषधा  ज्ञा राहत शामिल है, लकिन इन्हींतक सीमित नहीं है।
        h3 20. सशं ोधन और व्यवधान
        p हम बिना किसी सचना ू क अपनविवक सकिसी भी समय और किसी भी कारण ससवाओंससामग्री को बदलन, संशोधित करनया हटान का अधिकार सरक्षित रखतहैं। हालाँकि, हमारी सवाओं पर किसी भी जानकारी को अद्यतन करनका हमारा कोई दायित्व नहीं है। हम सवाओंमंकिसी भी संशोधन, मल्ूय परिवर्तनर्त , निलंबन या समाप्ति क लिए आपक या किसी तीसरपक्ष क प्रति उत्तरदायी नहीं होंग।
        p हम इसकी गारंटी नहीं दसकतकि सवाएँहर समय उपलब्ध रहंगी। हमंहार्डवर्ड यर, सॉफ़्टवयर या अन्य समस्याओंका अनभव हो सकता है या सवाओं ससंबंधित रखरखाव की आवश्यकता हो सकती है, जिसक परिणामस्वरूप रकावटं, दरी या त्रटि याँहो सकती हैं। हम बिना किसी सचना ू क किसी भी समय और किसी भी कारण ससवाओं को बदलन, संशोधित करन, अद्यतन करन, निलंबित करन, बंद करनया अन्यथा संशोधित करनका अधिकार सरक्षित रखतहैं। आप सहमत हैंकि हम डाउनटाइम या सवाओं क बंद होनक दौरान सवाओंतक पहंचनया उपयोग करनमंआपकी असमर्थता र्थ क कारण होनवाली किसी भी हानि, क्षति या असवि धा क लिए उत्तरदायी नहीं होंग। इन काननी ू शर्तों मंकिसी भी चीज़ को हमंसवाओं को बनाए रखनया उसक संबंध मंकोई पचै , अपडट या रिलीज़ प्रदान करनक लिए बाध्य नहींमाना जाएगा।
        h3 21. लागूकानन
        p यकाननी ू शर्तं संयक्त अरब अमीरात क काननू ों क अनसार  शासित और निर्धारित की जाएंगी और आप इस बात सपरूी तरह सहमत हैंकि इन काननी ू शर्तों क संबंध मंउत्पन्न होनवालकिसी भी विवाद को निपटानक लिए संयक्त अरब अमीरात की अदालतों क पास विशष क्षत्राधिकार होगा।
        h3 22. वि वाद समाधान
        p अनौपचारिक बातचीत
        p आपक या हमारद्वारा लाए गए इन काननी ू शर्तों ससंबंधित किसी भी विवाद, विवाद या दावक समाधान मंतजी  लानऔर लागत को नियंत्रित करनक लिए, पार्टियां मध्यस्थता शरू होनसकम सकम 30 दिन पहलकिसी भी विवाद को अनौपचारिक रूप सहल करनका प्रयास करनक लिए सहमत हैं। ऐसी अनौपचारिक बातचीत एक पक्ष द्वारा दसर ू पक्ष को लिखित सचना ू पर शरू होगी।
        p बाध्यकारी मध्यस्थता
        p इन काननी ू शर्तों सउत्पन्न होनवालकिसी भी विवाद, जिसमंउनक अस्तित्व या समाप्ति क बारमंकोई भी प्रश्न शामिल है, को नियमों क तहत यरोपीय ू मध्यस्थता न्यायालय (बल्जियम, ब्रस ल्स, एवन्यूलईस 146) मंअतं र्राष्ट्रीय वाणिज्यिक मध्यस्थता न्यायालय मंभजा जाएगा और अततः ं निपटाया जाएगा। इस आईसीएसी क संदर्भ क आधार पर, जिसइस परा ै ग्राफ का हिस्सा माना जाएगा। मध्यस्थों की संख्या तीन होगी 3. मध्यस्थता की सीट या काननी ू स्थान दबई , संयक्त अरब अमीरात होगा। कार्यवाह र्य ी की भाषा अग्रं जी होगी। इन काननी ू शर्तों का लागूकाननू संयक्त अरब अमीरात का मलू काननू होगा।
        p सीमाएँ
        p पार्टियां इस बात पर सहमत हैंकि कोई भी मध्यस्थता पार्टियों क बीच व्यक्तिगत विवादों तक ही सीमित होगी। काननू द्वारा अनमत पर्णू र्ण सीमा तक, किसी भी मध्यस्थता को किसी अन्य कार्यवाह र्य ी क साथ समकित नहींकिया जाएगा; किसी भी विवाद को वर्ग कार्रवाई क आधार पर हल करनया वर्ग कार्रवाई प्रक्रियाओं का उपयोग करनका कोई अधिकार या अधिकार नहीं है; और आम जनता या किसी अन्य व्यक्ति की ओर सकथित प्रतिनिधि क्षमता मंकिसी भी विवाद मंमध्यस्थता करनका कोई अधिकार या अधिकार नहीं है।
        p अनौपचारिक बातचीत और मध्यस्थता क अपवाद
        p पार्टियां इस बात पर सहमत हैंकि निम्नलिखित विवाद अनौपचारिक बातचीत क लिए बाध्यकारी मध्यस्थता क उपरोक्त प्रावधानों क अधीन नहीं होंग: (ए) किसी पार्टी क किसी भी बौद्धिक संपदा अधिकारों को लागूकरनया संरक्षित करनया उसकी वधता ै ससंबंधित कोई भी विवाद; (बी) चोरी, चोरी, गोपनीयता क उल्लंघन या अनधिकृत उपयोग क आरोपों सजड़ा या उत्पन्न होनवाला कोई भी विवाद; (सी) निषधा  ज्ञा राहत क लिए कोई दावा। यदि यह प्रावधान अवधै या अप्रवर्तनीय र्त पाया जाता है, तो कोई भी पक्ष इस प्रावधान क हिस्सक भीतर आनवालकिसी भी विवाद को अवधै या अप्रवर्तनीय र्त पाए जानपर मध्यस्थता करनका चनाव  नहींकरगा, और ऐसविवाद को सचीब ू द्ध अदालतों क भीतर सक्षम क्षत्राधिकार वाली अदालत द्वारा हल किया जाएगा। उपरोक्त क्षत्राधिकार क लिए, और पक्ष उस न्यायालय क व्यक्तिगत क्षत्राधिकार को प्रस्तत करनक लिए सहमत हैं।
        h3 23. सधार
        p सवाओं पर ऐसी जानकारी हो सकती हैजिसमंविवरण, मल्ूय निर्धारण, उपलब्धता और विभिन्न अन्य जानकारी सहित मद्रण संबंधी त्रटि यां, अशद्धियां या चकू शामिल हों। हम किसी भी त्रटि , अशद्धि या चकू को ठीक करनऔर बिना किसी पर्वू र्वसचना ू क किसी भी समय सवा क बारमंजानकारी बदलनया अपडट करनका अधिकार सरक्षित रखतहैं।
        h3 24. अस्वीकरण
        p आप सहमत हैंकि सवाओं का उपयोग आपका एकमात्र जोखिम है। काननू द्वारा अनमत अधिकतम सीमा तक, हम सवाओंऔर आपक उपयोग क संबंध मं व्यक्त या निहित सभी वारंटियों को अस्वीकार करतहैं, जिनमंव्यापारिकता, व्यापारिकता, विशिष्ट उद्दश्य और गैर-उल्लंघन की निहित वारंटी शामिल हैं, लकिन इन्हीं तक सीमित नहीं हैं। हम सवाओं की सामग्री या सवाओंसजड़किसी भी वबसाइट या मोबाइल एप्लिकशन की सामग्री की सटीकता या पर्णू ता र्ण क बारमंकोई वारंटी या अभ्यावदन नहीं दतहैं, और हम (1) सामग्री मंत्रटि यों  प्रकार की व्यक्तिगत चोट या संपत्ति की क्षति, (3) हमार सरक्षित सर्वरर्व और/या सभी व्यक्तिगत जानकारी और/या संग्रहित वित्तीय जानकारी क किसी भी अनधिकृत पहंच या उपयोग क परिणामस्वरूप उनमं(4) सवाओं क प्रसारण मंकोई भी रकावट, (5) कोई भी बग, वायरस, ट्रोजन हॉर्स या उसक जसा ै कछ जो किसी तीसर पक्ष द्वारा सवाओं क माध्यम सप्रसारित किया जा सकता है, (6) किसी भी सामग्री या सामग्री मंकोई त्रटि या सवाओं क माध्यम सपोस्ट की गई, प्रसारित या अन्यथा उपलब्ध किसी भी सामग्री क उपयोग क परिणामस्वरूप हई किसी भी प्रकार की कोई हानि या अवधि। हम किसी भी बनर ै या अन्य विज्ञापन मंप्रदान की गई सवाओ,ं किसी भी वबसाइट, हाइपरलिक्ं ड, या किसी भी वबसाइट या मोबाइल एप्लिकशन क माध्यम सतीसरपक्ष द्वारा विज्ञापित या पश किए गए किसी भी उत्पाद या सवा क लिए गारंटी, समर्थनर्थ , गारंटी या जिम्मदार नहीं हैं। कोई भी नहीं होगा आपक और उत्पादों या सवाओंक तीसरपक्ष क प्रदाताओं क बीच किसी भी लनदन की निगरानी की जिम्मदारी। किसी भी माध्यम या किसी भी वातावरण मंकिसी उत्पाद या सवा की खरीद क मामलमं, आपको अपना सर्वश्रर्व ष्ठ निर्णयर्ण लना चाहिए और सावधानी बरतनी चाहिए।
        h3 25. दायि त्व की सीमाएँ
        p किसी भी स्थिति मंहम या हमारनिदशक, कर्मचार र्म ी या एजंट किसी भी प्रत्यक्ष, अप्रत्यक्ष, आकस्मिक, विशष या दंडात्मक क्षति क लिए आपक या किसी तीसरपक्ष क प्रति उत्तरदायी नहीं होंग, जिसमंखोया हआ लाभ, राजस्व की हानि, डटा  की हानि, या उत्पन्न होनवाली अन्य क्षति शामिल है। आपकी सवाओंक उपयोग क बारमं, भलही हमंऐसनकसान  की संभावना क बारमंसलाह दी गई हो।
        h3 26. नकसान की भरपा<ई></ई>
        p आप हमारी सहायक कंपनियों, सहयोगियों और हमार सभी संबंधित अधिकारियों, एजंटों, भागीदारों और कर्मचा र्म रियों सहित हमारी रक्षा करन, क्षतिपर्तिू र्तिकरनऔर हमंकिसी भी नकसान  , क्षति, दायित्व, दावया मांग सहानिरहित रखनक लिए सहमत हैं। निम्नलिखित क संबंध मंकिसी तीसरपक्ष द्वारा किए गए शल्क और व्यय: (1) आपकी फीस; (2) सवाओंका उपयोग; (3) इन काननी ू शर्तों का उल्लंघन; (4) इन काननी ू शर्तों मंनिर्धारित आपक अभ्यावदन और वारंटी का कोई भी उल्लंघन; (5) तीसरपक्ष क अधिकारों का आपका उल्लंघन, जिसमंबौद्धिक संपदा अधिकार भी शामिल हैं, लकिन इन्हींतक सीमित नहीं हैं; और (6) सवा क किसी अन्य उपयोगकर्ताक लिए कोई भी अत्यधिक हानिकारक कार्य।र्य पर्वूगामी र्व क बावजदू , हम आपक खर्च पर, किसी भी मामलकी विशष रक्षा और नियंत्रण ग्रहण करनका अधिकार सरक्षित रखतहैंजिसक लिए आपको हमंक्षतिपर्तिू र्तिकरनकी आवश्यकता होती है, और आप ऐसदावों क हमारबचाव मंअपन  क बाद हम आपको सचिू त करनक लिए उचित प्रयास करंग।
        h3 27. उपयोगकर्ता डटा
        p हम सवाओं क प्रदर्शनर्श को प्रबंधित करनक उद्दश्य सआपक द्वारा सवाओं को प्रषित कछ डटा  , साथ ही सवाओं क आपक उपयोग स संबंधित डटा  को बनाए रखंग। हालाँकि हम नियमित आधार पर डटा  का बकअप ै लतहैं, फिर भी आप जो भी डटा  संचारित करतहैंया सवाओंका उपयोग करक आपक द्वारा की गई किसी भी गतिविधि ससंबंधित है, उसक लिए आप परूी तरह सजिम्मदार हैं। आप सहमत हैं कि ऐसकिसी भी डटा  क नकसान  या भ्रष्टाचार क लिए हमारपास आपक प्रति कोई दायित्व नहीं होगा, और आप ऐसडटा  क किसी भी नकसान  या भ्रष्टाचार सउत्पन्न होनवालहमारखिलाफ कार्रवाई क किसी भी अधिकार को छोड़ दतहैं।
        h3 28. इलक्ट्रॉनि क सचं ार, लनदन और हस्ताक्षर
        p सवाओं पर जाना, हमंईमल भजना और ऑनलाइन फॉर्म भरना इलक्ट्रॉनिक संचार कहलाता है। आप इलक्ट्रॉनिक संचार प्राप्त करनक लिए सहमति दतहैंऔर सहमत हैंकि सभी समझौत, नोटिस, प्रकटीकरण और अन्य संचार जो हम आपको इलक्ट्रॉनिक रूप स, ईमल द्वारा और सवाओंक माध्यम सप्रदान करतहैं, सभी काननी ू आवश्यकताओंको परा ू करतहैं, ऐससंचार लिखित रूप मंहोनचाहिए। इसक द्वारा आप इलक्ट्रॉनिक हस्ताक्षरों, अनबंध ों, आदशों और अन्य अभिलखों क उपयोग और हमारद्वारा या सवाओंक माध्यम सशरू किए गए या पर्णू र्णकिए गए लनदन क नोटिस, नीतियों और रिकॉर्ड की इलक्ट्रॉनिक डिलीवरी क लिए सहमति दतहैं। आप इसक द्वारा किसी भी अधिकार क्षत्र मंकिसी भी काननू , क़ाननू , विनियमन, नियम, अध्यादश या अन्य काननू क तहत किसी भी अधिकार या दावको माफ करत हैंजिसक लिए मलू हस्ताक्षर, गैर-इलक्ट्रॉनिक रिकॉर्ड की डिलीवरी या भंडारण, और इलक्ट्रॉनिक क अलावा किसी भी माध्यम सभगतान  या क्रडिट क विस्तार की आवश्यकता होती है। मतलब।
        h3 29. वि वि ध
        p यकाननी ू शर्तं,र्तं और सवाओं पर या उनक संबंध मंहमारद्वारा प्रकाशित कोई भी नीति या संचालन नियम, आपक और हमारबीच संपर्णू र्ण समझौतऔर समझ का गठन करतहैं। इन काननी ू शर्तों क किसी भी अधिकार या प्रावधान का प्रयोग करनया लागूकरनमंहमारी विफलता ऐसअधिकार या प्रावधान की छूट नहीं होगी। यकाननी ू शर्तं काननू द्वारा अनमत पर्णू र्णसीमा तक लागूहोंगी। हम किसी भी समय अपनकिसी भी या सभी अधिकारों और दायित्वों को दसर ू ों को सौंप सकतहैं। हम अपनउचित नियंत्रण सपरकिसी भी कारण सहोनवाली किसी भी हानि, क्षति, दरी या चकू क लिए उत्तरदायी नहीं होंग। यदि इन काननी ू शर्तों क किसी प्रावधान या प्रावधान क हिस्सको अवधै , अमान्य या अप्रवर्तनीय र्त माना जाता है, तो उस प्रावधान या प्रावधान क हिस्सको इन काननी ू शर्तों सअलग माना जाएगा और किसी भी शष प्रावधानों की वधता ै और प्रवर्तनीयता र्त को प्रभावित नहींकरगा। इन काननी ू शर्तों या सवाओंक उपयोग क परिणामस्वरूप आपक और हमार बीच कोई संयक्त उद्यम, साझदार  ी, रोजगार या एजंसी संबंध उत्पन्न नहीं होता है। आप सहमत हैंकि इन काननी ू शर्तों को इस तथ्य क आधार पर हमारविरद्ध नहीं माना जाएगा कि इन्हंहमारद्वारा तयार ै किया गया है। इसक द्वारा आप इन काननी ू शर्तों क इलक्ट्रॉनिक रूप और इन काननी ू शर्तों को निष्पादित करनक लिए पार्टियों क हस्ताक्षर की कमी क आधार पर किसी भी आपत्ति को माफ कर सकतहैं।
        h3 30. हमससपं र्क करं
        p सवाओं क बारमंकिसी शिकायत का समाधान करनक लिए या सवाओंक आपक उपयोग क बारमंअधिक जानकारी क लिए, हमसयहां संपर्क करं:
        p
            a(href="official@shuffle.city") official@shuffle.city
                | &nbsp;सवाओंक बारमंसामान्य प्रश्न
            p
            a(href="hugs@shuffle.city ") hugs@shuffle.city
                | &nbsp;सपोर्ट सवा
